<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米电视会员免费送 - 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v07/style.min.css?v=db498b9">
</head>

<body id="J_visibleWatcher" v-cloak>
    <div class="section mitv-vip-header">
        <div class="container">
            <a href="//www.mi.com/index.html" target="_black" class="logo"></a>
            <div class="link">
                <a href="//bbs.xiaomi.cn/t-12867994" target="_blank">了解活动规则 &gt;</a>
                <a href="//www.mi.com/index.html" target="_black">返回小米网 &gt;</a>
            </div>
            <div class="content" id="J_mitv_privilege">
                <a href="javascript:void(0);" class="links">{{headerTitle}}</a>
                <p>{{headerDesc}}</p>
                <div class="btn" id="js-NavBtn">
                    <a class="vip-privilege btn1 J_privilege_btn" href="javascript:void(0)" data-target="#privilege"><em>了解会员特权</em></a>
                    <a class="btn2 J_mitv_btn" href="javascript:void(0)" data-target="#mitv">挑电视</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section mitv-vip-privilege" id="privilege">
        <div class="container">
            <div class="text">
                <h2>{{mitvVipTitle}}</h2>
                <p>{{mitvVipDesc}}</p>
                <span class="mitv-privilege-con">
                    <img data-src="../../public/img/hd_v07/mitv-vip-logo.png?v=6b14b05">
                </span>
            </div>
            <ul class="container">
                <li class="list-li-01">
                    <div class="section-1 mitv-text">
                        <h2 class="title fontFamily">付费内容<br />全免费</h2>
                        <p>海量影视剧、大片为你全面免费
                            <br />开放，还同步上线爱奇艺VIP正版视频
                            <br />内容，看不完的大片、韩剧、美剧、
                            <br />宫廷剧，唯你专属。</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-02">
                    <div class="section-2 mitv-text">
                        <h2 class="title fontFamily">院线新片<br />最早看</h2>
                        <p>一个月为你省掉千元电影票！
                            <br />全年的院线热映大片，将陆续登陆
                            <br />小米电视，在家就能免费看!</p>
                    </div>
                </li>
                <li class="list-li-03">
                    <div class="section-3 mitv-text">
                        <h2 class="title fontFamily">正版<br />好莱坞大片</h2>
                        <p>为你独家播出20世纪福克斯、
                            <br />狮门影业2016新片! 好莱坞双雄
                            <br />旗下的全新大片将悉数登场，
                            <br />就在小米电视等着你！</p>
                    </div>
                    <span class="icon icon-left"></span>
                    <span class="icon icon-right"></span>
                </li>
                <li class="list-li-04">
                    <div class="section-4 mitv-text">
                        <h2 class="title fontFamily">独播网剧<br />抢先追</h2>
                        <p>小米电视全年同步播出
                            <br />数十部独家网剧，作为会员的你
                            <br />将第一时间免费观看！</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-05">
                    <div class="section-5 mitv-text">
                        <h2 class="title fontFamily">高清纪录片<br />超1000小时</h2>
                        <p>想看BBC纪录片再也不用四处
                            <br />找片源，超1000小时BBC Earth
                            <br />独家纪录片，一次让你看过瘾！</p>
                    </div>
                </li>
                <li class="list-li-06">
                    <div class="section-6 mitv-text">
                        <h2 class="title fontFamily">影院级<br />杜比音效</h2>
                        <p>会员福利不止内容多多，还有
                            <br />超震撼杜比音效加特，超千部大片
                            <br />支持杜比音效，一场视觉和听觉的
                            <br />盛宴就此开启！</p>
                    </div>
                    <span class="icon"></span>
                </li>
            </ul>
            <span class="qiy-privilege-con">
                <img data-src="../../public/img/hd_v07/qiy-vip-logo.png?v=747d515">
            </span>
            <ul class="container qiy-mitv-privilege">
                <li class="list-li-07">
                    <div class="section-7 mitv-text">
                        <h2 class="title fontFamily">7000部大片<br />免费看</h2>
                        <p>你的专属片库，剧情片、动作片、枪战
                            <br />片、爱情片、伦理片、动画片样样全</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-08">
                    <div class="section-8 mitv-text">
                        <h2 class="title fontFamily">付费内容<br />免广告</h2>
                        <p>为你过滤所有广告，让你不再
                            <br />被广告打扰，看到爽</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-09">
                    <div class="section-9 mitv-text">
                        <h2 class="title fontFamily">专属<br />身份标识</h2>
                        <p>会员私享身份标识
                            <br />尊贵身份一目了然</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-10">
                    <div class="section-10 mitv-text">
                        <h2 class="title fontFamily">下载<br />加速度</h2>
                        <p>速度翻倍，嗖嗖下载
                            <br />你喜欢的内容</p>
                    </div>
                </li>
                <li class="list-li-11">
                    <div class="section-11 mitv-text">
                        <h2 class="title fontFamily">播放<br />更高速</h2>
                        <p>在线播放速度更快
                            <br />看片追剧更爽</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-12">
                    <div class="section-12 mitv-text">
                        <h2 class="title fontFamily">演唱会<br />直播</h2>
                        <p>在家就能免费观看巨星Live演唱会
                            <br />路途远，票价贵的演唱会通通走开</p>
                    </div>
                </li>
            </ul>
            <span class="tip">*在小米电视激活小米电视会员季卡后，使用同一小米账号登录爱奇艺电脑端、平板APP和手机APP，均可享受爱奇艺会员权益。</span>
        </div>
    </div>
    <div class="section mitv-parts" id="mitv">
        <div class="container">
            <div class="content">
                <h2>{{mitvTitle}}</h2>
                <p>{{mitvDesc}}
                    <a href="//bbs.xiaomi.cn/t-12867994" target="_black" class="liaojie">了解活动规则 &gt;</a>
                </p>
                <span class="mitv-parts-logo">
                    <img v-bind:data-src="mitvPartsLogo">
                </span>
            </div>
            <ul class="container">
                <template v-for="(index, todo) in mitv_70_65_60_55">
                    <li class="mitv-list-0{{index + 1}}">
                        <a href="{{todo.url}}" target="_blank">
                            <img v-bind:src="'/public/img/hd_v07/' + todo.image" alt="{{todo.title}}">
                        </a>
                        <div class="box">
                            <div>
                                <h2>
                                    <a href="{{todo.url}}" target="_blank">{{todo.mitv_name}}<em>{{todo.mitv_type}}</em>{{todo.mitv_chicun}}</a>
                                </h2>
                                <p class="text">{{todo.desc}}</p>
                                <p class="price">{{todo.price}}
                                    <em v-if="todo.slot == '元'">元</em>
                                    <em v-if="todo.slot == '元起'">元起</em>
                                </p>
                                <a data-url="{{todo.url}}" class="J_buyBtn">
                                    <span class="buy-btn">{{todo.loading}}</span>
                                    <i class="iconfont"></i>
                                </a>
                                <span class="start">{{todo.start_time}}</span>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
            <span class="mitv-parts-header">
                <img v-bind:data-src="mitvPartsHeader">
            </span>
            <ul class="container">
                <template v-for="(index, todo) in mitv_48_43">
                    <li class="mitv-list-0{{index + 5}}">
                        <a href="{{todo.url}}" target="_blank">
                            <img v-bind:src="'/public/img/hd_v07/' + todo.image" alt="{{todo.title}}">
                        </a>
                        <div class="box">
                            <div>
                                <h2>
                                    <a href="{{todo.url}}" target="_blank">{{todo.mitv_name}}<em>{{todo.mitv_type}}</em>{{todo.mitv_chicun}}</a>
                                </h2>
                                <p class="text">{{todo.desc}}</p>
                                <p class="price">{{todo.price}}
                                    <em v-if="todo.slot == '元'">元</em>
                                    <em v-if="todo.slot == '元起'">元起</em>
                                </p>
                                <a data-url="{{todo.url}}" class="J_buyBtn">
                                    <span class="buy-btn">{{todo.loading}}</span>
                                    <i class="iconfont"></i>
                                </a>
                                <span class="start">{{todo.start_time}}</span>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section mitv-hezi" id="hezi">
        <div class="container">
            <div class="content">
                <h2>{{heziTitle}}</h2>
            </div>
            <ul class="container">
                <template v-for="(index, todo) in hezi">
                    <li class="hezi-list-0{{index + 1}}">
                        <a href="{{todo.url}}" target="_blank" class="figue-img">
                            <img :src="'/public/img/hd_v07/' + todo.image" alt="{{todo.title}}">
                        </a>
                        <div class="box">
                            <div>
                                <h2>
                                    <a href="{{todo.url}}" target="_blank">{{todo.title}}</a>
                                </h2>
                                <p class="text">{{todo.desc}}</p>
                                <p class="price">{{todo.price}}<em>元</em></p>
                                <a href="{{todo.url}}" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
            <ul class="mitv-hezi-parts">
                <template v-for="(index, todo) in heizParts">
                    <li class="hezi-list-0{{index + 4}}">
                        <a href="{{todo.url}}" target="_blank" class="figue-img">
                            <img :src="'/public/img/hd_v07/' + todo.image" alt="{{todo.title}}">
                        </a>
                        <div class="box">
                            <div>
                                <h2>
                                    <a href="{{todo.url}}" target="_blank">{{todo.title}}</a>
                                </h2>
                                <p class="text">{{todo.desc}}</p>
                                <p class="price">{{todo.price}}<em>元</em></p>
                                <a href="{{todo.url}}" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section mitv-yinxiang" id="yinxiang">
        <div class="container">
            <div class="content">
                <h2>{{yinxiangTitle}}</h2>
            </div>
            <ul class="container">
                <template v-for="(index, todo) in yinxiang">
                    <li class="yinxiang-list-0{{index +1}}">
                        <a href="{{todo.url}}" target="_blank" class="figue-img">
                            <img :src="'/public/img/hd_v07/' + todo.image" alt="{{todo.title}}">
                        </a>
                        <div class="box">
                            <div>
                                <h2>
                                    <a href="{{todo.url}}" target="_black">{{todo.yinxiang_name}}<em v-if="todo.yinxiang_em != ''">{{todo.yinxiang_em}}</em></a>
                                </h2>
                                <p class="text">{{todo.desc}}</p>
                                <p class="price">{{todo.price}}<em>元</em></p>
                                <a href="{{todo.url}}" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section mitv-footer">
        <div class="container">
            <div class="content">
                <span>京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号<br />探索黑科技，小米为发烧而生</span>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v07/script.min.js?v=ace580c"></script>
</body>

</html>