<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米电视会员免费送 - 小米商城</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v07/style.min.css?v=6e5587c">
</head>

<body id="J_visibleWatcher">
    <div class="section mitv-vip-header">
        <div class="container">
            <a href="//www.mi.com/index.html" target="_black" class="logo"></a>
            <div class="link">
                <a href="//bbs.xiaomi.cn/t-12867994" target="_blank">了解活动规则 &gt;</a>
                <a href="//www.mi.com/index.html" target="_black">返回小米网 &gt;</a>
            </div>
            <div class="content" id="J_mitv_privilege">
                <a href="javascript:void(0);" class="links">小米电视会员免费送</a>
                <p>4月30日-5月2日 买电视 送小米电视会员季卡＋爱奇艺VIP会员 (3个月)</p>
                <div class="btn" id="js-NavBtn">
                    <a class="vip-privilege btn1 J_privilege_btn" href="javascript:void(0)" data-target="#privilege"><em>了解会员特权</em></a>
                    <a class="btn2 J_mitv_btn" href="javascript:void(0)" data-target="#mitv">挑电视</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section mitv-vip-privilege" id="privilege">
        <div class="container">
            <div class="text">
                <h2 class="webfont">一个会员，双重特权</h2>
                <p>成为小米电视会员，将同时享受小米电视会员及爱奇艺VIP的全部特权。</p>
                <span class="mitv-privilege-con">
                <img data-src="../../public/img/hd_v07/mitv-vip-logo.png?v=a7e1803">
            </span>
            </div>
            <ul class="container">
                <li class="list-li-01">
                    <div class="section-1 mitv-text">
                        <h2 class="title fontFamily">付费内容<br />全免费</h2>
                        <p>海量影视剧、大片为你全面免费
                            <br />开放，还同步上线爱奇艺VIP正版视频
                            <br />内容，看不完的大片、韩剧、美剧、
                            <br />宫廷剧，唯你专属。</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-02">
                    <div class="section-2 mitv-text">
                        <h2 class="title fontFamily">院线新片<br />最早看</h2>
                        <p>一个月为你省掉千元电影票！
                            <br />全年的院线热映大片，将陆续登陆
                            <br />小米电视，在家就能免费看!</p>
                    </div>
                </li>
                <li class="list-li-03">
                    <div class="section-3 mitv-text">
                        <h2 class="title fontFamily">正版<br />好莱坞大片</h2>
                        <p>为你独家播出20世纪福克斯、
                            <br />狮门影业2016新片! 好莱坞双雄
                            <br />旗下的全新大片将悉数登场，
                            <br />就在小米电视等着你！</p>
                    </div>
                    <span class="icon icon-left"></span>
                    <span class="icon icon-right"></span>
                </li>
                <li class="list-li-04">
                    <div class="section-4 mitv-text">
                        <h2 class="title fontFamily">独播网剧<br />抢先追</h2>
                        <p>小米电视全年同步播出
                            <br />数十部独家网剧，作为会员的你
                            <br />将第一时间免费观看！</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-05">
                    <div class="section-5 mitv-text">
                        <h2 class="title fontFamily">高清纪录片<br />超1000小时</h2>
                        <p>想看BBC纪录片再也不用四处
                            <br />找片源，超1000小时BBC Earth
                            <br />独家纪录片，一次让你看过瘾！</p>
                    </div>
                </li>
                <li class="list-li-06">
                    <div class="section-6 mitv-text">
                        <h2 class="title fontFamily">影院级<br />杜比音效</h2>
                        <p>会员福利不止内容多多，还有
                            <br />超震撼杜比音效加特，超千部大片
                            <br />支持杜比音效，一场视觉和听觉的
                            <br />盛宴就此开启！</p>
                    </div>
                    <span class="icon"></span>
                </li>
            </ul>
            <span class="qiy-privilege-con">
            <img data-src="../../public/img/hd_v07/qiy-vip-logo.png?v=509087e">
        </span>
            <ul class="container qiy-mitv-privilege">
                <li class="list-li-07">
                    <div class="section-7 mitv-text">
                        <h2 class="title fontFamily">7000部大片<br />免费看</h2>
                        <p>你的专属片库，剧情片、动作片、枪战
                            <br />片、爱情片、伦理片、动画片样样全</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-08">
                    <div class="section-8 mitv-text">
                        <h2 class="title fontFamily">付费内容<br />免广告</h2>
                        <p>为你过滤所有广告，让你不再
                            <br />被广告打扰，看到爽</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-09">
                    <div class="section-9 mitv-text">
                        <h2 class="title fontFamily">专属<br />身份标识</h2>
                        <p>会员私享身份标识
                            <br />尊贵身份一目了然</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-10">
                    <div class="section-10 mitv-text">
                        <h2 class="title fontFamily">下载<br />加速度</h2>
                        <p>速度翻倍，嗖嗖下载
                            <br />你喜欢的内容</p>
                    </div>
                </li>
                <li class="list-li-11">
                    <div class="section-11 mitv-text">
                        <h2 class="title fontFamily">播放<br />更高速</h2>
                        <p>在线播放速度更快
                            <br />看片追剧更爽</p>
                    </div>
                    <span class="icon"></span>
                </li>
                <li class="list-li-12">
                    <div class="section-12 mitv-text">
                        <h2 class="title fontFamily">演唱会<br />直播</h2>
                        <p>在家就能免费观看巨星Live演唱会
                            <br />路途远，票价贵的演唱会通通走开</p>
                    </div>
                </li>
            </ul>
            <span class="tip">*在小米电视激活小米电视会员季卡后，使用同一小米账号登录爱奇艺电脑端、平板APP和手机APP，均可享受爱奇艺会员权益。</span>
        </div>
    </div>
    <div class="section mitv-parts" id="mitv">
        <div class="container">
            <div class="content">
                <h2 class="webfont">买电视送会员，好剧大片免费看</h2>
                <p>4月30日-5月2日 全系尺寸，买即赠小米电视会员季卡+爱奇艺VIP会员（3个月）。<a href="//bbs.xiaomi.cn/t-12867994" target="_black" class="liaojie">了解活动规则 &gt;</a></p>
                <span class="mitv-parts-logo">
                <img data-src="../../public/img/hd_v07/mitv-big-logo.png?v=67eaa63">
            </span>
            </div>
            <ul class="container">
                <li class="mitv-list-01">
                    <a href="//www.mi.com/mitv3/70/" target="_black">
                        <img data-src="../../public/img/hd_v07/mitv70-img.jpg?v=cabd43b">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/mitv3/70/" target="_black">小米电视<em>3</em>70英寸</a>
                            </h2>
                            <p class="text">原装进口夏普真 4K 屏 金属机身</p>
                            <p class="price">9,999<em>元</em></p>
                            <a data-url="//www.mi.com/mitv3/70/" class="J_buyBtn">
                                <span class="buy-btn">正在加载中...</span>
                                <i class="iconfont"></i>
                            </a>
                            <span class="start">12月10日0点活动开始</span>
                        </div>
                    </div>
                </li>
                <li class="mitv-list-02">
                    <a href="//www.mi.com/mitv3s/65/" target="_black">
                        <img data-src="../../public/img/hd_v07/mitv65-img.jpg?v=064ad6e">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/mitv3s/65/" target="_black">小米电视<em>3S</em>65英寸曲面</a>
                            </h2>
                            <p class="text">最美的小米电视 震撼如IMAX</p>
                            <p class="price">8,999<em>元</em></p>
                            <a data-url="//www.mi.com/mitv3s/65/" data-mark="mitv65" class="J_buyBtn">
                                <span class="buy-btn">正在加载中...</span>
                                <i class="iconfont"></i>
                            </a>
                            <span class="start">12月10日0点活动开始</span>
                        </div>
                    </div>
                </li>
                <li class="mitv-list-03">
                    <a href="//www.mi.com/mitv3/60/" target="_black">
                        <img data-src="../../public/img/hd_v07/mitv60-img.jpg?v=f9a4278">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/mitv3/60/" target="_black">小米电视<em>3</em>60英寸</a>
                            </h2>
                            <p class="text">原装 LG 真 4K 屏 金属机身</p>
                            <p class="price">4,999<em>元起</em></p>
                            <a data-url="//www.mi.com/mitv3/60/" class="J_buyBtn">
                                <span class="buy-btn">正在加载中...</span>
                                <i class="iconfont"></i>
                            </a>
                            <span class="start">12月10日0点活动开始</span>
                        </div>
                    </div>
                </li>
                <li class="mitv-list-04">
                    <a href="//www.mi.com/mitv3/55/" target="_black">
                        <img data-src="../../public/img/hd_v07/mitv55-img.jpg?v=be3546f">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/mitv3/55/" target="_black">小米电视<em>3</em>55英寸</a>
                            </h2>
                            <p class="text">三星 / LG真4K屏 金属机身</p>
                            <p class="price">3,999<em>元起</em></p>
                            <a data-url="//www.mi.com/mitv3/55/" class="J_buyBtn">
                                <span class="buy-btn">正在加载中...</span>
                                <i class="iconfont"></i>
                            </a>
                            <span class="start">12月10日0点活动开始</span>
                        </div>
                    </div>
                </li>
            </ul>
            <span class="mitv-parts-header">
            <img data-src="../../public/img/hd_v07/mitv-small-logo.png?v=be8649a">
        </span>
            <ul class="container">
                <li class="mitv-list-05">
                    <a href="//www.mi.com/mitv3s/48/" target="_black">
                        <img data-src="../../public/img/hd_v07/mitv48-img.jpg?v=0a0777d">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/mitv3s/48/" target="_black">小米电视<em>3S</em>48英寸</a>
                            </h2>
                            <p class="text">黄金尺寸 高端旗舰</p>
                            <p class="price">1,999<em>元</em></p>
                            <a data-url="//www.mi.com/mitv3s/48/" data-mark="mitv48" class="J_buyBtn">
                                <span class="buy-btn">正在加载中...</span>
                                <i class="iconfont"></i>
                            </a>
                            <span class="start">12月10日0点活动开始</span>
                        </div>
                    </div>
                </li>
                <li class="mitv-list-06">
                    <a href="//www.mi.com/mitv3s/43/" target="_black">
                        <img data-src="../../public/img/hd_v07/mitv43-img.jpg?v=66e415b">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/mitv3s/43/" target="_black">小米电视<em>3S</em>43英寸</a>
                            </h2>
                            <p class="text">小尺寸高端旗舰</p>
                            <p class="price">1,799<em>元</em></p>
                            <a data-url="//www.mi.com/mitv3s/43/" data-mark="mitv43" class="J_buyBtn">
                                <span class="buy-btn">正在加载中...</span>
                                <i class="iconfont"></i>
                            </a>
                            <span class="start">12月10日0点活动开始</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section mitv-hezi" id="hezi">
        <div class="container">
            <div class="content">
                <h2 class="webfont">送家人朋友一款追剧神器</h2>
            </div>
            <ul class="container">
                <li class="hezi-list-01">
                    <a href="//www.mi.com/hezi3s/" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/hezi3s.jpg?v=eec6b61">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont"><a href="//www.mi.com/hezi3s/" target="_black">小米盒子3 增强版</a></h2>
                            <p class="text">高清 4K 网络机顶盒</p>
                            <p class="price">399<em>元</em></p>
                            <a href="//www.mi.com/hezi3s/" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
                <li class="hezi-list-02">
                    <a href="//www.mi.com/hezi3/" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/hezi3.jpg?v=d0a0347">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/hezi3/" target="_black">小米盒子3</a>
                            </h2>
                            <p class="text">全新升级 64位 4K网络机顶盒</p>
                            <p class="price">299<em>元</em></p>
                            <a href="//www.mi.com/hezi3/" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
                <li class="hezi-list-03">
                    <a href="//www.mi.com/hezimini/" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/hezi-mini.jpg?v=32904d0">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/hezimini/" target="_black">小米盒子mini版</a>
                            </h2>
                            <p class="text">全高清网络机顶盒，海量内容</p>
                            <p class="price">199<em>元</em></p>
                            <a href="//www.mi.com/hezimini/" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="mitv-hezi-parts">
                <li class="hezi-list-04">
                    <a href="//item.mi.com/1154200029.html" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/mitv-ykq.jpg?v=043adb6">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//item.mi.com/1154200029.html" target="_black">小米语音体感遥控器</a>
                            </h2>
                            <p class="text">能用语音搜索大片 还能玩体感游戏</p>
                            <p class="price">99<em>元</em></p>
                            <a href="//item.mi.com/1154200029.html" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
                <li class="hezi-list-05">
                    <a href="//www.mi.com/tvzj/" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/mitv-zhuji.jpg?v=db19f1b">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//www.mi.com/tvzj/" target="_black">小米电视主机</a>
                            </h2>
                            <p class="text">次世代智能电视主机 内置独立音响</p>
                            <p class="price">999<em>元</em></p>
                            <a href="//www.mi.com/tvzj/" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section mitv-yinxiang" id="yinxiang">
        <div class="container">
            <div class="content">
                <h2 class="webfont">给你的大片一点好声音</h2>
            </div>
            <ul class="container">
                <li class="yinxiang-list-01">
                    <a href="//item.mi.com/1160800073.html?cfrom=list" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/yinxiang01.jpg?v=ff74a8b">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//item.mi.com/1160800073.html?cfrom=list" target="_black">小米家庭音响<em>金属版</em></a>
                            </h2>
                            <p class="text">全金属机身，震撼好声音</p>
                            <p class="price">899<em>元</em></p>
                            <a href="//item.mi.com/1160800073.html?cfrom=list" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
                <li class="yinxiang-list-02">
                    <a href="//item.mi.com/1160800074.html?cfrom=list" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/yinxiang02.jpg?v=3ae55b8">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont">
                                <a href="//item.mi.com/1160800074.html?cfrom=list" target="_black">小米家庭音响<em>标准版</em></a>
                            </h2>
                            <p class="text">8扬声器Soundbar 支持蓝牙连接</p>
                            <p class="price">699<em>元</em></p>
                            <a href="//item.mi.com/1160800074.html?cfrom=list" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
                <li class="yinxiang-list-03">
                    <a href="//item.mi.com/1154100018.html" target="_black" class="figue-img">
                        <img data-src="../../public/img/hd_v07/yinxiang03.jpg?v=ec7ceaf">
                    </a>
                    <div class="box">
                        <div>
                            <h2 class="webfont"><a href="//item.mi.com/1154100018.html" target="_black">小米低音炮</a></h2>
                            <p class="text">全金属机身 低音震撼</p>
                            <p class="price">599<em>元</em></p>
                            <a href="//item.mi.com/1154100018.html" target="_black" class="btn btn-buy">立即购买<i class="iconfont"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="section mitv-footer">
        <div class="container">
            <div class="content">
                <span>京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号<br />探索黑科技，小米为发烧而生</span>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v07/script.min.js?v=85c6d74"></script>
</body>

</html>