<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米六一儿童节 - 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v12/style.min.css?v=2bb51d9">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body>
    <div class="wrapper" id="web" v-cloak>
        <div class="section section-child-header" id="J_slider">
            <div class="sliderBox">
                <div class="items img1-bg active">
                    <div class="links-a">
                        <a href="//www.mi.com/index.html" target="_blank" class="logo"></a>
                        <a href="//www.mi.com/index.html" target="_blank" class="enterBtn">返回小米网 &gt;</a>
                    </div>
                    <div class="container J_headerBox">
                        <div class="text">
                            <div class="img"></div>
                            <div class="activity-infor">
                                <i class="iconfont"></i>
                                <span class="ac-time">5.26 至 6.1</span>
                                <p class="desc">小米5、全系红米手机天天有，小米Max 两天现货
                                    <br />炫酷智能新品首发，分享赢小米5 尊享版购买资格</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items img2-bg">
                    <div class="links-b">
                        <a href="//www.mi.com/index.html" target="_blank" class="logo"></a>
                        <a href="//www.mi.com/index.html" target="_blank" class="enterBtn">返回小米网 &gt;</a>
                    </div>
                    <div class="container J_headerBox">
                        <div class="text">
                            <div class="img"></div>
                            <div class="activity-infor">
                                <i class="iconfont"></i>
                                <span class="ac-time">5.26 至 6.1</span>
                                <p class="desc">小米5、全系红米手机天天有，小米Max 两天现货
                                    <br />炫酷智能新品首发，分享赢小米5 尊享版购买资格</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page">
                <span class="active">1</span>
                <span>2</span>
            </div>
            <span class="mouse-down" id="J_mouseDown">
            <i>$nbsp;</i>
        </span>
        </div>
        <div class="section section-nav-top" id="J_nav">
            <div class="container clearfix">
                <a href="javascript:void(0);" class="nav nav-a" data-target="#J_childToys">
                    <h2 class="title">“大小孩”的酷玩具</h2>
                    <p class="desc">小米5、全系红米手机天天有</p>
                </a>
                <a href="javascript:void(0);" class="nav nav-b" data-target="#J_childHood">
                    <h2 class="title">给童年的 “新礼物”</h2>
                    <p class="desc">小米魔方控制器首发</p>
                </a>
                <a href="javascript:void(0);" class="nav nav-c" data-target="#J_happiness">
                    <h2 class="title">“小确幸” 专场</h2>
                    <p class="desc">儿童节套装享优惠</p>
                </a>
                <a href="javascript:void(0);" class="nav nav-d" data-target="#J_share">
                    <h2 class="title">写你的 “小时候”</h2>
                    <p class="desc">赢小米5尊享版购买资格</p>
                </a>
            </div>
        </div>
        <div class="section childhood-toys" id="J_childToys">
            <div class="section section-child-wrap1">
                <div class="container">
                    <div class="text-content">
                        <div class="oldphone"></div>
                        <div class="text">
                            <h2 class="title">大屏里的小世界</h2>
                            <p class="desc">还记得小时候那些“不见不散”的约定吗？
                                <br />而在这个时代，电话除了满足通讯功能，
                                <br />还可以更强大。</p>
                        </div>
                        <div class="miphone-box">
                            <ul>
                                <template v-for="(index, todo) in childToysList">
                                    <li class="li-items-{{index + 1}}">
                                        <a href="{{todo.url}}" target="_blank" class="img">
                                            <img v-bind:src="'/public/img/hd_v12/' + todo.image" alt="{{todo.title}}">
                                        </a>
                                        <div class="product-box">
                                            <h2 class="title">{{todo.title}}</h2>
                                            <i class="iconfont"></i>
                                            <span class="product-infor">{{todo.desc}}</span>
                                            <div class="link">
                                                <span class="product-price price-num">{{todo.price}}<em v-if="todo.sale_sign == '元'">元</em><em v-if="todo.sale_sign == '元起'">元起</em>
                                                </span>
                                                <a href="{{todo.url}}" target="_blank" class="btnBuy">立即购买</a>
                                            </div>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-child-wrap2">
                <div class="container">
                    <div class="old-tv-bg"></div>
                    <div class="text">
                        <h2 class="title">胖电视与红白机</h2>
                        <p class="desc">以前幸福小小的，
                            <br/>只要有一台红白机
                            <br/>现在幸福大大的，
                            <br/>有电视、音响、路由器</p>
                    </div>
                    <div class="list-box">
                        <ul>
                            <template v-for="(index, todo) in child_wrap2">
                                <li class="list-{{index + 1}}">
                                    <a href="{{todo.url}}" target="_blank" class="img">
                                        <img v-bind:src="'/public/img/hd_v12/' + todo.image" alt="{{todo.title}}">
                                    </a>
                                    <div class="product-box">
                                        <h2 class="title">{{todo.title}}</h2>
                                        <p class="desc">{{todo.desc}}</p>
                                        <div class="link">
                                            <span class="product-price price-num">{{todo.price}}<em>元</em></span>
                                            <a href="{{todo.url}}" target="_blank" class="btnBuy">立即购买</a>
                                        </div>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section section-child-wrap3">
                <div class="container">
                    <div class="text">
                        <h2 class="title">最喜欢的“出去玩”</h2>
                        <p class="desc">带着平衡车、相机、手环，带上小时候的心情，出发！去领略这个世界的美好。</p>
                    </div>
                </div>
                <div class="scooter-bg"></div>
                <div class="list-box container">
                    <ul class="clearfix">
                        <template v-for="(index, todo) in child_wrap3">
                            <li class="li-list-{{index +1}}">
                                <a href="{{todo.url}}" target="_blank" class="img">
                                    <img v-bind:src="'/public/img/hd_v12/' + todo.image" alt="{{todo.title}}">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">{{todo.title}}</h2>
                                    <p class="desc">{{todo.desc}}</p>
                                    <div class="link">
                                        <span class="product-price price-num">{{todo.price}}<em>元</em></span>
                                        <a href="{{todo.url}}" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div class="section section-child-wrap4">
                <div class="container">
                    <div class="lamp-bg"></div>
                    <div class="text">
                        <h2 class="title">深夜里的陪伴</h2>
                        <p class="desc">以前陪伴你到最深夜的是灯光的温暖。而
                            <br />现在，可以是音箱，可以是耳机，可以是
                            <br />更多。</p>
                    </div>
                    <div class="list-box">
                        <ul class="clearfix">
                            <template v-for="(index, todo) in child_wrap4">
                                <li class="li-list-{{index + 1}}">
                                    <a href="{{todo.url}}" target="_blank" class="img">
                                        <img v-bind:src="'/public/img/hd_v12/' + todo.image" alt="{{todo.title}}">
                                    </a>
                                    <div class="product-box" :class="todo.sale_sign == 'first'?'first':''">
                                        <h2 class="title">{{todo.title}}</h2>
                                        <p class="desc">{{todo.desc}}</p>
                                        <div class="link">
                                            <span class="product-price price-num">{{todo.price}}<em>元</em></span>
                                            <a href="{{todo.url}}" target="_blank" class="btnBuy">立即购买</a>
                                        </div>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-childhood" id="J_childHood">
            <div class="container">
                <div class="text">
                    <h2 class="title">给童年的礼物</h2>
                    <p class="desc">小米魔方控制器首发</p>
                </div>
                <div class="childhood-list">
                    <ul class="clearfix">
                        <template v-for="(index, todo) in childHoodList">
                            <li class="li-list-{{index + 1}}">
                                <a href="{{todo.url}}" target="_blank" class="img">
                                    <img v-bind:src="'/public/img/hd_v12/' + todo.image" alt="{{todo.title}}">
                                </a>
                                <div class="product-box" v-if="todo.sale_sign == ''">
                                    <h2 class="title">{{todo.title}}</h2>
                                    <p class="desc">{{todo.desc}}</p>
                                    <div class="link">
                                        <span class="product-price price-num">{{todo.price}}<em>元</em></span>
                                        <a href="{{todo.url}}" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                                <div class="product-box box3" v-if="todo.sale_sign == 'box'">
                                    <h2 class="title">{{todo.title}}</h2>
                                    <p class="desc">{{todo.desc}}</p>
                                    <div class="link">
                                        <span class="product-price price-num">{{todo.price}}<em>元</em></span>
                                        <a href="{{todo.url}}" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section section-happiness" id="J_happiness">
            <div class="container">
                <div class="text">
                    <h2 class="title">“小确幸” 专场</h2>
                    <p class="desc">为你准备的儿童节特惠</p>
                </div>
            </div>
            <ul class="clearfix">
                <template v-for="(index, todo) in happinessList">
                    <li class="li-items-{{index + 1}}">
                        <a href="{{todo.url}}" target="_blank" class="img">
                            <img v-bind:src="'/public/img/hd_v12/' + todo.image" alt="{{todo.title}}">
                        </a>
                        <div class="product-box">
                            <h2 class="title">{{todo.title}}</h2>
                            <p class="desc">{{todo.desc}}</p>
                            <div class="link">
                                <span class="product-price price-num" v-if="todo.price != ''">{{todo.price}}<em>元</em></span>
                                <span class="product-price price-num" v-if="todo.price == ''">回忆无价</span>
                                <del v-if="todo.price != todo.market_price">{{todo.market_price}}元</del>
                                <a href="{{todo.url}}" target="_blank" class="btnBuy" v-if="todo.price != ''">立即购买</a>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
        <div class="section section-last-body">
            <div class="section section-clothes">
                <div class="container">
                    <div class="text">
                        <h2 class="title">小米服装<br />全场两件包邮</h2>
                        <p class="desc">青春，就是穿上一件新衣服的欣喜</p>
                        <a href="//list.mi.com/22" target="_blank" class="btnBuy">去看看</a>
                    </div>
                    <div class="text-hide">
                        <h2 class="title">小米服装<br />特价T恤三件包邮</h2>
                        <p class="desc">青春，就是穿上一件新衣服的欣喜</p>
                        <a href="//list.mi.com/22" target="_blank" class="btnBuy">去看看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-share" id="J_share">
            <div class="container">
                <div class="text">
                    <h2 class="title">回忆小时候 小米5优先有</h2>
                    <p class="desc">还记得你的小时候快乐回忆吗？分享出去！赢小米5 尊享版（3D陶瓷）优先购买资格</p>
                    <a href="javascript:void(0);" class="btnBuy btnShare" data-type="weibo">我要分享</a>
                    <a href="//bbs.xiaomi.cn/t-12952781" target="_blank" class="btnRule">活动规则 &gt;</a>
                </div>
                <div class="share-bg"></div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <p>
                    京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
                    <br/> 探索黑科技，小米为发烧而生
                </p>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v12/script.min.js?v=62dcd23"></script>
</body>

</html>