<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米六一儿童节 - 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v12/style.min.css?v=48faa15">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="section section-child-header" id="J_slider">
            <div class="sliderBox">
                <div class="items img1-bg active">
                    <div class="links-a">
                        <a href="//www.mi.com/index.html" target="_blank" class="logo"></a>
                        <a href="//www.mi.com/index.html" target="_blank" class="enterBtn">返回小米网 &gt;</a>
                    </div>
                    <div class="container J_headerBox">
                        <div class="text">
                            <div class="img"></div>
                            <div class="activity-infor">
                                <i class="iconfont"></i>
                                <span class="ac-time">5.26 至 6.1</span>
                                <p class="desc">小米5、全系红米手机天天有，小米Max 两天现货
                                    <br />炫酷智能新品首发，分享赢小米5 尊享版购买资格</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items img2-bg">
                    <div class="links-b">
                        <a href="//www.mi.com/index.html" target="_blank" class="logo"></a>
                        <a href="//www.mi.com/index.html" target="_blank" class="enterBtn">返回小米网 &gt;</a>
                    </div>
                    <div class="container J_headerBox">
                        <div class="text">
                            <div class="img"></div>
                            <div class="activity-infor">
                                <i class="iconfont"></i>
                                <span class="ac-time">5.26 至 6.1</span>
                                <p class="desc">小米5、全系红米手机天天有，小米Max 两天现货
                                    <br />炫酷智能新品首发，分享赢小米5 尊享版购买资格</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page">
                <span class="active">1</span>
                <span>2</span>
            </div>
            <span class="mouse-down" id="J_mouseDown">
            <i>$nbsp;</i>
        </span>
        </div>
        <div class="section section-nav-top" id="J_nav">
            <div class="container clearfix">
                <a href="javascript:void(0);" class="nav nav-a" data-target="#J_childToys">
                    <h2 class="title">“大小孩”的酷玩具</h2>
                    <p class="desc">小米5、全系红米手机天天有</p>
                </a>
                <a href="javascript:void(0);" class="nav nav-b" data-target="#J_childHood">
                    <h2 class="title">给童年的 “新礼物”</h2>
                    <p class="desc">小米魔方控制器首发</p>
                </a>
                <a href="javascript:void(0);" class="nav nav-c" data-target="#J_happiness">
                    <h2 class="title">“小确幸” 专场</h2>
                    <p class="desc">儿童节套装享优惠</p>
                </a>
                <a href="javascript:void(0);" class="nav nav-d" data-target="#J_share">
                    <h2 class="title">写你的 “小时候”</h2>
                    <p class="desc">赢小米5尊享版购买资格</p>
                </a>
            </div>
        </div>
        <div class="section childhood-toys" id="J_childToys">
            <div class="section section-child-wrap1">
                <div class="container">
                    <div class="text-content">
                        <div class="oldphone"></div>
                        <div class="text">
                            <h2 class="title">大屏里的小世界</h2>
                            <p class="desc">还记得小时候那些“不见不散”的约定吗？
                                <br />而在这个时代，电话除了满足通讯功能，
                                <br />还可以更强大。</p>
                        </div>
                        <div class="miphone-box">
                            <ul>
                                <li class="li-items-a">
                                    <a href="//www.mi.com/mi5/" target="_blank" class="img">
                                        <img data-src="../../public/img/hd_v12/xiaomi5.jpg?v=2d7ef8c">
                                    </a>
                                    <div class="product-box">
                                        <h2 class="title">小米手机5</h2>
                                        <i class="iconfont"></i>
                                        <span class="product-infor">每天早10点现货</span>
                                        <div class="link">
                                            <span class="product-price price-num">1999<em>元起</em></span>
                                            <a href="//item.mi.com/buyphone/mi5" target="_blank" class="btnBuy">立即购买</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="li-items-b">
                                    <a href="//www.mi.com/mimax/" target="_blank" class="img">
                                        <img data-src="../../public/img/hd_v12/xiaomimax.png?v=0ebefa9">
                                    </a>
                                    <div class="product-box">
                                        <h2 class="title">小米Max 「3GB＋32GB」</h2>
                                        <i class="iconfont"></i>
                                        <span class="product-infor">两天现货：5.27/5.31</span>
                                        <div class="link">
                                            <span class="product-price price-num">1499<em>元</em></span>
                                            <a href="//item.mi.com/buyphone/mimax" target="_blank" class="btnBuy">立即购买</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="li-items-c">
                                    <a href="//www.mi.com/hongmi3/" target="_blank" class="img">
                                        <img data-src="../../public/img/hd_v12/redmi.jpg?v=ad1eece">
                                    </a>
                                    <div class="product-box">
                                        <h2 class="title">红米手机 3</h2>
                                        <i class="iconfont"></i>
                                        <span class="product-infor">天天现货：5.26 - 6.1</span>
                                        <div class="link">
                                            <span class="product-price price-num">699<em>元起</em></span>
                                            <a href="//item.mi.com/buyphone/hongmi3/" target="_blank" class="btnBuy">立即购买</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="li-items-d">
                                    <a href="//www.mi.com/note3/" target="_blank" class="img">
                                        <img data-src="../../public/img/hd_v12/rednote3.jpg?v=58fe3a1">
                                    </a>
                                    <div class="product-box">
                                        <h2 class="title">红米Note 3</h2>
                                        <i class="iconfont"></i>
                                        <span class="product-infor">天天现货：5.26 - 6.1</span>
                                        <div class="link">
                                            <span class="product-price price-num">899<em>元起</em></span>
                                            <a href="//item.mi.com/buyphone/note3" target="_blank" class="btnBuy">立即购买</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-child-wrap2">
                <div class="container">
                    <div class="old-tv-bg"></div>
                    <div class="text">
                        <h2 class="title">胖电视与红白机</h2>
                        <p class="desc">以前幸福小小的，
                            <br/>只要有一台红白机
                            <br/>现在幸福大大的，
                            <br/>有电视、音响、路由器</p>
                    </div>
                    <div class="list-box">
                        <ul>
                            <li class="list-a">
                                <a href="//www.mi.com/mitv3s/43/" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/mitv43.png?v=bad96cc">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">小米电视3S 43英寸</h2>
                                    <p class="desc">让童年的记忆，更加清晰</p>
                                    <div class="link">
                                        <span class="product-price price-num">1799<em>元</em></span>
                                        <a href="//item.mi.com/static/buymitv" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-b">
                                <a href="//www.mi.com/miwifimini/" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/wifimini.jpg?v=7791256">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">小米路由器mini</h2>
                                    <p class="desc">只要网速快，时时回味小时候</p>
                                    <div class="link">
                                        <span class="product-price price-num">129<em>元</em></span>
                                        <a href="//item.mi.com/static/buymiwifi" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-c">
                                <a href="//item.mi.com/1160800073.html" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/zhuji.jpg?v=42bf732">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">小米家庭音响金属版</h2>
                                    <p class="desc">用今天的音响，听听小时候的声音</p>
                                    <div class="link">
                                        <span class="product-price price-num">899<em>元</em></span>
                                        <a href="//item.mi.com/1160800073.html" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-d">
                                <a href="//www.mi.com/shb/?cfrom=search" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/blue-handle.jpg?v=88e7c69">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">小米蓝牙手柄</h2>
                                    <p class="desc">红白机的游戏如今可以这样玩</p>
                                    <div class="link">
                                        <span class="product-price price-num">99<em>元</em></span>
                                        <a href="//www.mi.com/shb/?cfrom=search" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section section-child-wrap3">
                <div class="container">
                    <div class="text">
                        <h2 class="title">最喜欢的“出去玩”</h2>
                        <p class="desc">带着平衡车、相机、手环，带上小时候的心情，出发！去领略这个世界的美好。</p>
                    </div>
                </div>
                <div class="scooter-bg"></div>
                <div class="list-box container">
                    <ul class="clearfix">
                        <li class="li-list-a">
                            <a href="//www.mi.com/scooter/" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/scooter.png?v=6b3697e" alt="九号平衡车">
                            </a>
                            <div class="product-box">
                                <h2 class="title">九号平衡车</h2>
                                <p class="desc">用好奇的心看看这个世界</p>
                                <div class="link">
                                    <span class="product-price price-num">1999<em>元</em></span>
                                    <a href="//item.mi.com/static/buyscooter" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-b">
                            <a href="//www.mi.com/shouhuan/?cfrom=list" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/shouhuan.png?v=4a2aad4" alt="小米手环">
                            </a>
                            <div class="product-box">
                                <h2 class="title">小米手环</h2>
                                <p class="desc">每一步都应该被记录</p>
                                <div class="link">
                                    <span class="product-price price-num">99<em>元</em></span>
                                    <a href="//www.mi.com/shouhuan/?cfrom=list#buy" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-c">
                            <a href="//www.mi.com/yicamera/" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/yicamera.png?v=73c7561" alt="小蚁运动相机">
                            </a>
                            <div class="product-box">
                                <h2 class="title">小蚁运动相机</h2>
                                <p class="desc">换一个视角，会有新发现</p>
                                <div class="link">
                                    <span class="product-price price-num">399<em>元</em></span>
                                    <a href="//item.mi.com/static/buyyicamera" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-d">
                            <a href="//www.mi.com/mituwatch/" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/watch.png?v=d1a1a67" alt="米兔电话儿童手表">
                            </a>
                            <div class="product-box">
                                <h2 class="title">米兔电话儿童手表</h2>
                                <p class="desc">和孩子随时随地在一起</p>
                                <div class="link">
                                    <span class="product-price price-num">299<em>元</em></span>
                                    <a href="//www.mi.com/mituwatch/" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section section-child-wrap4">
                <div class="container">
                    <div class="lamp-bg"></div>
                    <div class="text">
                        <h2 class="title">深夜里的陪伴</h2>
                        <p class="desc">以前陪伴你到最深夜的是灯光的温暖。而
                            <br />现在，可以是音箱，可以是耳机，可以是
                            <br />更多。</p>
                    </div>
                    <div class="list-box">
                        <ul class="clearfix">
                            <li class="li-list-a">
                                <a href="//www.mi.com/mjsmartlamp/?cfrom=list" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/desklamp.png?v=26a8c1d" alt="米家写字灯">
                                </a>
                                <div class="product-box first">
                                    <h2 class="title">米家写字灯</h2>
                                    <p class="desc">书桌旁的灯光，现在是如此温暖</p>
                                    <div class="link">
                                        <span class="product-price price-num">169<em>元</em></span>
                                        <a href="//www.mi.com/mjsmartlamp/?cfrom=list" target="_blank" class="btnBuy" id="J_btnBuy">12.1首卖</a>
                                    </div>
                                </div>
                            </li>
                            <li class="li-list-b">
                                <a href="//www.mi.com/littleaudio/" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/littleaudio.jpg?v=e360d24" alt="小米随身蓝牙音箱">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">小米随身蓝牙音箱</h2>
                                    <p class="desc">重新听小时候的歌，会有新的感受</p>
                                    <div class="link">
                                        <span class="product-price price-num">69<em>元</em></span>
                                        <a href="//www.mi.com/littleaudio/" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                            <li class="li-list-c">
                                <a href="//www.mi.com/quantie/" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/quantie.jpg?v=813a011" alt="小米圈铁耳机">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">小米圈铁耳机</h2>
                                    <p class="desc">现在的耳机，比以前更美好了</p>
                                    <div class="link">
                                        <span class="product-price price-num">99<em>元</em></span>
                                        <a href="//www.mi.com/quantie/" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                            <li class="li-list-d">
                                <a href="//item.mi.com/1154400042.html" target="_blank" class="img">
                                    <img data-src="../../public/img/hd_v12/dianyuan20000.jpg?v=491f0ce" alt="20000mAh移动电源">
                                </a>
                                <div class="product-box">
                                    <h2 class="title">20000mAh移动电源</h2>
                                    <p class="desc">小时候的梦想，现在也需要充电</p>
                                    <div class="link">
                                        <span class="product-price price-num">149<em>元</em></span>
                                        <a href="//item.mi.com/1154400042.html" target="_blank" class="btnBuy">立即购买</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-childhood" id="J_childHood">
            <div class="container">
                <div class="text">
                    <h2 class="title">给童年的礼物</h2>
                    <p class="desc">小米魔方控制器首发</p>
                </div>
                <div class="childhood-list">
                    <ul class="clearfix">
                        <li class="li-list-1">
                            <a href="//www.mi.com/transformers/" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/transformers.jpg?v=6d8f2ff">
                            </a>
                            <div class="product-box">
                                <h2 class="title">变形金刚特别版</h2>
                                <p class="desc">一款有趣的大玩具，小米平板形象</p>
                                <div class="link">
                                    <span class="product-price price-num">169<em>元</em></span>
                                    <a href="//www.mi.com/transformers/" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-2">
                            <a href="//www.mi.com/cute/?cfrom=search" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/cube.jpg?v=a30f8f6">
                            </a>
                            <div class="product-box">
                                <h2 class="title">小米魔方控制器</h2>
                                <p class="desc">随心控制智能设备</p>
                                <div class="link">
                                    <span class="product-price price-num">69<em>元</em></span>
                                    <a href="//www.mi.com/cute/?cfrom=search" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-3">
                            <a href="//www.mi.com/yinxiang/" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/yinxiang.jpg?v=1991144">
                            </a>
                            <div class="product-box box3">
                                <h2 class="title">小米小钢炮蓝牙音箱2</h2>
                                <p class="desc">声声动听的桌上艺术品</p>
                                <div class="link">
                                    <span class="product-price price-num">129<em>元</em></span>
                                    <a href="//www.mi.com/yinxiang/" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-4">
                            <a href="//item.mi.com/1162000069.html?cfrom=search" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/awake.jpg?v=f947e5f">
                            </a>
                            <div class="product-box box3">
                                <h2 class="title">悟空米兔</h2>
                                <p class="desc">米兔新玩具，夏日来袭</p>
                                <div class="link">
                                    <span class="product-price price-num">49<em>元</em></span>
                                    <a href="//item.mi.com/1162000069.html?cfrom=search" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-list-5">
                            <a href="//item.mi.com/1162000070.html?cfrom=search" target="_blank" class="img">
                                <img data-src="../../public/img/hd_v12/pilot.jpg?v=0b74016">
                            </a>
                            <div class="product-box box3">
                                <h2 class="title">飞行员米兔屏幕擦挂饰</h2>
                                <p class="desc">可爱造型，一起在天空翱翔</p>
                                <div class="link">
                                    <span class="product-price price-num">29<em>元</em></span>
                                    <a href="//item.mi.com/1162000070.html?cfrom=search" target="_blank" class="btnBuy">立即购买</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section section-happiness" id="J_happiness">
            <div class="container">
                <div class="text">
                    <h2 class="title">“小确幸” 专场</h2>
                    <p class="desc">为你准备的儿童节特惠</p>
                </div>
            </div>
            <ul class="clearfix">
                <li class="li-items-1">
                    <a href="//item.mi.com/1162000054.html" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/fansuit.jpg?v=6428d8e" alt="清凉能量套装">
                    </a>
                    <div class="product-box">
                        <h2 class="title">清凉能量套装</h2>
                        <p class="desc">静音实用可收纳的小风扇套餐</p>
                        <div class="link">
                            <span class="product-price price-num">163.9<em>元</em></span>
                            <del>168.9元</del>
                            <a href="//item.mi.com/1162000054.html" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-2">
                    <a href="//item.mi.com/1162000053.html" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/usbsuit.jpg?v=3d1a836" alt="照明能量套装">
                    </a>
                    <div class="product-box">
                        <h2 class="title">照明能量套装</h2>
                        <p class="desc">能调节亮度的小巧随身灯套餐</p>
                        <div class="link">
                            <span class="product-price price-num">163.9<em>元</em></span>
                            <del>168.9元</del>
                            <a href="//item.mi.com/1162000053.html" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-3">
                    <a href="javascript:void(0);" class="img">
                        <img data-src="../../public/img/hd_v12/candy.jpg?v=2f8d890" alt="大白兔奶糖">
                    </a>
                    <div class="product-box">
                        <h2 class="title">大白兔奶糖</h2>
                        <p class="desc">小时候的好滋味</p>
                        <div class="link">
                            <span class="product-price price-num"><em>回忆无价</em></span>
                        </div>
                    </div>
                </li>
                <li class="li-items-4">
                    <a href="//www.mi.com/scale/" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/scale.jpg?v=6f0d9d7" alt="小米体重秤">
                    </a>
                    <div class="product-box">
                        <h2 class="title">小米体重秤</h2>
                        <p class="desc">喝杯水都可感知的精准</p>
                        <div class="link">
                            <span class="product-price price-num">99<em>元</em></span>
                            <a href="//www.mi.com/scale/" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-5">
                    <a href="//www.mi.com/air2/" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/air2.jpg?v=79206e8" alt="小米空气净化器2">
                    </a>
                    <div class="product-box">
                        <h2 class="title">小米空气净化器2</h2>
                        <p class="desc">10分钟，房间空气焕然一新</p>
                        <div class="link">
                            <span class="product-price price-num">699<em>元</em></span>
                            <a href="//item.mi.com/static/buyair" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-6">
                    <a href="//www.mi.com/xiaoyi/" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/xiaoyi.jpg?v=842d5d2" alt="小蚁智能摄像机夜视版">
                    </a>
                    <div class="product-box">
                        <h2 class="title">小蚁智能摄像机夜视版</h2>
                        <p class="desc">能看能听能说，手机远程观看</p>
                        <div class="link">
                            <span class="product-price price-num">149<em>元</em></span>
                            <a href="//www.mi.com/xiaoyi/" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-7">
                    <a href="//item.mi.com/1152300006.html?cfrom=list" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/yelled.jpg?v=7582056" alt="Yeelight床头灯">
                    </a>
                    <div class="product-box">
                        <h2 class="title">Yeelight床头灯</h2>
                        <p class="desc">给卧室1600万种颜色</p>
                        <div class="link">
                            <span class="product-price price-num">249<em>元</em></span>
                            <a href="//item.mi.com/1152300006.html?cfrom=list" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-8">
                    <a href="//www.mi.com/chaxianban2/?cfrom=list" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/chaxianban.jpg?v=69c0a02" alt="小米智能插线板">
                    </a>
                    <div class="product-box">
                        <h2 class="title">小米智能插线板</h2>
                        <p class="desc">远程控制家电，还很漂亮</p>
                        <div class="link">
                            <span class="product-price price-num">69<em>元</em></span>
                            <a href="//www.mi.com/chaxianban2/?cfrom=list" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-9">
                    <a href="//www.mi.com/huosai2/" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/erji.jpg?v=655ab11" alt="小米活塞耳机基础版">
                    </a>
                    <div class="product-box">
                        <h2 class="title">小米活塞耳机基础版</h2>
                        <p class="desc">新鲜绽放，五色可选</p>
                        <div class="link">
                            <span class="product-price price-num">29<em>元</em></span>
                            <a href="//www.mi.com/huosai2/" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-10">
                    <a href="javascript:void(0);" class="img">
                        <img data-src="../../public/img/hd_v12/diamonds.jpg?v=8966de6" alt="钻石糖">
                    </a>
                    <div class="product-box">
                        <h2 class="title">钻石糖</h2>
                        <p class="desc">是不是满满的回忆？</p>
                        <div class="link">
                            <span class="product-price price-num"><em>回忆无价</em></span>
                        </div>
                    </div>
                </li>
                <li class="li-items-11">
                    <a href="//item.mi.com/1153300025.html?cfrom=list" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/bag1.jpg?v=5ae24f4" alt="学院风简约双肩包">
                    </a>
                    <div class="product-box">
                        <h2 class="title">学院风简约双肩包</h2>
                        <p class="desc">经典百搭颜色 一件包邮</p>
                        <div class="link">
                            <span class="product-price price-num">49<em>元</em></span>
                            <del>59元</del>
                            <a href="//item.mi.com/1153300025.html?cfrom=list" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
                <li class="li-items-12">
                    <a href="//item.mi.com/1154400038.html?cfrom=list" target="_blank" class="img">
                        <img data-src="../../public/img/hd_v12/bag2.jpg?v=b904b48" alt="小米极简都市双肩包">
                    </a>
                    <div class="product-box">
                        <h2 class="title">小米极简都市双肩包</h2>
                        <p class="desc">方形立体设计4重存储空间</p>
                        <div class="link">
                            <span class="product-price price-num">129<em>元</em></span>
                            <del>149元</del>
                            <a href="//item.mi.com/1154400038.html?cfrom=list" target="_blank" class="btnBuy">立即购买</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section section-last-body">
            <div class="section section-clothes">
                <div class="container">
                    <div class="text">
                        <h2 class="title">小米服装<br />全场两件包邮</h2>
                        <p class="desc">青春，就是穿上一件新衣服的欣喜</p>
                        <a href="//list.mi.com/22" target="_blank" class="btnBuy">去看看</a>
                    </div>
                    <div class="text-hide">
                        <h2 class="title">小米服装<br />特价T恤三件包邮</h2>
                        <p class="desc">青春，就是穿上一件新衣服的欣喜</p>
                        <a href="//list.mi.com/22" target="_blank" class="btnBuy">去看看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-share" id="J_share">
            <div class="container">
                <div class="text">
                    <h2 class="title">回忆小时候 小米5优先有</h2>
                    <p class="desc">还记得你的小时候快乐回忆吗？分享出去！赢小米5 尊享版（3D陶瓷）优先购买资格</p>
                    <a href="javascript:void(0);" class="btnBuy btnShare" data-type="weibo">我要分享</a>
                    <a href="//bbs.xiaomi.cn/t-12952781" target="_blank" class="btnRule">活动规则 &gt;</a>
                </div>
                <div class="share-bg"></div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <p>
                    京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
                    <br/> 探索黑科技，小米为发烧而生
                </p>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v12/script.min.js?v=52e1920"></script>
</body>

</html>