<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>广告设计</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v13/common.min.css?v=9ebceb6">
    <link rel="stylesheet" href="../../public/css/hd_v13/about.min.css?v=8ed8176">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="bd">
    <div class="section section-header header-fixed" id="header">
        <!-- 公共header -->
    </div>
    <div class="section section-banner"> </div>
    <div class="section section-aboutus">
        <div class="container">
            <div class="content">
                <h2 class="title">关于我们</h2>
                <p class="desc">为其塑造全新品牌视觉形象，其是一家座落于国家级软件产业基地广州天河软件内的智能科技公司，该公司是中国最早进入电信增值业务和拥有语音增值业务产品的企业，其软件产品在电信运商、政府信息化、大中型企业等行业客户领域得到了广泛应用。佳都新太科技连续多年被认定为国家规划布局内重点软件企业、国家高新技术企业、广州软件园骨干企业、国家计算机信息系统集成一级资质企业、重信用守合同企业、省级安全技术防范一级企业。</p>
                <div class="text-box">
                    <div class="img">
                        <img data-src="../../public/img/hd_v13/about-link.jpg?v=39d1360">
                    </div>
                    <div class="txt">
                        <div class="box">
                            <h3 class="title-h3">以策略为先导的设计公司 </h3>
                            <p class="desc-p">策略引导视觉，视觉服务传播，传播引爆
                                <br />商业价值！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-introduce">
        <div class="container">
            <div class="content">
                <ul class="cleaxfix">
                    <li class="item-1">
                        <a href="javascript:void(0);" class="img">
                            <img data-src="../../public/img/hd_v13/introduce-1.jpg?v=1f347fa">
                        </a>
                        <div class="box">
                            <p class="name">Aaron</p>
                            <p class="position">资深网页设计师</p>
                            <p class="work-years">（6年网页设计经验）</p>
                        </div>
                    </li>
                    <li class="item-2">
                        <a href="javascript:void(0);" class="img">
                            <img data-src="../../public/img/hd_v13/introduce-2.jpg?v=ce71cc8">
                        </a>
                        <div class="box">
                            <p class="name">Beck</p>
                            <p class="position">高级平面设计师</p>
                            <p class="work-years">（7年网页设计经验）</p>
                        </div>
                    </li>
                    <li class="item-3">
                        <a href="javascript:void(0);" class="img">
                            <img data-src="../../public/img/hd_v13/introduce-3.jpg?v=bd68854">
                        </a>
                        <div class="box">
                            <p class="name">Anna</p>
                            <p class="position">广告商务策划</p>
                            <p class="work-years">（8年活动策划经验）</p>
                        </div>
                    </li>
                    <li class="item-4">
                        <a href="javascript:void(0);" class="img">
                            <img data-src="../../public/img/hd_v13/introduce-4.jpg?v=750c378">
                        </a>
                        <div class="box">
                            <p class="name">Jack</p>
                            <p class="position">高级插画师</p>
                            <p class="work-years">（5年绘画设计经验）</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section section-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v13/common.min.js?v=991eafd"></script>
    <script src="../../public/js/hd_v13/about.min.js?v=efb697a"></script>
</body>

</html>