<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>广告设计</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v13/common.min.css?v=9ebceb6">
    <link rel="stylesheet" href="../../public/css/hd_v13/caseShow.min.css?v=faa07ab">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="bd">
    <div class="section section-header header-fixed" id="header">
        <!-- 公共header -->
    </div>
    <div class="section section-banner"> </div>
    <div class="section section-caseshow">
        <div class="container">
            <div class="content">
                <h2 class="title">案例欣赏</h2>
                <div class="nav">
                    <span class="current">全部</span>
                    <span>手机端</span>
                    <span>VI配套</span>
                </div>
                <div class="nav-content">
                    <div class="items items-1">
                        <ul class="cleaxfix">
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-01.jpg?v=d44d09a">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-02.jpg?v=6b59a8a">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-03.jpg?v=0c04cbd">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-04.jpg?v=3060c47">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-05.jpg?v=c75e34d">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-06.jpg?v=18b60c9">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-07.jpg?v=7f6a466">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-08.jpg?v=b2f03d1">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-09.jpg?v=9689960">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="items items-2 hide">
                        <ul class="cleaxfix">
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-01.jpg?v=445ccc7">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-02.jpg?v=9c3d488">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-03.jpg?v=d44d09a">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-04.jpg?v=aa872d5">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-05.jpg?v=689dca9">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-06.jpg?v=d6b2b05">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-07.jpg?v=fbbf714">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-08.jpg?v=14a17d8">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-08.jpg?v=14a17d8">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="items items-3 hide">
                        <ul class="cleaxfix">
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-09.jpg?v=9689960">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-08.jpg?v=b2f03d1">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-07.jpg?v=7f6a466">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-05.jpg?v=c75e34d">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-06.jpg?v=18b60c9">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-04.jpg?v=3060c47">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-01.jpg?v=d44d09a">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-03.jpg?v=0c04cbd">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-02.jpg?v=6b59a8a">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v13/common.min.js?v=991eafd"></script>
    <script src="../../public/js/hd_v13/caseShow.min.js?v=c52043c"></script>
</body>

</html>