<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>广告设计</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v13/common.min.css?v=9ebceb6">
    <link rel="stylesheet" href="../../public/css/hd_v13/caseShow.min.css?v=faa07ab">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="bd">
    <div class="section section-header header-fixed" id="header">
        <!-- 公共header -->
    </div>
    <div class="section section-banner"> </div>
    <div class="section section-caseshow">
        <div class="container">
            <div class="content">
                <h2 class="title">案例欣赏</h2>
                <div class="nav">
                    <span class="current">全部</span>
                    <span>手机端</span>
                    <span>VI配套</span>
                </div>
                <div class="nav-content">
                    <div class="items items-1">
                        <ul class="cleaxfix">
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-01.jpg?v=d9da788">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-02.jpg?v=e9f9a05">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-03.jpg?v=6b85d70">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-04.jpg?v=4b7c41d">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-05.jpg?v=a2f5265">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-06.jpg?v=08a3933">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-07.jpg?v=201dbda">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-08.jpg?v=9ba0e00">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-09.jpg?v=fe9e822">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="items items-2 hide">
                        <ul class="cleaxfix">
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-01.jpg?v=52bda2b">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-02.jpg?v=fe4ea28">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-03.jpg?v=056c93b">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-04.jpg?v=2f05321">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-05.jpg?v=12ff520">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-06.jpg?v=48c1f97">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-07.jpg?v=ce1bab1">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-08.jpg?v=179ba77">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-p-08.jpg?v=179ba77">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="items items-3 hide">
                        <ul class="cleaxfix">
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-09.jpg?v=fe9e822">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-08.jpg?v=9ba0e00">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-07.jpg?v=201dbda">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-05.jpg?v=a2f5265">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-06.jpg?v=08a3933">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-04.jpg?v=4b7c41d">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-01.jpg?v=d9da788">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-03.jpg?v=6b85d70">
                                </a>
                                <a href="javascript:void(0);">
                                    <img data-src="../../public/img/hd_v13/case-all-02.jpg?v=e9f9a05">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v13/common.min.js?v=991eafd"></script>
    <script src="../../public/js/hd_v13/caseShow.min.js?v=c52043c"></script>
</body>

</html>