<!DOCTYPE html>
<div class="container">
    <div class="content">
        <div class="content-top">
            <ul class="cleaxfix">
                <li>
                    <i class="iconfont icon-address"></i>
                    <span>广东省广州市番禺区青蓝街国家数字家庭应用示范产业基地</span>
                </li>
                <li>
                    <i class="iconfont icon-phone"></i>
                    <span>联系电话：185-2022-7827</span>
                </li>
                <li>
                    <i class="iconfont icon-time"></i>
                    <span>工作时间：09:30 - 18:00</span>
                </li>
                <li>
                    <i class="iconfont icon-email"></i>
                    <span>chenfx@pv.cc</span>
                </li>
            </ul>
        </div>
        <div class="content-footer">
            <div class="footer-nav">
                <a href="index.html">首页</a>
                <a href="news.html">新闻动态</a>
                <a href="caseShow.html">案例展示</a>
                <a href="contact.html">联系我们</a>
                <a href="about.html">关于我们</a>
                <p class="copyright">Copyright © 1991-2017 <a href="javascript:void(0);">http://web.hd.com</a> 版权所有</p>
                <p>作者：chenfx</p>
            </div>
        </div>
    </div>
</div>