<!DOCTYPE html>
<div class="container">
    <div class="content">
        <div class="content-top">
            <ul class="cleaxfix">
                <li>
                    <i class="iconfont icon-address"></i>
                    <span>广东省广州市越秀区富力东山新天地48楼</span>
                </li>
                <li>
                    <i class="iconfont icon-phone"></i>
                    <span>联系电话：185-2022-7827</span>
                </li>
                <li>
                    <i class="iconfont icon-time"></i>
                    <span>工作时间：08:30 - 17:30</span>
                </li>
                <li>
                    <i class="iconfont icon-email"></i>
                    <span>since1991_vip@163.com</span>
                </li>
            </ul>
        </div>
        <div class="content-footer">
            <div class="footer-nav">
                <a href="index.html">首页</a>
                <a href="news.html">新闻动态</a>
                <a href="caseShow.html">案例展示</a>
                <a href="contact.html">联系我们</a>
                <a href="about.html">关于我们</a>
                <p class="copyright">Copyright © 1991-2016 <a href="javascript:void(0);">static.hd.mi.com</a> 版权所有</p>
            </div>
        </div>
    </div>
</div>