<!DOCTYPE html>
<div class="container">
    <a href="index.html" class="logo">
        <span class="fz-color color-a">ADVERTISING</span>
        <span class="fz-color color-b">DESIGN</span>
    </a>
    <ul class="nav cleaxfix">
        <li>
            <a href="index.html">首页</a>
        </li>
        <li>
            <a href="caseShow.html">案例展示</a>
        </li>
        <li>
            <a href="news.html">新闻资讯</a>
        </li>
        <li>
            <a href="about.html">关于我们</a>
        </li>
        <li>
            <a href="contact.html">联系我们</a>
        </li>
    </ul>
</div>