<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>广告设计</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v13/common.min.css?v=9ebceb6">
    <link rel="stylesheet" href="../../public/css/hd_v13/style.min.css?v=264d32c">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        var url = 'http://hd.mi.com/y/12261q/index.html';
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="bd">
    <div class="section section-header header-fixed" id="header">
        <!-- 公共header -->
    </div>
    <div class="section section-banner">
        <div class="banner">
            <div class="items items-1 banner-active">
                <a href="javascript:void(0);"></a>
            </div>
            <div class="items items-2">
                <a href="javascript:void(0);"></a>
            </div>
        </div>
        <div class="ui-pager">
            <span class="pager-current">1</span>
            <span>2</span>
        </div>
    </div>
    <div class="section section-more">
        <div class="container">
            <div class="content">
                <h2 class="title">公司理念：</h2>
                <p class="desc">以诚信赢得市场，以质量铸造品牌，我们坚信：“品牌”不仅仅是一个商标，一件产品，</p>
                <p class="desc">是一种品质，它用良好的质量维系消费者对企业的信赖；</p>
                <a href="javascript:void(0)" class="btn btn-more">了解更多</a>
            </div>
        </div>
    </div>
    <div class="section section-service">
        <div class="container">
            <div class="content">
                <h2 class="title">我们的服务</h2>
                <div class="box-service">
                    <ul class="cleaxfix">
                        <li>
                            <i class="icon-1 iconfont"></i>
                            <div class="box">
                                <h3 class="title">移动端网站设计</h3>
                                <p class="desc">移动共享时代主义</p>
                            </div>
                        </li>
                        <li>
                            <i class="icon-4 iconfont"></i>
                            <div class="box">
                                <h3 class="title">PC端网站设计</h3>
                                <p class="desc">好看+好用+激发消费者购买欲望</p>
                            </div>
                        </li>
                        <li>
                            <i class="icon-3 iconfont"></i>
                            <div class="box">
                                <h3 class="title">画册策划</h3>
                                <p class="desc">用画面让产品和服务说话</p>
                            </div>
                        </li>
                        <li>
                            <i class="icon-4 iconfont"></i>
                            <div class="box">
                                <h3 class="title">形象策略</h3>
                                <p class="desc">从无到有，从有到更好</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-plan">
        <div class="container">
            <div class="content">
                <h2 class="title">我们提供定制化设计解决方案</h2>
                <p class="desc">形象策略+画册策划+PC端网站设计+移动端网站设计</p>
                <div class="box-plan">
                    <span class="pic pic-1">
                        <img data-src="../../public/img/hd_v13/plan-1.jpg?v=5ba80bc">
                    </span>
                    <span class="pic pic-2">
                        <img data-src="../../public/img/hd_v13/plan-2.jpg?v=076d7aa">
                    </span>
                    <span class="pic pic-3">
                        <img data-src="../../public/img/hd_v13/plan-3.jpg?v=b7067d8">
                    </span>
                    <span class="pic pic-4">
                        <img data-src="../../public/img/hd_v13/plan-4.jpg?v=63496d9">
                    </span>
                    <span class="pic pic-5">
                        <img data-src="../../public/img/hd_v13/plan-5.jpg?v=16e1415">
                    </span>
                    <span class="pic pic-6">
                        <img data-src="../../public/img/hd_v13/plan-6.jpg?v=61e259e">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-advertisement">
        <div class="container">
            <div class="content">
                <div class="desc">
                    <em class="left">“</em>每一个品牌都是一个产品，但不是所有的产品<em class="right">”</em>
                </div>
                <p class="text">都是品牌~</p>
            </div>
        </div>
    </div>
    <div class="section section-advantage">
        <div class="container">
            <div class="content">
                <h2 class="title">关于我们的优势</h2>
                <p class="desc">不断的努力，严格要求自己，真诚的为客户服务</p>
                <div class="ul-box">
                    <ul class="cleaxfix">
                        <li class="num-box-01">
                            <i class="iconfont icon-1"></i>
                            <span class="num">1825</span>
                            <p class="desc">成功案例</p>
                        </li>
                        <li class="num-box-02">
                            <i class="iconfont icon-2"></i>
                            <span class="num">100</span><em>+</em>
                            <p class="desc">团队成员</p>
                        </li>
                        <li class="num-box-03">
                            <i class="iconfont icon-3"></i>
                            <span class="num">600</span><em>+</em>
                            <p class="desc">客户好评 </p>
                        </li>
                        <li class="num-box-04">
                            <i class="iconfont icon-4"></i>
                            <span class="num">700</span><em>+</em>
                            <p class="desc">赢得奖杯 </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-value">
        <div class="container">
            <div class="content">
                <h2 class="title">给你最好的体验价值</h2>
                <p class="desc">网站建设、视觉设计领域从业超过10年！我们了解大中小型企业的经营模式和需求我们倡导让客户感知产品的体验价值，而不仅仅是产品的功能</p>
                <a href="javascript:void(0);" class="btn btn-more">了解详情</a>
            </div>
        </div>
    </div>
    <div class="section section-contact">
        <div class="container">
            <div class="content">
                <h2 class="title">联系我们</h2>
                <p class="desc">如有任何问题请联系我们，我们7*24小时竭诚为您服务</p>
                <p class="phone">185-2022-7827</p>
                <ul class="cleaxfix">
                    <li>
                        <i class="iconfont icon-qq"></i>
                        <span class="name">在线QQ客服</span>
                        <span class="text">370065053</span>
                    </li>
                    <li>
                        <i class="iconfont icon-sina"></i>
                        <span class="name">广告行业制作</span>
                        <span class="text">since1991_vip@163.com</span>
                    </li>
                    <li>
                        <i class="iconfont icon-weixin"></i>
                        <span class="name">关注官方微信</span>
                        <span class="text">Xin_since-1991</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section section-introduce" id="J_introduce">
        <div class="container">
            <div class="content">
                <ul class="cleaxfix"> </ul>
            </div>
        </div>
    </div>
    <div class="section section-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v13/common.min.js?v=991eafd"></script>
    <script src="../../public/js/hd_v13/script.min.js?v=9cb27e0"></script>
    <script type="text/x-dot-template" id="J_introduceTemp">
        {{~it :value:index}}
        <li>
            <a href="{{=value.image_url}}" class="img">
                <img data-src="{{=value.image}}">
            </a>
            <div class="box">
                <p class="name">{{=value.name}}</p>
                <p class="position">{{=value.brief}}</p>
                <p class="work-years">（{{=value.experience}}）</p>
            </div>
        </li>
        {{~}}
    </script>

    <script type="text/x-dot-template" id="js-sliderTemp">
        <div class="banner">
            {{ for (var i = 0; len = it.length, i
            < len; i++) { var value=i t[i]; }} {{if (value.sale_sign=="active" ) {}} <div class="items items-1 banner-active">
                <a href="{{=value.image_url}}">
                    <img data-src="{{=value.image}}" src="{{=value.image}}">
                </a>
        </div>
        {{}}} {{if (value.sale_sign == "") {}}
        <div class="items items-2">
            <a href="{{=value.image_url}}">
                <img data-src="{{=value.image}}" src="{{=value.image}}">
            </a>
        </div>
        {{}}} {{}}}
        </div>
        <div class="ui-pager">
            <span class="pager-current">1</span>
            <span>2</span>
        </div>
    </script>
</body>

</html>