<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>广告设计</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v13/common.min.css?v=9ebceb6">
    <link rel="stylesheet" href="../../public/css/hd_v13/news.min.css?v=a8b4665">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="bd">
    <div class="section section-header header-fixed" id="header">
        <!-- 公共header -->
    </div>
    <div class="section section-banner"> </div>
    <div class="section section-news">
        <div class="container">
            <div class="content">
                <h2 class="title">新闻中心</h2>
                <ul class="cleaxfix">
                    <li>
                        <a href="javascript:void(0);" class="date">
                            <span class="day">23</span>
                            <span class="years">2016/12</span>
                        </a>
                        <div class="infor">
                            <a href="javascript:void(0);" class="title">品牌设计让你的品牌更具价值</a>
                            <p class="desc">品牌只有赋予其商业产品才具有品牌价值，而品牌的构成离不开产品、市场、广告、形象、理念等多方面，品牌并不是取个好听的...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="date">
                            <span class="day">22</span>
                            <span class="years">2016/12</span>
                        </a>
                        <div class="infor">
                            <a href="javascript:void(0);" class="title">白酒酒吧白搭品牌标志LOGO设计和品牌形象设计</a>
                            <p class="desc">品牌背景：百搭是一个年轻时尚的白酒酒吧，中国白酒是一种十分强烈的白酒，被认为是老年人口的白酒，白酒在中国市场被年轻...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="date">
                            <span class="day">21</span>
                            <span class="years">2016/12</span>
                        </a>
                        <div class="infor">
                            <a href="javascript:void(0);" class="title">商务代理公司Dutheil & Barbosa企业LOGO标志设计</a>
                            <p class="desc">重庆企业VI设计Dutheil & Barbosa（D&B)是一家新成立的商业（务）代理公司，委托专业标识LOGO...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="date">
                            <span class="day">20</span>
                            <span class="years">2016/12</span>
                        </a>
                        <div class="infor">
                            <a href="javascript:void(0);" class="title">医疗IT科技公司Medspire企业品牌标志LOGO设计</a>
                            <p class="desc">品牌背景：Medspire是一家位于波兰华沙的专注于创新IT科技和医疗健康领域，主要涉及设计和生产自主设备，帮...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section section-footer" id="footer">
        <!-- 公共footer -->
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v13/common.min.js?v=991eafd"></script>
    <script src="../../public/js/hd_v13/news.min.js?v=efb697a"></script>
</body>

</html>