<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米618主会场 - 小米手机官网</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v01/style.min.css?v=b08e3ec">
</head>

<body class="bd" id="web" v-cloak>
    <div class="section-items-header">
        <div class="container">
            <a href="//www.mi.com/index.html" target="_blank" class="logo">小米网</a>
            <a href="//www.mi.com/index.html" target="_blank" class="return">返回小米网 &gt;</a>
            <div class="content">
                <p>{{headerDesc}}
                    <br />{{headerDesc1}}</p>
                <a href="//www.mi.com/index.html" target="_blank" class="enter">进入小米网</a>
            </div>
        </div>
    </div>
    <div class="section-items-nav" id="J_nav">
        <div class="container">
            <ul class="list clearfix">
                <template v-for="(index, todo) in navList">
                    <li class="items-{{index + 1}}" data-target="#{{todo.target}}">
                        {{todo.title}}
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section section-items-surprise">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{surpriseTitle}}</h2>
                <p class="desc">{{surpriseDesc}}
                    <br />{{surpriseDesc1}}</p>
            </div>
            <div>
                <div class="tab-active" id="tabActive">
                    <ul class="list clearfix">
                        <template v-for="(index, todo) in bannerTitle">
                            <li class="items" :class="todo.slot === 1 ? 'active': ''">
                                <i>{{todo.id}}</i> {{todo.name}}
                                <br />{{todo.desc}}
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="img-list">
                        <template v-for="(index, todo) in bannerList">
                            <a href="{{todo.href}}" target="_blank" class="items" :class="todo.sale_sign === 1 ? 'active':''">
                                <img v-bind:src="'/public/img/hd_v01/' + todo.image" alt="">
                            </a>
                        </template>
                    </div>
                    <div class="tab-controls">
                        <span class="tab-controls-prev"></span>
                        <span class="tab-controls-next"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-items-phonestar" id="phone">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{phoneTitle}}</h2>
                <p class="desc">{{phoneDesc}}</p>
            </div>
            <ul class="list clearfix" id="J_phoneGoods">
                <template v-for="(index, todo) in phoneList">
                    <li class="items-{{index + 1}}">
                        <h2 class="title-h2">{{todo.title}} <span v-if="todo.span !==''">{{todo.span}}</span></h2>
                        <p class="desc">{{todo.desc}}<br />{{todo.desc_2}}</p>
                        <p class="price price-num">{{todo.price}}<em>元起</em></p>
                        <a href="{{todo.buy_url}}" target="_blank" class="btn-buy">立即购买</a>
                        <div class="links" v-if="todo.slot">
                            <a href="javascript:void(0);" class="buchang">10天内购机补偿 &gt;</a>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section section-items-newpro" id="new">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{newProductTitle}}</h2>
                <p class="desc">{{newProductDesc}}</p>
            </div>
            <ul class="list clearfix" id="J_newGoods">
                <template v-for="(index, todo) in newProductList">
                    <li class="items-{{index + 1}}">
                        <a href="{{todo.buy_url}}" target="_blank" class="bg-0{{index + 1}}">{{todo.name}}</a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section section-items-mitv" id="mitv">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{mitvTitle}}</h2>
                <p class="desc">{{mitvDesc}}</p>
            </div>
            <ul class="list clearfix" id="J_mitvGoods">
                <template v-for="(index, todo) in mitvList">
                    <li class="items-{{index + 1}}">
                        <a href="{{todo.buy_url}}" target="_blank" class="bg-0{{index + 1}}">{{todo.name}}</a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section section-items-smart" id="smart">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{smartTitle}}</h2>
                <p class="desc">{{smartDesc}}</p>
            </div>
            <ul class="list clearfix" id="J_smartGoods">
                <template v-for="(index, todo) in smartList">
                    <li class="items-{{index + 1}}">
                        <h3>{{todo.title}}</h3>
                        <p>{{todo.desc}}</p>
                        <div class="links">
                            <span class="price price-num">{{todo.price}}<em>元</em></span>
                            <del v-if="todo.del !== ''">{{todo.del}}</del>
                        </div>
                        <a href="{{todo.buy_url}}" target="_blank" class="btn-buy">立即购买</a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section section-items-accessories" id="accessories">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{accessTitle}}</h2>
                <p class="desc">{{accessDesc}}</p>
            </div>
            <ul class="list clearfix" id="J_partsGoods">
                <template v-for="(index, todo) in accessoriesList">
                    <li class="items-{{index + 1}}">
                        <h3>{{todo.title}}</h3>
                        <p>{{todo.desc}}</p>
                        <div class="links">
                            <span class="price price-num">{{todo.price}}<em>元</em></span>
                            <del v-if="todo.del !== ''">{{todo.del}}</del>
                        </div>
                        <a href="{{todo.buy_url}}" target="_blank" class="btn-buy">立即购买</a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="section section-items-acc">
        <div class="container">
            <a href="javascript:void(0);">小米618，配件也狂欢</a>
        </div>
    </div>
    <div class="section section-items-welfare" id="welfare">
        <div class="container">
            <div class="content">
                <h2 class="title-h2">{{welfareTitle}}</h2>
                <p class="desc">{{welfareDesc}}
                    <br /> {{welfareDesc1}}</p>
                <div class="links">
                    <a href="javascript:void(0);" class="rule">规则详情 &gt;</a>
                    <a href="javascript:void(0);" class="prize" id="J_showPrize">我的奖品 &gt;</a>
                </div>
                <div class="welfare-draw">
                    <h3><i>福利 1</i>抽奖赢幸运大礼包</h3>
                    <div class="letter-infor">
                        <strong>亲爱的用户：</strong>
                        <p>小米商城今天的一砖一瓦，都建立在您的每分支持上。为了表达感谢，小米商城特别准备了幸运大礼包，幸运中奖的人将可优先购买小米5 尊享版、小米手环2，抢先体验新品。 祝您幸运中奖。</p>
                        <div class="sign">
                            <strong>小米商城</strong>
                        </div>
                    </div>
                    <div class="action">
                        <a href="javascript:void(0);" class="btn-buy btn-disable J_btn618" id="J_draw618" data-start-text="我要幸运大礼包">12月8日 开始</a>
                        <div><span class="total">还有 <i id="J_uscoreTotal"></i> 次抽奖机会</span></div>
                    </div>
                    <div class="more"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-items-footer">
        <div class="container">
            <p>©<a href="//www.mi.com/index.html" target="_blank">mi.com</a> 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</p>
            小米618狂欢20天，访问mi.com
        </div>
    </div>
    <div class="modal modal-draw-result fade hide" id="J_modalDrawResult">
        <span class="close" data-dismiss="modal">X</span>
        <div class="modal-body">
            <div class="content content-faild">
                <p class="tip">太可惜了！你木有中奖
                    <br>再试试手气</p>
            </div>
            <div class="content content-noscore">
                <p class="tip">本日抽奖次数已用完
                    <br>明天再来试试</p>
            </div>
            <div class="content content-lucky">
                <p class="tip">恭喜你，获得了
                    <br><span id="J_drawPrizeName"></span></p>
                <p class="msg">
                    将于7个工作日内发至您的帐户
                    <br>可于小米商城APP /服务/购买资格查看
                </p>
            </div>
            <a href="javascript:void(0);" class="btn btn-share" id="J_sharePrize">炫耀一下</a>
        </div>
    </div>
    <div class="modal modal-rule fade hide" id="J_modalRule">
        <span class="close" data-dismiss="modal">X</span>
        <div class="modal-body">
            <h3 class="title">3大专属福利活动规则详情</h3>
            <p class="hd-time">活动时间：2016年6月1日至6月20日</p>
            <div class="modal-box-1 modal-box">
                <span>活动规则：</span>
                <p>① 抽奖赢幸运大礼包—登录帐户，即可参加抽奖，每人每天有 3 次抽奖机会</p>
                <p>② 新机红包— 618 活动期间购买新手机，登录小米商城APP即可抽红包</p>
                <p>③ 微博晒单赢好礼— 618 活动期间在微博晒订单 @小米商城、带有 #小米商城618# 话题，即可参加抽奖</p>
            </div>
            <div class="modal-box-2 modal-box">
                <span>奖品到帐与使用时间：</span>幸运大礼包内有小米5 尊享版购买资格、新品小米手环2 购买资格等，中奖后可于 7 个工作日内至小米商城APP查看；微博晒单每日送出 10 个新品小米手环2 购买资格，相关中奖信息可于活动三天后在小米商城官方微博查看。小米5 尊享版、小米手环2 购买资格等奖品皆有使用时间限制，请留意。
            </div>
            <div class="modal-box-3 modal-box">
                <span>注意事项：</span>本规则由小米公司依据国家相关法律法规及规章制度予以解释；小米发放的所有购买资格严禁出售或转让，如经发现并证实的，该购买资格将予以作废处理；为遏制黄牛倒票现象，小米公司保留取消或变更购买资格使用的权力。
            </div>
        </div>
    </div>
    <div class="modal modal-buchang fade hide" id="J_modalBuchang">
        <span class="close" data-dismiss="modal">X</span>
        <div class="modal-body">
            <h3 class="title">红米Note 3 全网通版调价说明<br />及10 x 24小时购机用户现金券补偿规则</h3>
            <div class="modal-box modal-box-1">
                <span>调价说明：</span>
                <p>红米Note 3 全网通版（2GB+16GB）直降100特价899元</p>
                <p>红米Note 3 高配全网通版（3GB+32GB） 直降100特价1099元</p>
            </div>
            <div class="modal-box modal-box-2">
                <span>降价前10x24小时内购机用户 免费领取现金券</span>
            </div>
            <div class="modal-box modal-box-3">
                <span>谁可以领取？</span>
                <p>5月22日早10点－6月1日早10点期间通过小米网成功购买（下单并支付）红米Note 3全
                    <br />网通版（2GB+16GB）及红米Note 3高配全网通版（3GB+32GB），包含合约机及F码
                    <br />购机用户，不包含企业团购及发生退货操作的用户。</p>
            </div>
            <div class="modal-box modal-box-4">
                <span>现金券金额及数量：</span>
                <p>每购买1部红米Note 3 全网通版（2GB+16GB），即可免费领取100元小米网现金券1张。</p>
                <p>每购买1部红米Note 3 高配全网通版（3GB+32GB），即可免费领取100元小米网现金券1张。</p>
                <p>如果同一帐号购买多台，则该账号可领取多张现金券。</p>
            </div>
            <div class="modal-box modal-box-5">
                <span>发放及使用时间：</span>
                <p>您可在6月1日18点后访问小米网领取现金券。现金券使用有效期为6月8日早10点－6月22日早10点</p>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v01/script.min.js?v=0abdb6e"></script>
</body>

</html>