<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米手机用户资深度测试 - 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v09/style.min.css?v=962d78e">
</head>

<body class="bd">
    <div class="section section-01">
        <div class="container">
            <a href="//www.mi.com/index.html" target="_black" class="logo"></a>
            <div class="links">
                <span class="tip webfont">小米Max 新品发布系列活动</span>
                <a href="//www.mi.com/index.html" target="_black" class="btn-enter J_tomiui">返回小米网 &gt;</a>
            </div>
            <div class="content">
                <h2 class="title">手机用户资深度测试</h2>
                <a href="javascript:void(0);" class="btn btnDekaron">立即挑战 每天赢小米Max</a>
                <span class="number J_userNum"><!-- <em>正在加载...</em>万 用户测试结果为资深手机玩家 --></span>
            </div>
        </div>
    </div>
    <div class="section section-02">
        <div class="container">
            <div class="section02-item-img">
                <img data-src="../../public/img/hd_v09/section02-img-1.png?v=497db9f">
            </div>
            <span class="title webFont">《MIUI 重度手机用户报告》</span>
            <ul class="items">
                <li>
                    <img data-src="../../public/img/hd_v09/items-01.png?v=9c211c0" class="img01">
                    <p class="webFont">用户平均每天玩手机4.5小时
                        <br/>其中1 / 3 用户亮屏时间超过5.5小时</p>
                </li>
                <li>
                    <img data-src="../../public/img/hd_v09/items-02.png?v=b962a26" class="img02">
                    <p class="webFont">资深用户每天会点亮屏幕214次
                        <br />平均4.6分钟看一次手机</p>
                </li>
                <li>
                    <img data-src="../../public/img/hd_v09/items-03.png?v=87121fe" class="img03">
                    <p class="webFont">在重度使用用户中
                        <br>女性比男性花在手机上的时间还多1.29%</p>
                </li>
            </ul>
            <div class="reading">
                <i class="iconfont"></i>
                <a href="//www.miui.com/thread-4170886-1-1.html " target="_black" class="btnRead">阅读完整报告</a>
            </div>
        </div>
    </div>
    <div class="section section-03">
        <div class="container">
            <div class="section03-item-img">
                <img data-src="../../public/img/hd_v09/section03-img-2.png?v=54ed910">
            </div>
            <h3 class="title">一部为资深用户而设计的手机，测试并分享每天赢 1 台<a href="//www.miui.com/thread-4170878-1-1.html" target="_black" class="liaojie">详细规则 &gt;</a></h3>
            <a href="javascript:void(0);" class="btn btnTest">立即测试</a>
            <div class="section03-bg"></div>
        </div>
    </div>
    <div class="section section-04">
        <div class="container">
            <div class="content">
                <h2 class="title">5.10 小米Max 新品发布系列活动</h2>
                <ul>
                    <li class="item-li-01">
                        <h3 class="fontFamily">寻找Max<br />抢直播座位</h3>
                        <div class="J_date">
                            <span>4.27 - 5.10</span>
                        </div>
                    </li>
                    <li class="item-li-02">
                        <h3 class="fontFamily">手机用户<br />资深度测试</h3>
                        <div class="J_date">
                            <span>5.3 - 5.7</span>
                        </div>
                    </li>
                    <li class="item-li-03">
                        <h3 class="fontFamily">小米Max<br />创意造句</h3>
                        <div class="J_date">
                            <span>5.4 - 5.9</span>
                        </div>
                    </li>
                    <li class="item-li-04">
                        <h3 class="fontFamily">夏季新品<br />发布会直播</h3>
                        <div class="J_date">
                            <span>5.10</span>
                        </div>
                    </li>
                    <li class="item-li-05">
                        <a href="//www.xiaomi.cn/index.html" target="_black">
                            <h3 class="fontFamily">更多活动<br />前往小米社区</h3>
                            <div class="J_date"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section section-footer">
        <div class="container">
            <h2 class="fontFamily">小米，为发烧而生</h2>
        </div>
    </div>

    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v09/script.min.js?v=93fdc08"></script>
</body>

</html>