/**
 * Author: chenfuxin
 * Date: 2016/07/25
 */

@import '../../../static/scss/_custom.scss';
@import '../../../static/scss/_normalize.scss';
@import '../../../static/scss/_reset.scss';
@import '../../../static/scss/_modal.scss';
// Your style here
@mixin transition($str) {
    -webkit-transition: $str;
    -moz-transition: $str;
    -ms-transition: $str;
    -o-transition: $str;
    transition: $str;
}

@mixin transform($str) {
    -webkit-transform: $str;
    -moz-transform: $str;
    -ms-transform: $str;
    -o-transform: $str;
    transform: $str;
}

@mixin animation($arr) {
    -webkit-animation: $arr;
    -moz-animation: $arr;
    -ms-animation: $arr;
    -o-animation: $arr;
    animation: $arr;
}

@mixin boxShadow($arr) {
    -webkit-box-shadow: $arr;
    -moz-box-shadow: $arr;
    -ms-box-shadow: $arr;
    -o-box-shadow: $arr;
    box-shadow: $arr;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

@mixin abs-lt {
    position: absolute;
    left: 50%;
    top: 50%;
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

$imgUrl: '/public/img/hd_v05/';
body {
    min-width: 1226px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

em {
    font-style: normal;
}

@mixin btn {
    display: inline-block;
    width: 138px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.section-header {
    height: 600px;
    &.preload {
        background: url('#{$imgUrl}header-bg.jpg') no-repeat center center;
    }
    .logo {
        display: inline-block;
        width: 41px;
        height: 41px;
        border-radius: 3px;
        margin-top: 20px;
        text-indent: -9999em;
        background: url('#{$imgUrl}xm-logo.jpg') no-repeat;
    }
    .desc {
        float: right;
        margin-top: 20px;
        color: #1b7db4;
        font-size: 20px;
        i {
            display: inline-block;
            width: 23px;
            height: 23px;
            vertical-align: -4px;
            background: url('#{$imgUrl}clock.png') no-repeat;
        }
        em {
            font-style: normal;
            margin: 0 6px;
            font-size: 30px;
        }
    }
    .content {
        text-align: center;
        padding-top: 365px;
        color: #fff;
        font-size: 16px;
    }
}

.section-mitv {
    height: 1970px;
    text-align: center;
    .content {
        height: 735px;
        position: relative;
    }
    .list {
        height: 548px;
        overflow: hidden;
        a {
            display: none;
            transition: all 1s;
            -webkit-transition: all 1s;
        }
        .current {
            display: block;
        }
        img {
            width: 1226px;
            height: 548px;
        }
    }
    .page {
        width: 1226px;
        margin: 0 auto;
        padding-top: 40px;
        span {
            color: #fff;
            font-size: 36px;
            cursor: pointer;
            margin-left: 100px;
        }
        .first {
            margin-left: 0;
        }
        .current {
            font-weight: bold;
            border-bottom: 6px solid #fff;
        }
    }
    .ul-list {
        width: 1130px;
        margin: 0 auto;
        position: relative;
    }
    li {
        position: relative;
        float: left;
        width: 560px;
        height: 305px;
        background: #fff;
        margin: 0 0 10px 10px;
        .title {
            font-weight: normal;
            color: #666;
            font-size: 24px;
        }
        .desc {
            line-height: 30px;
            color: #666;
        }
        .price {
            margin: 10px 0;
            color: #ef4321;
        }
        em {
            font-size: 24px;
        }
        del {
            margin-left: 5px;
            color: #666;
        }
        .btn {
            @include btn;
            color: #fff;
            background: #fb5332;
        }
        .iconfont {
            width: 55px;
            height: 56px;
            display: block;
            position: absolute;
            top: 0;
            right: 25px;
            background: url('#{$imgUrl}icon.png') no-repeat;
        }
    }
    .item-01,
    .item-03 {
        .iconfont {
            background-position: 0 -72px;
        }
    }
    .item-02 {
        .iconfont {
            background-position: 0 -128px;
        }
    }
    .item-01,
    .item-03,
    .item-04 {
        margin-left: 0;
    }
    .item-03 {
        width: 1130px;
        height: 460px;
        .text {
            text-align: left;
            position: absolute;
            right: 120px;
            top: 125px;
            color: #fff;
        }
        .title {
            font-size: 36px;
            color: #fff;
        }
        .desc,
        del {
            color: #fff;
        }
    }
    .item-04,
    .item-05,
    .item-06 {
        width: 370px;
        height: 400px;
        .img {
            display: block;
            margin: 10px 0 10px 0;
        }
    }
    .item-01,
    .item-02 {
        .img {
            float: left;
            display: block;
            width: 280px;
            height: 205px;
            margin: 56px 0 0 20px;
        }
        .text {
            float: right;
            width: 245px;
            text-align: left;
            margin-top: 80px;
        }
    }
    &.preload {
        background: url('#{$imgUrl}mitv-bg.jpg') no-repeat center center;
        .item-03 {
            background: url('#{$imgUrl}mitv3-60.jpg') no-repeat;
        }
    }
}

.section-bigScreen,
.section-hezi,
.section-radio {
    .content {
        padding-top: 60px;
        text-align: center;
        .title {
            font-size: 42px;
        }
        .desc {
            font-size: 16px;
        }
    }
    .title {
        font-weight: normal;
        color: #fff;
    }
    .desc {
        color: #fff;
        line-height: 20px;
    }
    ul {
        width: 1130px;
        margin: 40px auto;
    }
    li {
        position: relative;
        float: left;
        background: #fff;
        margin-bottom: 10px;
        .price {
            line-height: 40px;
            em {
                font-size: 24px;
            }
            del {
                margin-left: 5px;
                color: #666;
            }
        }
        .title {
            font-size: 36px;
        }
    }
    .item-01 {
        width: 1130px;
        height: 460px;
        margin-bottom: 10px;
    }
}

.section-bigScreen {
    height: 1175px;
    li {
        width: 1130px;
        height: 460px;
        .price {
            color: #ffc923;
        }
        .btn {
            @include btn;
            background: #ffc923;
        }
    }
    &.preload {
        background: url('#{$imgUrl}bigscreen-bg.jpg') no-repeat center center;
        .item-01 {
            background: url('#{$imgUrl}mimax-bg.jpg') no-repeat;
        }
        .item-02 {
            background: url('#{$imgUrl}mipad-bg.jpg') no-repeat;
        }
    }
    .btn-mimax {
        color: #0089dc;
    }
    .btn-mipad {
        color: #d52b54;
    }
    .item-01 {
        .text {
            padding: 126px 0 0 140px;
        }
    }
    .item-02 {
        .text {
            padding: 126px 0 0 720px;
        }
    }
}

.section-hezi {
    height: 1009px;
    li {
        width: 560px;
        height: 300px;
        .img {
            display: block;
            width: 250px;
            height: 300px;
            float: left;
        }
        img {
            width: 250px;
            height: 300px;
        }
        &.item-01 {
            i {
                position: absolute;
                top: 85px;
                right: 210px;
                display: block;
                width: 72px;
                height: 72px;
                background: url('#{$imgUrl}icon.png') no-repeat;
                background-position: 0 0;
            }
            .text {
                margin: 126px 0 0 680px;
            }
            .price {
                color: #ffc923;
            }
            .btn {
                @include btn;
                background: #ffc923;
            }
            .btn-heiz3 {
                color: #d52b54;
            }
        }
        &.item-02 {
            i {
                display: block;
                position: absolute;
                top: 0;
                right: 30px;
                width: 45px;
                height: 45px;
                background: url('#{$imgUrl}icon.png') no-repeat;
                background-position: 0 -184px;
            }
        }
        &.item-03 {
            margin-left: 10px;
        }
        &.item-02,
        &.item-03 {
            .text {
                float: left;
                color: #666;
                margin: 65px 0 0 50px;
            }
            .title {
                color: #666;
                font-size: 24px;
            }
            .desc {
                color: #666;
            }
            .price {
                color: #fb5332;
                margin-bottom: 10px;
            }
            .btn {
                @include btn;
                background: #fb5332;
                color: #fff;
            }
        }
    }
    &.preload {
        background: url('#{$imgUrl}hezi-bg.jpg') no-repeat center center;
        .item-01 {
            background: url('#{$imgUrl}hezi3-bg.jpg') no-repeat;
        }
    }
}

.section-radio {
    height: 1123px;
    li {
        margin-right: 10px;
        width: 275px;
        height: 400px;
        text-align: center;
        .img {
            display: block;
            height: 200px;
            margin-bottom: 10px;
        }
        img {
            height: 200px;
        }
        .text {
            .title {
                color: #666;
                font-size: 24px;
            }
            .desc {
                color: #666;
            }
            .price {
                color: #fb5332;
                margin-top: 15px;
                line-height: 40px;
            }
            .btn {
                @include btn;
                background: #fb5332;
                color: #fff;
            }
        }
        &.item-01 {
            margin-right: 0;
            .text {
                padding: 126px 0 0 140px;
                text-align: left;
                color: #fff;
                .title {
                    font-size: 36px;
                    color: #fff;
                }
                .desc {
                    color: #fff;
                    line-height: 20px;
                }
                .price {
                    color: #ffc923;
                }
                .btn {
                    background: #ffc923;
                    color: #22a087;
                }
            }
        }
        &.item-05 {
            margin-right: 0;
        }
    }
    &.preload {
        background: url('#{$imgUrl}radio-bg.jpg') no-repeat center center;
        .item-01 {
            background: url('#{$imgUrl}radio.jpg') no-repeat;
        }
    }
}

.section-footer {
    height: 100px;
    padding: 60px 0 0 0;
    background: #3273f7;
    color: #fff;
    text-align: center;
}