<!DOCTYPE html>
<div class="container">
    <div class="links">
        <a href="/views/index.html">首页</a>
        <span class="sep">|</span>
        <a href="/views/index.html">游戏介绍</a>
        <span class="sep">|</span>
        <a href="/views/index.html">新闻中心</a>
        <span class="sep">|</span>
        <a href="/views/index.html">活动中心</a>
        <span class="sep">|</span>
        <a href="/views/index.html">充值中心</a>
        <span class="sep">|</span>
        <a href="/views/index.html">会员中心</a>
        <span class="sep">|</span>
        <a href="/views/index.html">客服中心</a>
    </div>
    <p>吉安趣玩网络科技有限公司 版权所有 赣ICP备15011427号-1 赣网文[2016]3028-013号</p>
    <p>电话: 400-001-8131</p>
    <p>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
    <p>本公司游戏仅适合18岁以上玩家！</p>
</div>