<!DOCTYPE html>
<div class="tools">
    <div class="container">
        <span>欢迎来到 <a href="index.html">掌上澳门</a></span>
        <div class="time" id="nowTime"></div>
        <div class="links">
            <a href="/views/login/login.html" class="login current" target="_blank">登录</a>
            <a href="/views/login/register.html" class="register" target="_blank">注册</a>
            <a href="/views/login/login.html" class="message" target="_blank">消息通知</a>
        </div>
    </div>
</div>
<div class="navwap">
    <div class="container">
        <div class="logo">
            <a href="javascript:;">LOGO</a>
        </div>
        <div class="nav">
            <ul class="clearfix">
                <li>
                    <a href="javascript:;" class="current">首页</a>
                </li>
                <li>
                    <a href="javascript:;">游戏介绍</a>
                </li>
                <li>
                    <a href="list.html?zone=dynamic">新闻中心</a>
                </li>
                <li>
                    <a href="javascript:;">活动中心</a>
                </li>
                <li>
                    <a href="javascript:;">充值中心</a>
                </li>
                <li>
                    <a href="javascript:;">会员中心</a>
                </li>
                <li>
                    <a href="javascript:;">客服中心</a>
                </li>
            </ul>
        </div>
    </div>
</div>