<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米暑假游乐场 - 小米商城</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v02/style.min.css?v=fd612e8">
</head>

<body>

    <div class="bd">
        <div class="section section-header">
            <div class="container">
                <div class="links">
                    <a href="//www.mi.com/index.html" target="_blank" class="logo">小米网</a>
                    <a href="//www.mi.com/index.html" target="_blank" class="enterBtn">返回小米网 &gt;</a>
                </div>
                <div class="content">
                    <p class="txt">小米暑假游乐场</p>
                    <p class="desc">红米手机3S 现货购 小米手环2 天天售<br />衣服特惠 新品背包仅39元</p>
                </div>

                <div class="ani-ship"></div>
            </div>
            <div class="balloon balloon-1"> </div>
            <div class="balloon balloon-2"> </div>
            <div class="balloon balloon-3"> </div>
        </div>

        <div class="section section-nav" id="J_nav">
            <div class="container">
                <ul class="list clearfix">
                    <li class="items-1" data-target="#car">
                        <a href="javascript:void(0);">
                            <div class="txt">
                                <h3>云霄飞车区</h3>
                                <p>红米手机 3S现货购</p>
                            </div>
                        </a>
                    </li>
                    <li class="items-2" data-target="#horse">
                        <a href="javascript:void(0);">
                            <div class="txt">
                                <h3>旋转木马区</h3>
                                <p>明星单品包邮购</p>
                            </div>
                        </a>
                    </li>
                    <li class="items-3" data-target="#ship">
                        <a href="javascript:void(0);">
                            <div class="txt">
                                <h3>海盗船区</h3>
                                <p>小米手环2 天天售</p>
                            </div>
                        </a>
                    </li>
                    <li class="items-4" data-target="#wheel">
                        <a href="javascript:void(0);">
                            <div class="txt">
                                <h3>摩天轮区</h3>
                                <p>新品轻运动背包仅39元</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section section-car" id="car">
            <div class="container">
                <div class="content">
                    <p class="desc-01">迫不及待地坐上云霄飞车，感受那风驰电掣的妙不可言。<br />就像使用一台小米手机，体验那极致的“快”感。</p>
                    <h2 class="title">红米手机 3S</h2>
                    <p class="desc-02">金属机身、指纹识别，性能再升级</p>
                    <p class="price"><em>699</em>元起</p>
                    <a href="//www.mi.com/hongmi3s/" class="btn-buy" target="_blank">立即购买</a>
                </div>
            </div>
        </div>

        <div class="section section-horse" id="horse">
            <div class="container">
                <div class="car-bg">
                    <p>那美丽的旋转木马伴着清脆的铃音欢快地跑，我们开心的笑......<br />在生活中，也许一个简单的物件就能带来快乐的色彩。</p>
                    <div class="balloon"></div>
                </div>
                <ul class="list clearfix" id="J_horseList">

                </ul>
            </div>
        </div>

        <div class="section section-ship" id="ship">
            <div class="container">
                <ul class="list clearfix" id="J_shipList"> </ul>
                <div class="ship-bg">
                    <p>乘坐海盗船犹如莅临惊涛骇浪的大海之中，<br /> 喜欢猎奇的人一定会爱上这种快感。
                        <br /> 他们也一定会爱上，使用智能硬件产品去改变生活。
                    </p>
                    <div class="moutain"></div>
                </div>
                <div class="ani-ship"></div>
            </div>
        </div>

        <div class="section section-wheel" id="wheel">
            <div class="container">
                <div class="wheel-bg">
                    <p>当抵达摩天轮顶点的时候，你会收获一道全新风景，<br /> 那换个视角看世界的美丽。
                        <br /> 而现在，我们也有一些全新的产品想给你看。
                    </p>
                    <div class="balloon"></div>
                </div>
                <ul class="list clearfix" id="J_wheelList">

                </ul>
            </div>
        </div>

        <div class="section section-luckdraw">
            <div class="container">
                <div class="content">
                    <div class="photo-bg"></div>
                    <div class="camera-bg"></div>
                    <div class="text-01">
                        <p class="tip">拍照并分享即有机会赢取小米手环2 优先购买资格</p>
                        <div class="links">
                            <a href="javascript:void(0);" class="rule">活动规则 &gt;</a>
                            <a href="javascript:void(0);" class="prize btn" id="J_showPrize">我的奖品 &gt;</a>
                        </div>
                    </div>
                    <div class="text-02">
                        <a href="javascript:void(0);" class="btn" id="J_camera">我要拍照</a>
                    </div>
                    <div class="text-03 btn-disable">
                        <p class="tip">对照片不满意？换个小米账号头像试试吧</p>
                        <a href="javascript:void(0);" class="btn" id="J_shareWeibo"><i class="icon"></i>分享</a>
                        <p class="desc">分享获得抽奖机会</p>
                    </div>
                    <div class="text-04 btn-disable">
                        <a href="javascript:void(0);" class="btn J_btnLuckDraw" id="J_luckDraw">我要抽奖</a>
                        <div>
                            <span class="total">还有<i id="J_uscoreTotal"></i>次抽奖机会</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-rule fade hide" id="J_modalRule">
        <span class="close" data-dismiss="modal">X</span>

        <div class="modal-body">
            <h2 class="title">活动规则</h2>
            <div class="infor-box">
                <p>① 活动期间登录小米帐户，即可参加拍照互动并分享，分享成功获得 3 次抽奖机会</p>
                <p>② 奖品为小米手环2 优先购买资格，中奖后可在“我的奖品”中查看。</p>
                <p>③ 在用户中奖后 10 个工作日内，我们会将购买资格发放至对应小米账户中。届时可至 “小米商城APP - 服务 - 购买资格” 中查看。</p>
                <span><em>注意事项：</em>本规则由小米公司依据国家相关法律法规及规章制度予以解释；小米发放的所有购买资格严禁出售或转让，如经发现并证实的，该购买资格将予以作废处理；为遏制黄牛倒票现象，小米公司保留取消或变更购买资格使用的权力。</span>
            </div>
        </div>
    </div>

    <div class="modal modal-prize fade hide" id="J_modalPrize">
        <span class="close" data-dismiss="modal">X</span>

        <div class="modal-body">
            <h2 class="title">我的奖品</h2>
            <div class="prizeBox">
                <span class="prize-name" id="J_prizeName"></span>
            </div>
            <div class="tip">
                <p>将于10个工作日内发至您的帐户<br />可于小米商城APP /服务/购买资格查看</p>
            </div>
        </div>
    </div>

    <div class="modal modal-draw-result fade hide" id="J_modalDrawResult">
        <span class="close" data-dismiss="modal">X</span>

        <div class="modal-body">
            <div class="content content-faild">
                <p class="tip">太可惜了！你木有中奖<br>再试试手气</p>
            </div>
            <div class="content content-noscore">
                <p class="tip">本日抽奖次数已用完<br>明天再来试试</p>
            </div>
            <div class="content content-lucky">
                <p class="tip">恭喜你，获得了<br><span id="J_drawPrizeName"></span></p>
                <p class="msg">
                    将于10个工作日内发至您的帐户<br>可于小米商城APP /服务/购买资格查看
                </p>
            </div>

            <a href="javascript:void(0);" class="btn btn-share" id="J_sharePrize">炫耀一下</a>
        </div>
    </div>


    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v02/script.min.js?v=122f8e7"></script>

    <script type="text/x-dot-template" id="productTemp">
        {{~it :value:index}}
        <li>
            {{if(value.sale_sign){}}
            <i class="sign {{if(value.sale_sign === '新品'){}}flag-new{{}}} {{if(value.sale_sign ==='买赠'){}}flag-gift{{}}}">
            {{=value.sale_sign}}
            </i> {{}}}

            <a href="//item.mi.com/{{=value.product_id}}.html" target="_blank">
                <img src="" data-src="{{=value.image}}">
            </a>
            <h2 class="title">{{=value.title}}</h2>
            <p class="desc">{{=value.brief}}</p>
            <p class="price"><em>{{=value.price}}</em>元 {{if(value.market_price != value.price){}}
                <del>{{=value.market_price}}元</del> {{}}}
            </p>
            <a href="//item.mi.com/{{=value.product_id}}.html" class="btn-buy" target="_blank">{{=value.extend_title}}
            {{if(value.extend_title === ''){}}
            立即购买
            {{}}}
        </a>
        </li>
        {{~}}
    </script>
</body>

</html>