<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米5 尊享版首发 - 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v10/style.min.css?v=bc0b3ff">
</head>

<body id="J_visibleWatcher">
    <div class="section-item section-item-01">
        <div class="container">
            <div class="header">
                <a href="//www.mi.com/index.html" class="logo" target="_blank">小米官网</a>
                <a href="//www.mi.com/index.html" class="links" target="_blank">返回小米网 &gt;</a>
            </div>
            <div class="content-text">
                <h1 class="title">小米5 <span>尊享纪念版</span>首发<br />黑科技揭秘</h1>
                <p class="text">骁龙 820处理器 / 4GB内存 + 128GB 闪存 / 4 轴防抖相机 / 3D 陶瓷机身
                    <br />3月31日 尊享纪念版首发，机身铭刻唯一编号
                </p>
                <p class="price">2699<em>元</em></p>
                <a href="//zt.bbs.miui.com/mi5pro/?from=MIpc" class="btn btn-buy" target="_blank">预约尊享纪念版</a>
                <a href="//www.mi.com/mi5/" class="btn btn-buy" target="_blank">了解小米5</a>
            </div>
        </div>
    </div>
    <div class="section-item section-item-02">
        <div class="container">
            <div class="content-text">
                <ul>
                    <li class="item-02-a">
                        <h2 class="title">小米5 尊享纪念版</h2>
                        <p class="text">机身铭刻唯一编号,限量 2000 台
                            <br />3月31日 上午10点首发
                        </p>
                        <a href="//zt.bbs.miui.com/mi5pro/?from=MIpc" class="btn-buy" target="_blank">立即预约</a>
                    </li>
                    <li class="item-02-b">
                        <h2 class="title">小米5 尊享版</h2>
                        <p class="text">4月6日早10 点起开售
                            <br />全天 6 场
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-item section-item-03">
        <div class="container">
            <div class="content-text abs-lt">
                <p class="text01">性能黑科技</p>
                <h2 class="title">骁龙 820 处理器，4GB 内存 + 128GB 闪存</h2>
                <p class="text02">CPU 性能翻倍的骁龙 820 处理器，快 40% 的 Adreno 530 图形引擎。
                    <br />128GB 新一代 UFS 2.0 闪存，比 eMMC 5.0 提速 87%，4GB 双通道 LPDDR4 内存，主频提速至 1866MHz，
                    <br />比上一代快 100%。Antutu 跑分性能测试高达惊人的 14万分 ，
                    <br />这无可阻挡的狠快，在小米5 尊享版上将体验得淋漓尽致。
                </p>
                <ul>
                    <li class="item-03-a">
                        <h3 class="webfont">14万分</h3>
                        <span class="p-text">Antutu 跑分性能测试</span>
                    </li>
                    <li class="item-03-b">
                        <h3 class="webfont">LPDDR4</h3>
                        <span class="p-text">双通道内存，比上一代快 100%</span>
                    </li>
                    <li class="item-03-c">
                        <h3 class="webfont">UFS 2.0</h3>
                        <span class="p-text">比 eMMC 5.0 闪存提速 87%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-item section-item-04">
        <div class="container">
            <div class="content-text abs-lt">
                <p class="text01">工艺黑科技</p>
                <h2 class="webfont">3D 陶瓷机身，明如镜、颜如玉</h2>
                <p class="text02">尊享版独有的 3D 陶瓷机身，采用“明如镜，颜如玉”的微晶锆纳米陶瓷， 平整光滑。
                    <br />2倍于蓝宝石的韧性，高达 8 莫氏硬度，不再担心陶瓷易碎。2倍于玻璃密度，却比玻璃薄了1/3，
                    <br />将后盖压缩到仅 0.35mm 之薄。优美的纤细侧腰，握在手中的一刻，仿佛轻轻握住整个世界的倒影。
                </p>
                <ul>
                    <li class="item-04-a">
                        <span>8 莫氏硬度</span>
                    </li>
                    <li class="item-04-b">
                        <span>0.35mm 薄</span>
                    </li>
                </ul>
                <a href="javascript: void(0);" class="link video J_videoTrigger" data-video-title="小米手机5 外观视频" data-video="XMTQ4MDU2MTkzMg=="><i class="iconfont"></i>观看外观视频</a>
            </div>
        </div>
    </div>
    <div class="section-item section-item-05">
        <div class="container">
            <div class="content-text abs-lt">
                <p class="text01">相机黑科技</p>
                <h2 class="webfont">4 轴光学防抖<br />实时探测 8个方向抖动，清晰成像</h2>
                <p class="text02">从镜片到感光元件，每个环节都配备新科技：更先进的 4 轴光学防抖、更高性能的影像处理器、
                    <br />不惜成本的蓝宝石玻璃镜片、更好还原色彩的 DTI 技术。照片更清晰，色彩更纯粹，夜景细节更多。
                </p>
                <ul>
                    <li class="item-05-a">
                        <h3>IMX298</h3>
                        <span class="p-text">索尼新一代 1600万像素<br />高画质感光元件</span>
                    </li>
                    <li class="item-05-b">
                        <h3>蓝宝石</h3>
                        <span class="p-text">高硬度镜头保护玻璃抗划痕，<br />不易磨损</span>
                    </li>
                    <li class="item-05-c">
                        <h3>DTI 防干扰技术</h3>
                        <span class="p-text">像素间加入防串扰屏障，<br />使每个像素都接收到准确的颜色信息</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-item section-item-06">
        <div class="container">
            <div class="content-text">
                <p class="text01">屏幕黑科技</p>
                <h2 class="webfont">16 颗 LED 灯技术<br />省电高亮屏幕</h2>
                <p class="text02">打破 “高饱和度难以做高亮度” 定律，
                    <br />在仅有 5.15" 屏幕上精密排布 16 颗 LED 灯珠，
                    <br />亮度提升 30%，色彩依旧鲜艳。灯光下看起来更通透，
                    <br />阳光下看得更清晰。
                </p>
                <ul>
                    <li class="item-06-a">
                        <h3 class="webfont">600nit 高亮度</h3>
                        <span class="p-text">亮度提高 30%，色彩却依旧鲜艳</span>
                        <i class="icon"></i>
                    </li>
                    <li class="item-06-a">
                        <h3 class="webfont">95% NTSC高色饱技术</h3>
                        <span class="p-text">高达 95% NTSC 色域的饱和度，
                        <br />比一般手机 sRGB 屏幕提升 30%，画面栩栩如生
                    </span>
                        <i class="icon"></i>
                    </li>
                    <li class="item-06-a">
                        <h3 class="webfont">1500:1 高对比度技术</h3>
                        <span class="p-text">使用 Nega 负液晶技术，对比度高达 1500:1，
                        <br />白色更白、黑色更黑，显示更加锐利醒目。
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-item section-item-07">
        <div class="container">
            <div class="content-text abs-lt">
                <p class="text01">网络黑科技</p>
                <h2 class="webfont">4G+ 未来网络，全网通3.0</h2>
                <p class="text02">采用前沿的 3 载波聚合技术，支持比4G 更快的4G+ 网络。
                    <br />全新的全网通 3.0 技术，当主卡为移动、联通时，副卡联通可用 3G 语音通话，极大改善双卡双待通话质量。
                    <br />支持 VoLTE 技术， 通过将语音电话由 2G 切换到 4G 网络，使电话终于可以获得前所未有的高清音质。
                </p>
                <ul>
                    <li class="item-03-a">
                        <h3 class="webfont">3XCA 技术</h3>
                        <span class="p-text">3 载波聚合</span>
                    </li>
                    <li class="item-03-b">
                        <h3 class="webfont">全网通3.0</h3>
                        <span class="p-text">提升双卡信号</span>
                    </li>
                    <li class="item-03-c">
                        <h3 class="webfont">VoLTE 技术</h3>
                        <span class="p-text">高清语音通话</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-item section-item-08">
        <div class="container">
            <div class="content-text">
                <p class="text01">其他黑科技</p>
                <ul>
                    <li class="item-08-a">
                        <h2 class="webfont">全功能 NFC</h2>
                        <p>支持读卡、写卡、卡模拟、P2P模式。
                            <br />刷公交卡，充值，一部手机搞定。
                        </p>
                    </li>
                    <li class="item-08-b">
                        <h2 class="webfont">快充 3.0 技术</h2>
                        <p>采用高通最新快充3.0，相比小米Note 顶配版，
                            <br />充电速度提高 20%
                        </p>
                    </li>
                    <li class="item-08-c">
                        <h2 class="webfont">陶瓷指纹识别</h2>
                        <p>实体按键，前置指纹识别，陶瓷盖板。
                            <br />指纹修正系统，让解锁越用越灵。
                        </p>
                    </li>
                    <li class="item-08-d">
                        <h2 class="webfont">美颜视频电话</h2>
                        <p>通话过程实时美颜，
                            <br />分享图片或用动态表情与朋友互动
                        </p>
                    </li>
                    <li class="item-08-e">
                        <h2 class="webfont">防丢失追踪</h2>
                        <p>遗失手机后可远程锁定，从底层加锁保护数据，
                            <br />刷机后也能持续追踪。
                        </p>
                    </li>
                    <li class="item-08-f">
                        <h2 class="title">离线一键换机</h2>
                        <p>换新手机时，
                            <br />一键就能完成旧手机的全部数据迁移。</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-item section-item-09">
        <div class="container">
            <div class="content-text">
                <h2 class="title">Are you OK 大考堂<br />答题预约尊享纪念版</h2>
                <p class="text">3月25日10:00 - 3月30日10:00，登陆小米社区或MIUI论坛，
                    <br />参与 Are you OK 大考堂活动，闯关成功即可预约小米5 尊享纪念版！
                </p>
                <a href="//zt.bbs.miui.com/mi5pro/?from=MIpc" class="btn btn-buy" target="_blank">立即预约</a>
                <a href="//www.mi.com/mi5/" class="btn btn-buy" target="_blank">了解小米5</a>
            </div>
        </div>
    </div>
    <div class="section-item section-item-10">
        <div class="container">
            <div class="content-text">
                <div class="content">本页面所有数据详情说明，来源自小米5 产品站：mi.com/mi5</div>
            </div>
        </div>
    </div>
    <div id="J_modalVideo" class="modal modal-video fade modal-hide">
        <div class="modal-hd">
            <h3 class="title">小米5：一次关于优雅的想象</h3>
            <a type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="iconfont">X</i></a>
        </div>
        <div class="modal-body"></div>
    </div>

    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v10/script.min.js?v=7143ae1"></script>
</body>

</html>