<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>玩转2017新年 -- 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v06/style.min.css?v=cbd5669">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body id="web" v-cloak>
    <div class="newyear" id="J_newyear">
        <div class="section section-header">
            <div class="container">
                <div class="header-bar">
                    <a href="//www.mi.com/index.html" target="_blank" class="logo">小米网</a>
                    <span class="bar-items activity-time">{{headerDate}}</span>
                    <a href="javascript:void(0);" class="bar-items rule">{{headerRule}}</a>
                    <a href="//www.mi.com/index.html" class="bar-items return">{{headerReturn}}</a>
                </div>
                <p class="desc">{{headerDesc}}<br />{{headerDesc1}}</p>
            </div>
        </div>
        <div class="section section-nav" id="J_nav">
            <div class="container">
                <div class="nav-list">
                    <template v-for="(index, todo) in navList">
                        <a href="javascript:void(0);" class="nav-items" :class="todo.active ? 'active':''" data-target="#{{todo.target}}">
                            <div class="icon icon-{{index + 1}}"></div>
                            <p>{{todo.title}}</p>
                        </a>
                    </template>
                </div>
            </div>
        </div>
        <div class="section section-heikeji" id="J_heikeji">
            <div class="container">
                <h1>{{heikejiH1}}</h1>
                <p class="desc-text">{{heikejiDesc}}</p>
                <h2>{{heikejiH2}}</h2>
                <div class="group-link">
                    <ul class="group-list group-col2-list clearfix">
                        <template v-for="(index, todo) in heikejiList">
                            <li>
                                <a href="javascript:void(0);" class="pic" :class="todo.product_type == 'minote2' ? 'minote2':'redmi4'"></a>
                                <h3 class="title">{{todo.title}}</h3>
                                <p class="desc">{{todo.desc}}</p>
                                <p class="price">
                                    <span class="price-num">{{todo.price}}</span>元起
                                    <del v-if="todo.price != todo.market_price">{{todo.market_price}}元</del>
                                </p>
                                <div class="btn-switch">
                                    <a href="javascript:void(0);" class="btn-buy btn-primary">
                                        立即购买
                                    </a>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
                <h2>{{heikejiH2Phone}}</h2>
                <div class="mi5s group-link">
                    <div class="content">
                        <h3 class="title">小米5s 抽小米VR眼镜</h3>
                        <p>下单支付后可得3次小米VR眼镜抽取机会</p>
                        <p class="price">
                            <span class="price-num">1899</span>元起
                        </p>
                        <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        <a href="javascript:void(0);" class="btn-primary btn-draw">开始抽奖</a>
                    </div>
                    <a href="javascript:void(0);" class="link"></a>
                </div>
                <a href="javascript:void(0);" class="group-link redminote4">
                    <div class="content">
                        <h3 class="title">红米Note 4</h3>
                        <p>全金属十核千元旗舰，新增黑、蓝两色</p>
                        <p class="price">
                            <span class="price-num">999</span>元起
                        </p>
                        <div class="btn-primary">立即购买</div>
                    </div>
                </a>
                <div class="group-link miphone">
                    <ul class="group-col2-list group-list clearfix">
                        <template v-for="(index, todo) in f2_kejishoujiList">
                            <li>
                                <a href="javascript:void(0);" class="pic">
                                    <img v-bind:src="'/public/img/hd_v06/' + todo.image" alt="{{todo.title}}">
                                </a>
                                <h3 class="title">{{todo.title}}</h3>
                                <p>{{todo.desc}}</p>
                                <p class="price">
                                    <span class="price-num">{{todo.price}}</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </li>
                        </template>
                    </ul>
                </div>
                <a href="javascript:void(0);" class="group-link old-phone">
                    <div class="content">
                        <h3 class="title">手机以旧换新，再送超值红包</h3>
                        <div class="btn-primary">查看旧机报价</div>
                    </div>
                </a>
                <h2>{{heikejiH2Phone1}}</h2>
                <div class="group-link mibook">
                    <ul class="group-col2-list group-list clearfix">
                        <template v-for="(index, todo) in f2_mibookList">
                            <li>
                                <a href="javascript:void(0);" class="pic">
                                    <img v-bind:src="'/public/img/hd_v06/' + todo.image" alt="{{todo.title}}">
                                </a>
                                <h3 class="title">{{todo.title}}</h3>
                                <p>{{todo.desc}}</p>
                                <p class="price">
                                    <span class="price-num">{{todo.price}}</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                                <div class="tag" v-if="todo.sale_sign == '3期免息'">
                                    3期<br />免息
                                </div>
                                <div class="tag" v-if="todo.sale_sign == '6期免息'">
                                    6期<br />免息
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
                <a href="https://cdn.cnbj0.fds.api.mi-img.com/b2c-data-mishop/7280289c1b08.html?2&needValidHost=false" target="_blank" class="group-link buyphone-tips fingerpost">
                    <div class="content">
                        <h3 class="title">手机更好用 2017换手机攻略</h3>
                        <p>阅读数：<span id="J_miphone"></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="section section-life" id="J_life">
            <div class="container">
                <h1>新年生活更健康</h1>
                <p class="desc-text">用智能家居提升生活品质</p>
                <div class="type-guide clearfix">
                    <a href="javascript:void(0);" class="guide-a active">
                        <em></em>厨上式
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>厨下式
                    </a>
                </div>
                <div class="daliyuse-wrap group-link">
                    <div class="daliyuse-group daliyuse-a clearfix">
                        <div class="left">
                            <a href="javascript:void(0);" class="pic"></a>
                            <div class="content">
                                <h3 class="title">小米净水器 厨上式</h3>
                                <p>大流量直出净水，健康家庭必备</p>
                                <p class="price">
                                    <span class="price-num">1299</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </div>
                        </div>
                        <div class="right">
                            <a href="javascript:void(0);" class="pic"></a>
                            <div class="content">
                                <h3 class="title">小米净水器PP棉滤芯</h3>
                                <p>按时更换滤芯，保证饮水品质</p>
                                <p class="price">
                                    <span class="price-num">59</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </div>
                        </div>
                    </div>
                    <div class="daliyuse-group daliyuse-b clearfix hide">
                        <div class="left">
                            <a href="javascript:void(0);" class="pic"></a>
                            <div class="content">
                                <h3 class="title">小米净水器 厨下式</h3>
                                <p>隐藏安装节省空间，灯光水龙头</p>
                                <p class="price">
                                    <span class="price-num">1999</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </div>
                        </div>
                        <div class="right">
                            <a href="javascript:void(0);" class="pic"></a>
                            <div class="content">
                                <h3 class="title">小米净水器活性炭滤芯</h3>
                                <p>按时更换滤芯，保证饮水品质</p>
                                <p class="price">
                                    <span class="price-num">69</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>呼吸健康空气，抗霾必备</h2>
                <!-- doT.js -->
                <div class="group-link" id="J_hangmai"> </div>
                <a href="https://cdn.cnbj0.fds.api.mi-img.com/b2c-data-mishop/829a69c575a1.html?2&needValidHost=false" target="_blank" class="group-link home-links fingerpost">
                    <div class="content">
                        <h3>身体更健康 2017生存法则</h3>
                        <p>阅读数：<span id="J_smog"></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="section section-home" id="J_home">
            <div class="container">
                <h1>新年居家更舒适</h1>
                <p class="desc-text">用智能产品开启新的生活方式</p>
                <div class="type-guide home-guide clearfix">
                    <a href="javascript:void(0);" class="guide-a active">
                        <em></em>环境
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>美食
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>照明
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>睡眠
                    </a>
                </div>
                <div class="group-link" id="J_homeList">
                    <ul class="group-col2-list group-list homeuse-list clearfix first">
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828256692199_dahTp.jpg?v=7157bc4">
                            </a>
                            <h3 class="title">米家扫地机器人</h3>
                            <p>智商高，扫得干净扫得快</p>
                            <p class="price">
                                <span class="price-num">1699</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828257345683_zxsrD.jpg?v=b0029d6">
                            </a>
                            <h3 class="title">智米除菌加湿器</h3>
                            <p>紫外线除菌，上注水设计</p>
                            <p class="price">
                                <span class="price-num">799</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                    </ul>
                    <ul class="group-col2-list group-list homeuse-list clearfix hide">
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828257488704_sMQid.jpg?v=c58db65">
                            </a>
                            <h3 class="title">米家IH电饭煲</h3>
                            <p>多才多艺的智能电饭煲</p>
                            <p class="price">
                                <span class="price-num">399</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828257635067_CJkqo.jpg?v=5f60d59">
                            </a>
                            <h3 class="title">米家压力IH电饭煲</h3>
                            <p>真智能的压力 IH 电饭煲</p>
                            <p class="price">
                                <span class="price-num">999</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                    </ul>
                    <ul class="group-col2-list group-list homeuse-list clearfix hide">
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828257838941_FPtAx.jpg?v=76e4fc6">
                            </a>
                            <h3 class="title">米家 LED 智能台灯</h3>
                            <p>照明之上，光的艺术品</p>
                            <p class="price">
                                <span class="price-num">159</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828258012083_KoUFz.jpg?v=1f4ca14">
                            </a>
                            <h3 class="title">Yeelight床头灯</h3>
                            <p>给卧室1600万种颜色</p>
                            <p class="price">
                                <span class="price-num">229</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                    </ul>
                    <ul class="group-col2-list group-list homeuse-list clearfix hide">
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828258169689_ZsXnU.jpg?v=15d505b">
                            </a>
                            <h3 class="title">8H标准乳胶枕</h3>
                            <p>天然好枕头 一晚好睡眠</p>
                            <p class="price">
                                <span class="price-num">139</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="pic">
                                <img data-src="../../public/img/hd_v06/cms_14828258313428_YmAMO.jpg?v=55e604c">
                            </a>
                            <h3 class="title">8H护颈乳胶枕</h3>
                            <p>多重新科技 升级好睡眠</p>
                            <p class="price">
                                <span class="price-num">239</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </li>
                    </ul>
                </div>
                <h2>新年要有好“看”的</h2>
                <div class="type-guide tv-guide clearfix">
                    <a href="javascript:void(0);" class="guide-a active">
                        <em></em>48"
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>55"
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>60"
                    </a>
                    <a href="javascript:void(0);" class="guide-a">
                        <em></em>65"
                    </a>
                </div>
                <div class="tv-list" id="J_tvList">
                    <div class="group-link tv-group homeuse-list tv-48 mitv-current">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">小米电视3s 48"</h3>
                            <p>客厅黄金尺寸，荣获红点奖
                                <br />原装三星液晶屏，超薄金属机身</p>
                            <p class="price">
                                <span class="price-num">2299</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                    <div class="group-link tv-group homeuse-list tv-55">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">小米电视3s 55"</h3>
                            <p>原装LG 4K IPS硬屏，杜比和DTS音效双解码</p>
                            <p class="price">
                                <span class="price-num">3699</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                    <div class="group-link tv-group homeuse-list tv-60">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">小米电视3s 60"</h3>
                            <p>原装LG 4K IPS硬屏，杜比和DTS音效双解</p>
                            <p class="price">
                                <span class="price-num">4499</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                    <div class="group-link tv-group homeuse-list tv-65">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">小米电视3s 65"</h3>
                            <p>人工智能电视，环绕立体声影院版
                                <br />海量热门影视、综艺、纪录片、体育等内容</p>
                            <p class="price">
                                <span class="price-num">5999</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                </div>
                <h2>更多居家好物</h2>
                <!-- doT.js -->
                <div class="group-link" id="J_jujiahaowu"></div>
                <a href="https://cdn.cnbj0.fds.api.mi-img.com/b2c-data-mishop/bc9c0ba629fe.html?2&needValidHost=false" target="_blank" class="group-link easyyear-tips fingerpost">
                    <div class="content">
                        <h3>生活更舒适 2017品质生活宝典</h3>
                        <p>阅读数：<span id="J_five"></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="section section-trip" id="J_trip">
            <div class="container">
                <h1>新年出行更时尚</h1>
                <p class="desc-text">炫酷装备助您轻松出行</p>
                <div class="ticket-list clearfix">
                    <a href="javascript:void(0);" class="ticket-group ticket-current">
                        <div class="icon-ling">领</div>
                        <div class="text-ticket">
                            <div class="ticket-price">10元</div>
                            <div class="ticket-type">双肩背包类</div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="ticket-group ticket-current">
                        <div class="icon-ling">领</div>
                        <div class="text-ticket">
                            <div class="ticket-price">20元</div>
                            <div class="ticket-type">高配版移动电源</div>
                        </div>
                    </a>
                </div>
                <p class="desc-text ticket-tips">每种优惠券每位用户限领两张</p>
                <div class="group-link daliyuse-wrap">
                    <div class="daliyuse-group clearfix">
                        <div class="left">
                            <a href="javascript:void(0);" class="pic"></a>
                            <div class="content">
                                <h3 class="title">小米米家电动滑板车</h3>
                                <p>30公里超长续航，便携折叠</p>
                                <p class="price">
                                    <span class="price-num">1999</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </div>
                        </div>
                        <div class="right">
                            <a href="javascript:void(0);" class="pic"></a>
                            <div class="content">
                                <h3 class="title">九号平衡车</h3>
                                <p>超长续航，3分钟轻松上手</p>
                                <p class="price">
                                    <span class="price-num">1999</span>元
                                </p>
                                <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- doT.js -->
                <div class="group-link" id="J_chuxing"></div>
                <h2>运动也时尚</h2>
                <a href="javascript:void(0);" class="group-link miwatch">
                    <div class="content">
                        <h3 class="title">手环2+腕带 套装</h3>
                        <p>炫彩腕带随意搭配</p>
                        <p class="price">
                            <span class="price-num">163.9</span>元
                            <del>168.9</del>
                        </p>
                        <div class="btn-primary">立即购买</div>
                    </div>
                </a>
                <a href="https://cdn.cnbj0.fds.api.mi-img.com/b2c-data-mishop/440682001b81.html?2&needValidHost=false" target="_blank" class="group-link tirp-tips fingerpost">
                    <div class="content">
                        <h3>出门更畅通 2017最潮出行方式</h3>
                        <p>阅读数：<span id="J_walker"></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="section section-fashion" id="J_fashion">
            <div class="container">
                <h1>新年酷玩潮范儿足</h1>
                <p class="desc-text">挑选一件酷玩具，让生活充满惊喜</p>
                <div class="ticket-list clearfix">
                    <a href="javascript:void(0);" class="ticket-group ticket-current">
                        <div class="icon-ling">领</div>
                        <div class="text-ticket">
                            <div class="ticket-price">10元</div>
                            <div class="ticket-type">蓝牙音箱类</div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="ticket-group ticket-current">
                        <div class="icon-ling">领</div>
                        <div class="text-ticket">
                            <div class="ticket-price">10元</div>
                            <div class="ticket-type">小米自拍杆</div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="ticket-group ticket-current">
                        <div class="icon-ling">领</div>
                        <div class="text-ticket">
                            <div class="ticket-price">5元</div>
                            <div class="ticket-type">小米圈铁耳机</div>
                        </div>
                    </a>
                </div>
                <p class="desc-text ticket-tips">每种优惠券每位用户限领两张</p>
                <h2>酷玩新品，限时开售</h2>
                <div class="new-product">
                    <div class="items group-topblock">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">米兔积木机器人</h3>
                            <p>978个零件，享受挑战双手的乐趣</p>
                            <p class="price">
                                <span class="price-num">499</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                    <div class="items group-mivr">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">小米VR眼镜</h3>
                            <p>内置独立运动传感器，硬件级加速抗眩晕</p>
                            <p class="price">
                                <span class="price-num">199</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                    <div class="items group-mispeaker">
                        <a href="javascript:void(0);" class="pic"></a>
                        <div class="content">
                            <h3 class="title">小米网络音响</h3>
                            <p>自己会上网的智能音箱</p>
                            <p class="price">
                                <span class="price-num">399</span>元
                            </p>
                            <a href="javascript:void(0);" class="btn-primary">立即购买</a>
                        </div>
                    </div>
                </div>
                <h2>新年要有好“听”的</h2>
                <!-- doT.js -->
                <div class="group-link" id="J_listen"></div>
                <h2>更多酷玩好物</h2>
                <!-- doT.js -->
                <div class="group-link" id="J_kuwan"></div>
                <a href="https://cdn.cnbj0.fds.api.mi-img.com/b2c-data-mishop/e7402ff78e65.html?2&needValidHost=false" target="_blank" class="group-link mivr-tips fingerpost" id="J_mivr">
                    <div class="content">
                        <h3>玩法更洋气 2017最in科技潮品</h3>
                        <p>阅读数：<span id="J_toy"></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="section section-footer">
            探索黑科技，小米为发烧而生
            <br />京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
        </div>
    </div>
    <script id="J_listTemplateCol2" type="text/x-dot-template">
        {{~it :value:index}}
        <li>
            <a class="pic" href="{{=value.image_url}}" target="_blank"><img data-src="{{=value.image}}" /></a>
            <h3 title="{{=value.title}}" class="title">{{=value.title}}</h3>
            <p>{{=value.brief}}</p>
            <p class="price">
                <span class="price-num">{{=value.price}}</span> {{if(value.price_unit === '1'){}} 元起{{} else{}}元 {{}}}
            </p>
            <a href="{{=value.image}}" class="btn-primary" target="_blank">立即购买</a> {{if(value.sale_sign) {}}
            <div class="tag">
                {{ if(value.sale_sign === "新品") { }}新品 {{ } else if(value.sale_sign === "一件包邮") { }}一件
                <br/>包邮 {{ } else if(value.sale_sign === "10元券") { }}可用
                <br/>10元券 {{ } else if(value.sale_sign === "20元券") { }}可用
                <br/>20元券 {{ } else if(value.sale_sign === "5元券") { }}可用
                <br/>5元券 {{ } else if(value.sale_sign === "3期免息") { }}3期
                <br/>免息 {{ } else if(value.sale_sign === "6期免息") { }}6期
                <br/>免息 {{ }}}
            </div>
            {{ }}}
        </li>
        {{~}}
    </script>
    <script type="text/x-dot-template" id="J_listTemplateCol4">
        <ul class="group-col4-list group-list clearfix">
            {{~it :value:index}}
            <li>
                <a href="{{=value.image_url}}" class="pic" target="_blank">
                    <img data-src="{{=value.image}}" />
                </a>
                <h3 class="title">{{=value.title}}</h3>
                <p>{{=value.brief}}</p>
                <p class="price">
                    <span class="price-num">{{=value.price}}</span> {{if(value.price_unit === '1'){}} 元起{{} else{}}元 {{}}}
                </p>
                <a href="javascript:void(0);" class="btn-primary">立即购买</a> {{if(value.sale_sign){}}
                <div class="tag">
                    {{ if(value.sale_sign === "新品") { }}新品 {{ } else if(value.sale_sign === "一件包邮") { }}一件
                    <br/>包邮 {{ } else if(value.sale_sign === "10元券") { }}可用
                    <br/>10元券 {{ } else if(value.sale_sign === "20元券") { }}可用
                    <br/>20元券 {{ } else if(value.sale_sign === "5元券") { }}可用
                    <br/>5元券 {{ }}}
                </div>
                {{ }}}
            </li>
            {{~}}
        </ul>
    </script>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v06/script.min.js?v=231167c"></script>
</body>

</html>