<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>米家品牌日 -- 小米商城</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v11/style.min.css?v=9b2afbb">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="mijia-home">
    <div class="section sec-wrap1">
        <div class="container">
            <div class="nav-top">
                <a href="javascript:void(0);" class="J_rule">活动规则</a>
                <a href="//www.mi.com/index.html" target="_blank">返回小米商城 &gt;</a>
            </div>
            <h1>品牌日优惠券疯狂送，0点、10点、12点、14点、18点、20点 开抢！</h1>
            <div class="quan-con">
                <ul class="quan-nav clearfix" id="J_lottery">
                    <li class="quan-bg1 quan-fifty" data-code="fifty">
                        <div class="text text1"></div>
                        <div class="warm wram-fifty">
                            <!-- 立即抢卷！ -->
                        </div>
                    </li>
                    <li class="quan-bg2 quan-thirty" data-code="thirty">
                        <div class="text text1"></div>
                        <div class="warm wram-fifty">
                            <!-- 立即抢卷！ -->
                        </div>
                    </li>
                    <li class="quan-bg1 quan-twenty" data-code="twenty">
                        <div class="text text1"></div>
                        <div class="warm wram-fifty">
                            <!-- 立即抢卷！ -->
                        </div>
                    </li>
                    <li class="quan-bg2 quan-ten" data-code="ten">
                        <div class="text text1"></div>
                        <div class="warm wram-fifty">
                            <!-- 立即抢卷！ -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section sec-wrap2"></div>
    <div class="section sec-wrap3">
        <div class="container">
            <div class="top-icon top-icon1"></div>
            <h2 class="tit">健康舒适的环境</h2>
            <div class="desc">从雾霾天回家，应该呼吸清新湿润的空气</div>
            <div class="product-box">
                <div class="pro-top clearfix J_videoSec is-visible">
                    <div class="pro-video pro-video1 fl">
                        <video class="video" loop="" data-autoplay="true" preload="none">
                            <source src="../../public/img/hd_v11/video-01.mp4" type="video/mp4">
                            <div class="c-pop c-pop1"></div>
                        </video>
                    </div>
                    <div class="pro-text fr">
                        <h3 class="sub-tit">自由呼吸的全自动解决方案</h3>
                        <div class="line"></div>
                        <div class="sub-desc">
                            客厅的霾表可以随时监测空气质量并自动控制净化器的开关和运转模式，加湿器也能根据环境自动调整加湿方案。一回家就能呼吸到仿佛置身森林般的新鲜空气，湿润而又洁净。
                        </div>
                    </div>
                </div>
                <ul class="pro-nav clearfix">
                    <li class="first">
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img1.jpg?v=dc9dd23">
                            <span class="pop pop1"></span>
                        </a>
                        <h3 class="pro-tit">小米空气净化器 2</h3>
                        <p class="pro-info">10分钟，客厅空气焕然一新</p>
                        <p class="price price-font">¥<span>699</span></p>
                    </li>
                    <li>
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img2.jpg?v=914640c">
                        </a>
                        <h3 class="pro-tit">米家空气净化器 Pro</h3>
                        <p class="pro-info">更强大的净化能力，1月10日早 10点开售</p>
                        <p class="price price-font">¥<span>1499</span></p>
                    </li>
                    <li class="first">
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img3.jpg?v=829cec9">
                        </a>
                        <h3 class="pro-tit">防雾霾口罩</h3>
                        <p class="pro-info">过滤 99.97% PM2.5 颗粒物</p>
                        <p class="price price-font">¥<span>69</span></p>
                    </li>
                    <li>
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img4.jpg?v=6028f8e">
                            <span class="pop pop1"></span>
                        </a>
                        <h3 class="pro-tit">智米除菌加湿器</h3>
                        <p class="pro-info">紫外线除菌技术，提供健康湿润的空气</p>
                        <p class="price price-font">¥<span>799</span></p>
                    </li>
                </ul>
                <div class="pro-spe clearfix">
                    <div class="pro-item fl">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img5.jpg?v=145f181">
                            <span class="pop pop1"></span>
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">空气净化器滤芯</h3>
                            <p class="pro-info">每 3 - 6 个月需更换空气净化器滤芯</p>
                            <p class="price price-font">¥<span>149</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                    <div class="pro-item fr">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img6.jpg?v=7cfb4a0">
                            <span class="pop pop1"></span>
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">空净滤芯 除甲醛增强版</h3>
                            <p class="pro-info">去除细菌、PM2.5 与甲醛</p>
                            <p class="price price-font">¥<span>169</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                </div>
                <div class="pro-bottom">
                    <div class="link-img fl">
                        <img data-src="../../public/img/hd_v11/img7.jpg?v=410fd38">
                    </div>
                    <div class="content">
                        <h3 class="pro-tit">关爱家人健康 从客厅开始</h3>
                        <div class="sub-desc">
                            除去睡觉，客厅占据了我们绝大多数家庭时光。在客厅里，我们一起聊天、喝茶、看电视，一起接待亲朋好友。客厅的空气洁净吗？家里的水健康吗？理想的客厅，从关爱家人健康开始。<a href="javascript:void(0);" target="_blank">深入了解 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap4">
        <div class="container">
            <div class="top-icon top-icon2"></div>
            <h2 class="tit">享受慵懒的时光</h2>
            <div class="desc">其实很多生活琐事都不需亲自动手的 </div>
            <div class="product-box">
                <div class="pro-top clearfix J_videoSec is-visible">
                    <div class="pro-text fl">
                        <h3 class="sub-tit">居家生活更轻松的小秘诀</h3>
                        <div class="line"></div>
                        <div class="sub-desc">
                            喜欢在一个阳光午后蜷在沙发，端起恒温水壶泡茶慢品。我对小白说：“开始扫地！”它便帮我唤醒扫地机器人，将每一块地板打扫干净。这时的我俨然成为了家里的“国王”。
                        </div>
                    </div>
                    <div class="pro-video pro-video2 fr">
                        <video class="video" loop="" data-autoplay="true" preload="none">
                            <source src="../../public/img/hd_v11/video-02.mp4" type="video/mp4">
                            <div class="c-pop c-pop2"></div>
                        </video>
                    </div>
                </div>
                <div class="pro-spe2">
                    <div class="pro-full">
                        <span class="pop pop1"></span>
                        <span class="pop pop2"></span>
                        <a class="pro-rule" id="J_showMXRule" href="javascript:void(0);">6期免息规则 &gt;</a>
                        <a class="link-img" href="javascript:void(0);" target="_blank"></a>
                        <div class="content">
                            <h3 class="pro-tit">米家扫地机器人</h3>
                            <p class="pro-info">自动清扫客厅每一角，6期免息购买</p>
                            <p class="price price-font">¥<span>1699</span></p>
                        </div>
                    </div>
                    <ul class="pro-nav clearfix">
                        <li class="first">
                            <a class="pro-link" href="javascript:void(0);" target="_blank">
                                <img data-src="../../public/img/hd_v11/img9.jpg?v=ef2e00b">
                                <span class="pop pop1"></span>
                            </a>
                            <h3 class="pro-tit">米家恒温电水壶</h3>
                            <p class="pro-info">设定水温自动保持，喝水更方便</p>
                            <p class="price price-font">¥<span>199</span></p>
                        </li>
                        <li class="">
                            <a class="pro-link" href="javascript:void(0);" target="_blank">
                                <img data-src="../../public/img/hd_v11/img10.jpg?v=eb1d9ef">
                                <span class="pop pop1"></span>
                            </a>
                            <h3 class="pro-tit">小米智能家庭礼品装</h3>
                            <p class="pro-info">预设场景，让智能设备自动工作</p>
                            <p class="price price-font">¥<span>299</span></p>
                        </li>
                        <li class="">
                            <a class="pro-link" href="javascript:void(0);" target="_blank">
                                <img data-src="../../public/img/hd_v11/img11.jpg?v=6d759ba">
                                <span class="pop pop1"></span>
                                <span class="pop pop2"></span>
                            </a>
                            <h3 class="pro-tit">米家小白智能摄像机</h3>
                            <p class="pro-info">能通过语音控制家中的智能设备</p>
                            <p class="price price-font">¥<span>399</span></p>
                        </li>
                    </ul>
                </div>
                <div class="pro-spe clearfix">
                    <div class="pro-item fl">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img12.jpg?v=67ceb18">
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">米家扫地机器人尘盒滤网</h3>
                            <p class="pro-info">每 3 - 6 个月需更换尘盒与滤网</p>
                            <p class="price price-font">¥<span>39</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                    <div class="pro-item fr">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img13.jpg?v=690b02b">
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">米家扫地机器人虚拟墙</h3>
                            <p class="pro-info">任意规划扫地机器人清扫区域</p>
                            <p class="price price-font">¥<span>39</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                </div>
                <div class="pro-bottom">
                    <div class="link-img fl">
                        <img data-src="../../public/img/hd_v11/img14.jpg?v=ce1ff6c">
                    </div>
                    <div class="content">
                        <h3 class="pro-tit">懒人必看：沙发生存指南</h3>
                        <div class="sub-desc">
                            闲暇的周末，你和她躺在沙发上，晒着冬日的阳光。米家扫地机器人早已将家里打扫干净，恒温水壶中保持着冲泡绿茶最合适的温度，厨房的阵阵香气飘进客厅…懒，或许就是最理想的幸福。 <a href="javascript:void(0);" target="_blank">深入了解 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap5">
        <div class="container">
            <div class="top-icon top-icon4"></div>
            <h2 class="tit">体会陪伴的温馨</h2>
            <div class="desc">不只是“客”厅，更是陪伴家人的地方 </div>
            <div class="product-box">
                <div class="pro-top clearfix J_videoSec is-visible">
                    <div class="pro-video pro-video3 fl">
                        <video class="video" loop="" data-autoplay="true" preload="none">
                            <source src="../../public/img/hd_v11/video-03.mp4" type="video/mp4">
                            <div class="c-pop c-pop3"></div>
                        </video>
                    </div>
                    <div class="pro-text fr">
                        <h3 class="sub-tit">给全家人带来快乐的好物</h3>
                        <div class="line"></div>
                        <div class="sub-desc">
                            抱起孩子听首故事，一起组装积木机器人享受挑战双手的乐趣；或者陪另一伴拿起VR眼镜，体验震撼的全景视频；哪怕只是抱着抱枕和家人坐在一起傻笑，这就是我想要的温馨和幸福。
                        </div>
                    </div>
                </div>
                <ul class="pro-nav clearfix">
                    <li class="first">
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img15.jpg?v=ce8955a">
                            <span class="pop pop1"></span>
                        </a>
                        <h3 class="pro-tit">米兔积木机器人</h3>
                        <p class="pro-info">陪孩子一起挑战双手的乐趣</p>
                        <p class="price price-font">¥<span>499</span></p>
                    </li>
                    <li>
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img16.jpg?v=8833227">
                            <span class="pop pop1"></span>
                            <span class="pop pop2"></span>
                        </a>
                        <h3 class="pro-tit">米兔智能故事机</h3>
                        <p class="pro-info">陪宝贝听一个他喜欢的故事</p>
                        <p class="price price-font">¥<span>199</span></p>
                    </li>
                </ul>
                <div class="pro-spe clearfix">
                    <div class="pro-item fl">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img17.jpg?v=6a8dd03">
                            <span class="pop pop1"></span>
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">小米VR眼镜 PLAY版</h3>
                            <p class="pro-info">躺在客厅，震撼观看全景视频</p>
                            <p class="price price-font">¥<span>49</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                    <div class="pro-item fr">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img18.jpg?v=0240d7c">
                            <span class="pop pop1"></span>
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">60cm 柔软米兔抱枕</h3>
                            <p class="pro-info">窝在沙发的时候可以抱着它</p>
                            <p class="price price-font">¥<span>129</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                </div>
                <div class="pro-bottom">
                    <div class="link-img fl">
                        <img data-src="../../public/img/hd_v11/img19.jpg?v=8c84779">
                    </div>
                    <div class="content">
                        <h3 class="pro-tit">499元 把客厅打造成亲子乐园</h3>
                        <div class="sub-desc">
                            家里的宝宝起床后就会扎进玩具堆里，他们喜欢彩色的图画、喜欢毛茸茸的娃娃、喜欢跟着音乐一起唱。但宝宝最喜欢的，是有你的陪伴。把客厅变成专属的亲子乐园，只需要你的用心和这些…… <a href="javascript:void(0);" target="_blank">深入了解 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap6">
        <div class="container">
            <div class="top-icon top-icon3"></div>
            <h2 class="tit">震撼的智能影院</h2>
            <div class="desc">随时看一场震撼大片，或是听一场音乐会</div>
            <div class="product-box J_videoSec is-visible">
                <div class="pro-top clearfix">
                    <div class="pro-text fl">
                        <h3 class="sub-tit">在家也能享受视听盛</h3>
                        <div class="line"></div>
                        <div class="sub-desc">
                            休闲娱乐的时刻，无论是观影还是听音乐，都可以通过手机操作：打开电视，自动推荐内容并寻找片源，感官效果堪比亲临影院；智能音响也可以自动连网，播放爱听的音乐或电台。
                        </div>
                    </div>
                    <div class="pro-video pro-video4 fr">
                        <video class="video" loop="" data-autoplay="true" preload="none">
                            <source src="../../public/img/hd_v11/video-04.mp4" type="video/mp4">
                            <div class="c-pop c-pop4"></div>
                        </video>
                    </div>
                </div>
                <ul class="pro-nav clearfix">
                    <li class="first">
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img20.jpg?v=83166dd">
                            <span class="pop pop1"></span>
                            <span class="pop pop2"></span>
                        </a>
                        <h3 class="pro-tit">小米电视3s 55英寸</h3>
                        <p class="pro-info">4K大屏新旗舰，如亲临影院般的观影效果</p>
                        <p class="price price-font">¥<span>3699</span></p>
                    </li>
                    <li>
                        <a class="pro-link" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img21.jpg?v=2157e2a">
                            <span class="pop pop1"></span>
                            <span class="pop pop2"></span>
                        </a>
                        <h3 class="pro-tit">小米电视3s 65英寸曲面</h3>
                        <p class="pro-info">当你打开它，它已经为你准备好想看的一切</p>
                        <p class="price price-font">¥<span>8999</span></p>
                    </li>
                </ul>
                <div class="pro-spe clearfix">
                    <div class="pro-item fl">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img22.jpg?v=6fd3b0b">
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">小米蓝牙手柄</h3>
                            <p class="pro-info">双马达震动,家庭游戏必备</p>
                            <p class="price price-font">¥<span>99</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                    <div class="pro-item fr">
                        <div class="pro-img fl">
                            <img data-src="../../public/img/hd_v11/img23.jpg?v=6219e38">
                        </div>
                        <div class="pro-content">
                            <h3 class="pro-tit">小米盒子3 增强版</h3>
                            <p class="pro-info">网络机顶盒,让家里的电视变智能</p>
                            <p class="price price-font">¥<span>399</span></p>
                        </div>
                        <a class="link" href="javascript:void(0);" target="_blank"></a>
                    </div>
                </div>
                <div class="pro-bottom">
                    <div class="link-img fl">
                        <img data-src="../../public/img/hd_v11/img24.jpg?v=ff32f10">
                    </div>
                    <div class="content">
                        <h3 class="pro-tit">老电视做不到的五件事儿</h3>
                        <div class="sub-desc">
                            家里的那台老电视陪伴我们度过了许多美好时光，但随着年岁渐长，它越来越不能满足我们的观影需要。细数老电视做不到的5件事儿，让一台理想的新电视给客厅换新装，也让新电视开启我们的新世界！<a href="javascript:void(0);" target="_blank">深入了解 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap7">
        <div class="container">
            <h2 class="tit">米家精选,享受高品质生活 </h2>
            <div class="desc">打造居家美学，做美好生活的设计师</div>
            <div class="pull-box clearfix">
                <div class="pull-row pull-col3">
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img25.jpg?v=7d1dffd">
                        </a>
                        <h3 class="pro-tit">小米净水器 厨上式</h3>
                        <p class="pro-info">让全家人喝上纯净、健康的好水</p>
                        <p class="price price-font">¥<span>1299</span></p>
                        <span class="pop pop3"></span>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img26.jpg?v=1837bc9">
                        </a>
                        <h3 class="pro-tit">米家 LED 智能台灯</h3>
                        <p class="pro-info">保护用眼健康的智能台灯</p>
                        <p class="price price-font">¥<span>169</span></p>
                        <span class="pop pop3"></span>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img27.jpg?v=f53ed2d">
                        </a>
                        <h3 class="pro-tit">米兔儿童手表Q</h3>
                        <p class="pro-info">定位 + 通话，送孩子一份安全感</p>
                        <p class="price price-font">¥<span>299</span></p>
                        <span class="pop pop3"></span>
                    </div>
                </div>
                <div class="pull-row pull-col2">
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img28.jpg?v=178529e">
                        </a>
                        <h3 class="pro-tit">米家压力 IH 电饭煲</h3>
                        <p class="pro-info">吃自己煮的饭，是幸福的事，如果饭有微甜，那就是幸福的味道。如何做一碗有幸福味道的好米饭？你需要一台带压力的 IH 智能电饭煲</p>
                        <p class="price price-font">¥<span>999</span></p>
                        <span class="pop pop3"></span>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img29.jpg?v=c1fba02">
                        </a>
                        <h3 class="pro-tit">米家 IH 电饭煲</h3>
                        <p class="pro-info">每一次下厨都是一段旅程，像在画布上创作自己的完美作品，充满了乐趣。想要提高成功率？除了保持耐心，你还需要一个称心如意的好帮手</p>
                        <p class="price price-font">¥<span>399</span></p>
                        <span class="pop pop3"></span>
                    </div>
                </div>
                <div class="pull-row pull-col3">
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img30.jpg?v=e87a989">
                        </a>
                        <h3 class="pro-tit">小米净水器 厨下式</h3>
                        <p class="pro-info">隐藏式安装，加大流量直出纯净水</p>
                        <p class="price price-font">¥<span>1999</span></p>
                        <span class="pop pop3"></span>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img31.jpg?v=9961f0a">
                        </a>
                        <h3 class="pro-tit">米家骑记电助力折叠自行车</h3>
                        <p class="pro-info">让城市出行轻松有趣</p>
                        <p class="price price-font">¥<span>2999</span></p>
                        <span class="pop pop3"></span>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img32.jpg?v=b50fe59">
                        </a>
                        <h3 class="pro-tit">米家 iHealth 血压计</h3>
                        <p class="pro-info">送一台智能血压仪，关爱父母健康</p>
                        <p class="price price-font">¥<span>399</span></p>
                        <span class="pop pop3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap8">
        <div class="container">
            <h2 class="tit">小米明星单品</h2>
            <div class="desc">体验智能的乐趣，享受科技生活</div>
            <div class="pull-box clearfix">
                <div class="pull-row pull-col3">
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img33.jpg?v=39b7d55">
                        </a>
                        <h3 class="pro-tit">小米路由器 3</h3>
                        <p class="pro-info">四天线设计，信号更快更强</p>
                        <p class="price price-font">¥<span>149</span></p>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img34.jpg?v=c98a558">
                        </a>
                        <h3 class="pro-tit">小米米家电动滑板车</h3>
                        <p class="pro-info">自由出行方式,看一路美景</p>
                        <p class="price price-font">¥<span>1999</span></p>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img35.jpg?v=68bab17">
                        </a>
                        <h3 class="pro-tit">小米自拍杆（线控版）</h3>
                        <p class="pro-info">即插即用,拍出美美的照片</p>
                        <p class="price price-font">¥<span>49</span></p>
                    </div>
                </div>
                <div class="pull-row pull-col2">
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img36.jpg?v=72254b2">
                        </a>
                        <h3 class="pro-tit">小米手机 5s</h3>
                        <p class="pro-info">存储更多丰富的细节与浓郁色彩， 即使暗光下，依然可以随手拍出一张颜色层次分明，光线明暗,细腻过渡的大作
                        </p>
                        <p class="price price-font">¥<span>1899</span>起</p>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img37.jpg?v=4ce189b">
                        </a>
                        <h3 class="pro-tit">红米4</h3>
                        <p class="pro-info">金属机身工艺，带来难以置信的坚实质感。处理器再度升级,搭配4100mAh 大电池，续航时间更长，玩到停不下来</p>
                        <p class="price price-font">¥<span>699</span>起</p>
                    </div>
                </div>
                <div class="pull-row pull-col3">
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img38.jpg?v=2f44bef">
                        </a>
                        <h3 class="pro-tit">小米体重秤</h3>
                        <p class="pro-info">喝杯水都能感知的精准</p>
                        <p class="price price-font">¥<span>99</span></p>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img39.jpg?v=8fe8f77">
                        </a>
                        <h3 class="pro-tit">90分旅行箱（新年限量版）</h3>
                        <p class="pro-info">一个轻巧的箱子,新年陪你环游世界</p>
                        <p class="price price-font">¥<span>299</span>起</p>
                    </div>
                    <div class="pull-item">
                        <a class="link-con" href="javascript:void(0);" target="_blank">
                            <img data-src="../../public/img/hd_v11/img40.jpg?v=79cec70">
                        </a>
                        <h3 class="pro-tit">小米手环2</h3>
                        <p class="pro-info">看的见的健康助手，两种色彩</p>
                        <p class="price price-font">¥<span>149</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap9">
        <div class="container">
            <h2 class="tit">想不想和他们聊聊</h2>
            <div class="desc">参与互动并分享，赢扫地机器人</div>
            <div class="chat-box J_chatBox clearfix">
                <div class="item chat-item-1" data-index="4">
                    <div class="img"></div>
                    <span class="chat-icon chat-icon2"></span>
                </div>
                <div class="item chat-item-2" data-index="3">
                    <div class="img"></div>
                    <span class="chat-icon chat-icon3"></span>
                </div>
                <div class="item chat-item-3" data-index="2">
                    <div class="img"></div>
                    <span class="chat-icon chat-icon1"></span>
                </div>
                <div class="item chat-item-4" data-index="1">
                    <div class="img"></div>
                    <span class="chat-icon chat-icon4"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="section sec-wrap10">
        <div class="container">
            <h2 class="tit">专属福利 : 1分钱加购福袋</h2>
            <div class="desc">开福袋 100% 得好礼，最高 179元</div>
            <div class="img img1"></div>
            <h3 class="sub-tit">购买以下商品可 1 分钱加购福袋</h3>
            <ul class="pro-list clearfix">
                <li class="first li-big">
                    <a href="javascript:void(0);" class="link-img">
                        <img data-src="../../public/img/hd_v11/img45.jpg?v=76fb2af">
                        <span class="pop pop1"></span>
                    </a>
                    <h3 class="pro-tit">小米电视3s 55英寸</h3>
                    <p class="price price-font">¥<span>3699</span></p>
                </li>
                <li class="li-big">
                    <a href="javascript:void(0);" class="link-img">
                        <img data-src="../../public/img/hd_v11/img46.jpg?v=aeade6d">
                        <span class="pop pop1"></span>
                    </a>
                    <h3 class="pro-tit webfont">小米电视3s 65英寸曲面</h3>
                    <p class="price price-font">¥<span>8999</span></p>
                </li>
                <li class="first">
                    <a href="javascript:void(0);" class="link-img">
                        <img data-src="../../public/img/hd_v11/img47.jpg?v=1dc27f5">
                        <span class="pop pop1"></span>
                    </a>
                    <h3 class="pro-tit webfont">米家扫地机器人</h3>
                    <p class="price price-font">¥<span>1699</span></p>
                </li>
                <li>
                    <a href="javascript:void(0);" class="link-img">
                        <img data-src="../../public/img/hd_v11/img48.jpg?v=91ad487">
                        <span class="pop pop1"></span>
                    </a>
                    <h3 class="pro-tit webfont">小白智能摄像机</h3>
                    <p class="price price-font">¥<span>399</span></p>
                </li>
                <li>
                    <a href="javascript:void(0);" class="link-img">
                        <img data-src="../../public/img/hd_v11/img49.jpg?v=f592a91">
                        <span class="pop pop1"></span>
                    </a>
                    <h3 class="pro-tit webfont">米兔智能故事机</h3>
                    <p class="price price-font">¥<span>199</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade modal-hide modal-rule" id="J_rule">
        <div class="modal-hd">
            <h2>活动规则</h2>
            <a class="close" data-dismiss="modal" href="javascript:void(0);">X</a>
        </div>
        <div class="modal-bd">
            <div class="rule-item">
                <h2 class="m-tit">活动时间：</h2> 2017年1月5日 00:00:00 - 2017年1月5日 23:59:59
            </div>
            <div class="rule-item">
                <h2 class="m-tit">支付时效：</h2> 所有订单自订单生成时起 2 小时内支付有效，逾期订单将自动关闭。订单确认成功后不支持地址及收件人信息修改，请下单前仔细核对收件地址及收件人信息。
            </div>
            <div class="rule-item">
                <h2 class="m-tit">包邮政策：</h2> 2017年1月5日当天，单笔订单满150元包邮（除特殊运费商品外），以下单时间为准
            </div>
            <div class="rule-item">
                <h2 class="m-tit">优惠券使用说明：</h2> 1. 优惠券可用于2017年1月5日品牌日活动页面提示可用券产品；
                <br> 2. 活动期间每个小米ID每个额度的优惠券只能获取一张，抢券成功后，由于系统延迟，优惠券将于5分钟后发放至小米账户中；
                <br> 3. 优惠券不可叠累加使用，每个订单只可使用一张优惠券；
                <br> 4. 优惠券只用于您的领取账户，不可转赠，不兑换现金；
                <br> 5. 优惠券只可用于购买相应产品抵扣，限一次性使用，不找零（如获得50元优惠券，购买商品总价不高于50元时使用，余额将作废），不兑换现金，优惠券不可用于抵扣运费；
                <br> 6. 使用优惠券支付的订单，优惠券抵扣部分不开具发票；
                <br> 7. 如需退货，退货时按发票金额进行退款，不支持针对某订单中某一单独商品的退货操作。退货后，已使用优惠券自动作废，不返还；
                <br> 8. 用户使用优惠券，订单未支付取消，优惠券返还至该用户账号。订单已支付取消，优惠券自动作废；
                <br> 9. 未在活动当日使用优惠券的，优惠券自动失效。
            </div>
            <div class="rule-item">
                <h2 class="m-tit">福袋说明：</h2> 1. 活动期间，在小米商城购买小米电视3s 55英寸、小米电视3s 60英寸、小米电视3s 65英寸曲面、米家扫地机器人、小白智能摄像机、米兔智能故事机，可参与0.01元购小米福袋活动。福袋购买成功，将100%获得一份惊喜礼包；
                <br> 2. 用户在订单确认支付成功后，可提前拆开福袋，查看惊喜。用户最终获得的小米福袋礼品以订单内信息为准；
                <br> 3. 活动期间，同一用户每单仅限参与一次0.01元购福袋活动。
            </div>
            <div class="rule-item">
                <h2 class="m-tit">退货须知：</h2> 1. 参与加购小米福袋活动的订单，如需对订单内产品退货，用户需将福袋商品与订单产品同时寄回至小米公司指定售后地点；
                <br> 2. 使用优惠券的订单，退货成功后，将退还实际支付金额（不包含邮费），优惠券自动作废。优惠券金额大于订单金额时，发生退货时，优惠券自动作废。
            </div>
            <div class="rule-item">
                <h2 class="m-tit">其他事项：</h2> 1. 小米商城发放的所有优惠券严禁出售或转让，如经发现并证实的，该优惠券将予以作废处理；
                <br> 2. 为抵制黄牛倒票现象，小米公司保留对证实为出售、转让或倒票等行为所涉及的优惠券，取消变更或使用的权力。
            </div>
        </div>
    </div>
    <div class="modal fade modal-hide  modal-mxRule" id="J_mxRule">
        <div class="modal-hd">
            <h2>米家扫地机器人6期免息购</h2>
            <a class="close" data-dismiss="modal" href="javascript:void(0);">X</a>
        </div>
        <div class="modal-bd">
            <div class="rule-item">
                <h2 class="m-tit">活动时间：</h2> 2017年1月5日 00:00 - 2017年1月5日 23:59
            </div>
            <div class="rule-item">
                <h2 class="m-tit">活动规则：</h2> 1、活动期间，用户在小米商城购买米家扫地机器人，使用花呗分期支付可享6期免息，每单仅限一台。
                <br> 2、用户参与该活动，支付订单内除购买米家扫地机器人外，还可最多购买50元以内的配件。
                <br> 3、最终是否具有免息资格，以用户花呗可用额度及收银台优惠为准。享受免息资格，用户需直接使用蚂蚁花呗分期进行支付，在支付宝内换用花呗分期进行支付无法获得优惠资格。
            </div>
        </div>
    </div>
    <div class="modal fade modal-hide  modal-result" id="J_result">
        <div class="modal-hd">
            <h2>抽奖结果</h2>
            <a class="close" data-dismiss="modal" href="javascript: void(0);">X</a>
        </div>
        <div class="modal-bd">
        </div>
    </div>
    <div class="modal fade modal-hide  modal-alert" id="J_miAlert">
        <a class="close" data-dismiss="modal" href="javascript: void(0);">X</a>
        <div class="modal-bd">
            <div class="text" id="J_miAlertMsg">
            </div>
            <div class="actions">
                <button class="btn btn-gray" data-dismiss="modal" id="J_miAlertCancel">取消</button>
                <button class="btn btn-primary" data-dismiss="modal" id="J_miAlertConfirm">确定</button>
            </div>
        </div>
    </div>
    <div class="modal fade modal-hide modal-message" id="modal-msg">
        <a class="close" data-dismiss="modal" href="javascript: void(0);">X</a>
        <div class="modal-bd">
            <div class="modal-inner modal-inner1 hide">
                <div class="msg-list">
                    <div class="msg-item msg-item1">
                        <div class="text">
                            你平时是怎么陪小朋友玩的呀？
                        </div>
                    </div>
                    <div class="audio-con">
                        <div class="msg-apply msg-sty1 J_audio">
                            <audio>
                                <source src="../../public/img/hd_v11/audio4.mp3">
                            </audio>
                            <p class="msg-warm">点击播放</p>
                            <div class="icon-box">
                                <span class="icon icon1"></span>
                                <span class="icon icon2"></span>
                                <span class="icon icon3"></span>
                            </div>
                        </div>
                        <div class="msg-text msg-text4">
                            我有978个零件组成，拼装的过程本身就充满挑战的乐趣。此外，小朋友们还可以通过手机遥控我前进、后退，摆poss，甚至还可以跳舞呢！
                        </div>
                    </div>
                </div>
                <a class="msg-bottom J_share" href="javascript:void(0);">分享赢扫地机器人 &gt;</a>
                <p class="msg-tip1">话题抽奖活动将在 @小米商城 官方微博进行，奖品为米家扫地机器人等好礼。</p>
            </div>
            <div class="modal-inner modal-inner2 hide">
                <div class="msg-list">
                    <div class="msg-item msg-item1">
                        <div class="text">
                            为什么大家都叫你人工智能电视?
                        </div>
                    </div>
                    <div class="audio-con">
                        <div class="msg-apply msg-sty2 J_audio">
                            <audio>
                                <source src="../../public/img/hd_v11/audio2.mp3">
                            </audio>
                            <p class="msg-warm">点击播放</p>
                            <div class="icon-box">
                                <span class="icon icon1"></span>
                                <span class="icon icon2"></span>
                                <span class="icon icon3"></span>
                            </div>
                        </div>
                        <div class="msg-text msg-text2">
                            因为我的系统是基于人工智能设计而成，通过不间断深度学习及强大的后台运算，能深度了解一家人的观影习惯， 并把每个人喜欢的内容推送到首页。
                        </div>
                    </div>
                </div>
                <a class="msg-bottom J_share" href="javascript:void(0);">分享赢扫地机器人 &gt;</a>
                <p class="msg-tip1">话题抽奖活动将在 @小米商城 官方微博进行，奖品为米家扫地机器人等好礼。</p>
            </div>
            <div class="modal-inner modal-inner3 hide">
                <div class="msg-list">
                    <div class="msg-item msg-item1">
                        <div class="text">
                            你是怎样把全家都打扫干净的呢？
                        </div>
                    </div>
                    <div class="audio-con">
                        <div class="msg-apply msg-sty3 J_audio">
                            <audio>
                                <source src="../../public/img/hd_v11/audio3.mp3">
                            </audio>
                            <p class="msg-warm">点击播放</p>
                            <div class="icon-box">
                                <span class="icon icon1"></span>
                                <span class="icon icon2"></span>
                                <span class="icon icon3"></span>
                            </div>
                        </div>
                        <div class="msg-text msg-text3">
                            我拥有数量众多的传感器，将获取的数据信息实时同步给三颗独立处理器，构建全家的房间地图并规划路径，逐一完成分区清扫任务。
                        </div>
                    </div>
                </div>
                <a class="msg-bottom J_share" href="javascript:void(0);">分享赢扫地机器人 &gt;</a>
                <p class="msg-tip1">话题抽奖活动将在 @小米商城 官方微博进行，奖品为米家扫地机器人等好礼。</p>
            </div>
            <div class="modal-inner modal-inner4 hide">
                <div class="msg-list">
                    <div class="msg-item msg-item1">
                        <div class="text">
                            我听说你有多种控制方式对吗？
                        </div>
                    </div>
                    <div class="audio-con">
                        <div class="msg-apply msg-sty4 J_audio">
                            <audio>
                                <source src="../../public/img/hd_v11/audio1.mp3">
                            </audio>
                            <p class="msg-warm">点击播放</p>
                            <div class="icon-box">
                                <span class="icon icon1"></span>
                                <span class="icon icon2"></span>
                                <span class="icon icon3"></span>
                            </div>
                        </div>
                        <div class="msg-text msg-text1">
                            是的！你可以通过手机远程控制我的开关；可以让我根据霾表测试的空气质量自动运转；还可以通过家庭智能套装设置场景关联，比如回家自动开机等等。
                        </div>
                    </div>
                </div>
                <a class="msg-bottom J_share" href="javascript:void(0);">分享赢扫地机器人 &gt;</a>
                <p class="msg-tip1">话题抽奖活动将在 @小米商城 官方微博进行，奖品为米家扫地机器人等好礼。</p>
            </div>
        </div>
    </div>
    <script id="result-temp" type="text/x-dot-template">
        <div class="img {{=it.className}}"></div>
        <div class="result">
            {{=it.text}}
        </div>
    </script>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v11/script.min.js?v=672fb5e"></script>
</body>

</html>