<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小米Note 天然竹后盖免费升级 - 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v08/style.min.css?v=ea33ddf">
</head>

<body class="bd">
    <div class="section section-wrap1">
        <div class="container">
            <a href="//www.mi.com/index.html" target="_blank" class="logo">小米网</a>
            <div class="link">
                <a href="//bbs.xiaomi.cn/t-13040954" target="_blank">活动规则 &gt;</a>
                <a href="//www.mi.com/index.html" target="_blank" class="enterBtn">返回小米网 &gt;</a>
            </div>
            <div class="content">
                <h1>小米Note 清凉十竹</h1>
                <h2>天然竹后盖<span>免费升级</span></h2>
                <p class="desc">全国500家小米授权服务门店，免费更换</p>
                <a href="javascript:void(0);" class="btn J_like">
                点赞赢 小米手环2
            </a>
                <p class="txt J_numCount">已有<span class="J_num">正在加载中...</span>人点赞</p>
            </div>
        </div>
    </div>
    <div class="section section-wrap2">
        <div class="container">
            <div class="content">
                <h2>现在就去小米授权服务门店<br />免费为小米Note更换天然竹后盖</h2>
                <p class="txt">活动时间：7月4日-7月31日</p>
                <p class="desc">您只需带上小米Note前往任意小米授权服务门店，即可将玻璃后盖免费更换为天然竹后盖。全程无需预约，免费服务。
                    <br />让您的小米Note 焕然一新，不换手机也能体验新手机的手感，还能在炎炎夏日感受到竹后盖的天然清凉。</p>
                <div class="text">
                    <h3>活动规则：</h3>
                    <ul>
                        <li>
                            <em>1</em> 全国500家授权服务门店
                        </li>
                        <li>
                            <em>2</em> 限店内现场更换
                        </li>
                        <li>
                            <em>3</em> 每人可更换2台
                        </li>
                        <li>
                            <em>4</em> 手机外观需完好
                        </li>
                    </ul>
                </div>
                <a href="//www.mi.com/static/maintainlocation/" target="_blank" class="btn">
                查询离你最近的授权服务门店
            </a>
                <p class="tip">
                    *点击查看
                    <a href="//bbs.xiaomi.cn/t-13040954" class="rule" target="_blank">活动规则详情  &gt;</a>
                </p>
            </div>
        </div>
    </div>
    <div class="section section-wrap3">
        <div class="container">
            <div class="content">
                <h2>用于乐器的高品质江南竹</h2>
                <h3>竹子的手感 自然的温度</h3>
            </div>
        </div>
    </div>
    <div class="section section-wrap4">
        <div class="container">
            <div class="content">
                <h2>19道工序，0.9毫米</h2>
                <h3>依然纤薄 同样的弧形收边握感</h3>
            </div>
        </div>
    </div>
    <div class="section section-wrap5">
        <div class="container">
            <h2>每一个纹理都是唯一</h2>
            <h3>每一个小米Note 都是“专属订制版”</h3>
        </div>
    </div>
    <div class="section section-wrap6">
        <div class="container">
            <div class="content">
                <h2>小米独家服务活动，万人点赞，好评不断<br />今年再开启，覆盖面更广</h2>
                <h3>2015年7月，小米售后开启小米Note 天然竹后盖免费升级活动。<br />超过2万用户享受服务，超过30万人为活动点赞，微博话题阅读量累积1800万</h3>
                <ul class="user-info">
                    <li class="first">
                        <div class="author">- @ppa杨老实</div>
                        “竹子后盖拥有较多的纹理，不但美观，还能有效的防止手滑，特别适合我这种裸奔一族。最重要的是，免费的哦！特别鸣谢小米之家！”
                    </li>
                    <li>
                        <div class="author">- @乱吃鱼ZAY</div>
                        “小米Note用户希望再开一次活动，还没来得及换，活动就结束了！@雷军 @林斌_Bin ”
                    </li>
                    <li>
                        <div class="author">- @Bentely-H</div>
                        “强烈要求活动范围由小米之家扩大到全部小米授权维修点！！！”
                    </li>
                    <li>
                        <div class="author">- @bingo_LS</div>
                        “换了天然竹后盖，感觉用新手机一样，摸上去好有feel！”
                    </li>
                    <li>
                        <div class="author">- @阿阿阿布AnB</div>
                        “小米接二连三给我惊喜! are you ok！”
                    </li>
                    <li>
                        <div class="author">- @红魔仔taxi22</div>
                        “换了天然竹后盖，B格提升了不少！”
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section section-wrap7">
        <div class="container">
            <div class="content">
                <h2>有售后，放心购</h2>
                <p>小米售后服务不断升级
                    <br />超过200家支持在线预约服务</p>
                <a href="//www.mi.com/static/maintainlocation/" target="_blank" class="btn">
                查询离你最近的授权服务门店
            </a>
            </div>
        </div>
    </div>
    <div class="section section-wrap8">
        <div class="container">
            <div class="content">
                <div class="title">
                    <h2>小米Note适用配件</h2>
                </div>
                <ul>
                    <li class="first">
                        <a href="//item.mi.com/1150300006.html" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v08/product-01.jpg?v=0995d34">
                        </a>
                        <div class="link">
                            <a href="//item.mi.com/1150300006.html" target="_blank" class="title">智能唤醒翻盖保护套</a>
                        </div>
                        <p class="desc">仿羊皮手感 支持智能唤醒 节省电源键</p>
                        <p class="price">49元</p>
                        <a href="//item.mi.com/1150300006.html" target="_blank" class="btn">立即购买</a>
                    </li>
                    <li>
                        <a href="//www.mi.com/shouhuan/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v08/product-02.jpg?v=0af4abc">
                        </a>
                        <div class="link">
                            <a href="//www.mi.com/shouhuan/" target="_blank" class="title">小米手环 光感版</a>
                        </div>
                        <p class="desc">心率、运动、睡眠全掌控</p>
                        <p class="price">99元</p>
                        <a href="//www.mi.com/shouhuan/" target="_blank" class="btn">立即购买</a>
                    </li>
                    <li>
                        <a href="//www.mi.com/capsuleearphone/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v08/product-03.jpg?v=10335fd">
                        </a>
                        <div class="link">
                            <a href="//www.mi.com/capsuleearphone/" target="_blank" class="title">小米胶囊耳机</a>
                        </div>
                        <p class="desc">舒适佩戴，创新胶囊外观设计</p>
                        <p class="price">69元</p>
                        <a href="//www.mi.com/capsuleearphone/" target="_blank" class="btn">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="showBox" class="modal modal-show-box fade hide">
        <span class="close" data-dismiss="modal">X</span>
        <div class="modal-body">
            <p>您已点赞过啦～不要重复点赞哟～～～</p>
        </div>
        <div class="modal-footer">
            <a href="//hd.mi.com/y/07041o/index.html" data-dismiss="modal">返回活动首页</a>
        </div>
    </div>
    <div class="section section-footer">
        <div class="container">
            <p>©<a href="//www.mi.com/" target="_blank" title="mi.com">mi.com</a> 京ICP证110507号 京ICP备10046444号 <a rel="nofollow" href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020134" target="_blank">京公网安备11010802020134号 </a>
                <a rel="nofollow" href="//c1.mifile.cn/f/i/2013/cn/jingwangwen.jpg" target="_blank">京网文[2014]0059-0009号</a>
            </p>
            探索黑科技，小米为发烧而生
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v08/script.min.js?v=684ed4a"></script>
</body>

</html>