.fade {
	opacity: 0;
	transition: opacity .15s linear;
	&.in {
		opacity: 1;
	}
}

.modal-backdrop {
	position: fixed !important;
	_position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: #000;
	&.fade {
		opacity: 0;
	}
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: 0.5;
}

.modal {
	position: fixed !important;
	top: 50%;
	left: 50%;
	_position: absolute;
	_top: 15%;
	_margin-top: 0;
	z-index: 102;
	width: 660px;
	margin-left: -330px;
	margin-top: -300px;
	background-color: #fff;
	outline: none;
	&.fade {
		transition: opacity .4s linear, top .4s ease-out;
		top: -25%;
		&.in {
			top: 50%;
			_top: 15%;
		}
	}
	.close {
		position: absolute;
		top: 14px;
		right: 14px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: #666;
		cursor: pointer;
		transition: all .2s;
		z-index: 10;
		border-radius: 15px;
		&:hover {
			color: #fff;
		}
		.iconfont {
			font-size: 24px;
			font-weight: 200;
			vertical-align: middle;
		}
	}
	&-hide {
		display: none;
	}
}

.modal-header,
.modal-hd {
	position: relative;
	height: 32px;
	padding: 14px 20px;
	background-color: #ccc;
	h3,
	.title {
		margin: 0;
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
		color: #333;
	}
}

.modal-body,
.modal-bd {
	position: relative;
	max-height: 400px;
	padding: 40px 60px;
}

.modal-footer,
.modal-ft {
	height: 40px;
	padding: 20px 0;
	border-top: 1px solid #eee;
	text-align: center;
	background-color: #fff;

	.btn {
		margin: 0 7px;
	}
}

.modal-alert {
	width: 500px;
	margin-left: -250px;
	.modal-bd {
		padding: 60px 60px 40px;
		text-align: center;
	}
	.text {
		min-height: 130px;
	}
	h3,
	.title {
		margin: 0;
		font-size: 30px;
		font-weight: 400;
		line-height: 50px;
		color: #333;
	}
	p {
		margin: 0;
		font-size: 18px;
		line-height: 30px;
		color: #666;
	}
	.actions {
		.btn {
			margin: 0 7px;
		}
	}
}
