<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>和小米一起看奥运-小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v05/style.min.css?v=97d27c8">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body>
    <div class="J_olympicVisibleWatcher" id="web" v-cloak>
        <div class="section section-header">
            <div class="container">
                <div class="link">
                    <a href="//www.mi.com/index.html" target="_blank" class="logo">小米网</a>
                    <span class="desc">
                    <i></i>
                    距离奥运会开幕还有<em class="J_day"></em>天
                </span>
                </div>
                <div class="content">{{headerContent}}</div>
            </div>
        </div>
        <div class="section section-mitv">
            <div class="container">
                <div class="content">
                    <div class="list" id="J_listPic">
                        <template v-for="(index, todo) in bannerList">
                            <a href="{{todo.buy_url}}" target="_blank" :class="todo.slot ? 'current' : ''">
                                <img v-bind:src="'/public/img/hd_v05/' + todo.image" alt="{{todo.title}}">
                            </a>
                        </template>
                    </div>
                    <div class="page">
                        <span class="first current">43"</span>
                        <span>48"</span>
                        <span>55"</span>
                        <span>60"</span>
                        <span>65"</span>
                        <span>70"</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="ul-list clearfix">
                    <template v-for="(index, todo) in mitvList">
                        <li class="item-0{{index + 1}}">
                            <i v-if="todo.icon" class="iconfont"></i>
                            <a v-if="todo.image != ''" href="{{todo.buy_url}}" target="_blank" class="img">
                                <img v-bind:src="'/public/img/hd_v05/' + todo.image" alt="{{todo.title}}">
                            </a>
                            <div class="text">
                                <h2 class="title">{{todo.title}}</h2>
                                <p class="desc">{{todo.desc}}</p>
                                <p class="price"><em>{{todo.price}}</em>元
                                    <del v-if="todo.price != todo.market_price">{{todo.market_price}}元</del>
                                </p>
                                <a href="{{todo.buy_url}}" target="_blank" class="btn">立即购买</a>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="section section-bigScreen">
            <div class="container">
                <div class="content">
                    <h2 class="title">{{bigScreenTitle}}</h2>
                    <p class="desc">{{bigScreenDesc}}</p>
                </div>
                <ul class="list clearfix">
                    <template v-for="(index, todo) in bigScreenList">
                        <li class="item-0{{index + 1}}">
                            <div class="text">
                                <h2 class="title">{{todo.title}}</h2>
                                <p class="desc">{{todo.desc}}<br />{{todo.desc1}}</p>
                                <p class="price"><em>{{todo.price}}</em>元起
                                    <del v-if="todo.price != todo.market_price">{{todo.market_price}}元</del>
                                </p>
                                <a href="{{todo.buy_url}}" target="_blank" class="btn" :class="todo.btn ? 'btn-mipad': 'btn-mimax'">立即购买</a>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="section section-hezi">
            <div class="container">
                <div class="content">
                    <h2 class="title">{{heziTitle}}</h2>
                    <p class="desc">{{heziDesc}}</p>
                </div>
                <ul class="list clearfix">
                    <template v-for="(index, todo) in heziList">
                        <li class="item-0{{index + 1}}">
                            <i v-if="todo.icon" class="iconfont"></i>
                            <a v-if="todo.image != ''" href="{{todo.buy_url}}" class="img" target="_blank">
                                <img v-bind:src="'/public/img/hd_v05/' + todo.image" alt="{{todo.title}}">
                            </a>
                            <div class="text">
                                <h2 class="title">{{todo.title}}</h2>
                                <p class="desc">{{todo.desc}}<br />{{todo.desc1}}</p>
                                <p class="price"><em>{{todo.price}}</em>元
                                    <del v-if="todo.price != todo.market_price">{{todo.market_price}}元</del>
                                </p>
                                <a href="{{todo.buy_url}}" target="_blank" class="btn btn-primary">立即购买</a>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="section section-radio">
            <div class="container">
                <div class="content">
                    <h2 class="title">{{radioTtile}}</h2>
                    <p class="desc">{{radioDesc}}</p>
                </div>
                <ul class="list clearfix">
                    <template v-for="(index, todo) in radioList">
                        <li class="item-0{{index + 1}}">
                            <a v-if="todo.image != ''" href="{{todo.buy_url}}" target="_blank" class="img">
                                <img v-bind:src="'/public/img/hd_v05/' + todo.image" alt="{{todo.title}}">
                            </a>
                            <div class="text">
                                <h2 class="title">{{todo.title}}</h2>
                                <p class="desc">{{todo.desc}}<br />{{todo.desc1}}</p>
                                <p class="price"><em>{{todo.price}}</em>元
                                    <del v-if="todo.price != todo.market_price">{{todo.market_price}}元</del>
                                </p>
                                <a href="{{todo.buy_url}}" target="_blank" class="btn">立即购买</a>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="section section-footer">
            <div class="container">
                <div class="content">
                    探索黑科技，小米为发烧而生
                    <br />京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v05/script.min.js?v=e424d42"></script>
</body>

</html>