<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>和小米一起看奥运-小米商城</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v05/style.min.css?v=a2b24d4">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body>
    <div class="J_olympicVisibleWatcher">
        <div class="section section-header">
            <div class="container">
                <div class="link">
                    <a href="//www.mi.com/index.html" target="_blank" class="logo">小米网</a>
                    <span class="desc">
                    <i></i>
                    距离奥运会开幕还有<em class="J_day"></em>天
                </span>
                </div>
                <div class="content">
                    7月25日至8月20日限时降价，55" / 60" 电视 3299元起
                </div>
            </div>
        </div>
        <div class="section section-mitv">
            <div class="container">
                <div class="content">
                    <div class="list" id="J_listPic">
                        <a href="//www.mi.com/mitv3s/43/" target="_blank" class="current">
                            <img data-src="../../public/img/hd_v05/mitv43-bg.jpg?v=74340cc">
                        </a>
                        <a href="//www.mi.com/mitv3s/48/" target="_blank">
                            <img data-src="../../public/img/hd_v05/mitv48-bg.jpg?v=8a727c3">
                        </a>
                        <a href="//www.mi.com/mitv3/55/" target="_blank">
                            <img data-src="../../public/img/hd_v05/mitv55-bg.jpg?v=659833e">
                        </a>
                        <a href="//www.mi.com/mitv3/60/" target="_blank">
                            <img data-src="../../public/img/hd_v05/mitv60-bg.jpg?v=693e49e">
                        </a>
                        <a href="//www.mi.com/mitv3s/65/" target="_blank">
                            <img data-src="../../public/img/hd_v05/mitv65-bg.jpg?v=5615e2d">
                        </a>
                        <a href="//www.mi.com/mitv3/70/" target="_blank">
                            <img data-src="../../public/img/hd_v05/mitv70-bg.jpg?v=c9338d4">
                        </a>
                    </div>
                    <div class="page">
                        <span class="first current">43"</span>
                        <span>48"</span>
                        <span>55"</span>
                        <span>60"</span>
                        <span>65"</span>
                        <span>70"</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="ul-list clearfix">
                    <li class="item-01">
                        <i class="iconfont"></i>
                        <a href="//www.mi.com/mitv3/55/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/mitv55.jpg?v=4be7e4f" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米电视3 55英寸</h2>
                            <p class="desc">原装真4K屏，主机、屏幕可独立升级</p>
                            <p class="price"><em>3299</em>元起
                                <del>3999元起</del>
                            </p>
                            <a href="//www.mi.com/mitv3/55/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-02">
                        <i class="iconfont"></i>
                        <a href="//www.mi.com/mitv3s/43/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/mitv43.jpg?v=24496fa" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米电视3S 43英寸</h2>
                            <p class="desc">小尺寸高端旗舰，超薄金属机身设计</p>
                            <p class="price"><em>1499</em>元起
                                <del>1799元</del>
                            </p>
                            <a href="//www.mi.com/mitv3s/43/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-03">
                        <i class="iconfont"></i>
                        <div class="text">
                            <h2 class="title">小米电视3 60英寸</h2>
                            <p class="desc">4K分体电视新选择，广色域、不拖影</p>
                            <p class="price"><em>4299</em>元起
                                <del>4999元起</del>
                            </p>
                            <a href="//www.mi.com/mitv3/60/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-04">
                        <a href="//www.mi.com/mitv3s/48/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/mitv48.jpg?v=c51f732" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米电视3S 48英寸</h2>
                            <p class="desc">三星原装液晶屏，特殊图像增强技术</p>
                            <p class="price"><em>1999</em>元
                                <del></del>
                            </p>
                            <a href="//www.mi.com/mitv3s/48/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-05">
                        <a href="//www.mi.com/mitv3s/65/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/mitv65.jpg?v=5fb1200" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米电视3S 65英寸</h2>
                            <p class="desc">超薄 4K 曲面屏，各角度都不失真</p>
                            <p class="price"><em>8999</em>元
                                <del></del>
                            </p>
                            <a href="//www.mi.com/mitv3s/65/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-06">
                        <a href="//www.mi.com/mitv3/70/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/mitv70.jpg?v=4bb627c" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米电视3 70英寸</h2>
                            <p class="desc">日本夏普原装 4K 屏，大屏大震撼</p>
                            <p class="price"><em>9999</em>元
                                <del></del>
                            </p>
                            <a href="//www.mi.com/mitv3/70/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-bigScreen">
            <div class="container">
                <div class="content">
                    <h2 class="title">大屏在手看奥运</h2>
                    <p class="desc">大屏手机小米Max 现货购买，全金属小米平板2 仅 999 元</p>
                </div>
                <ul class="list clearfix">
                    <li class="item-01">
                        <div class="text">
                            <h2 class="title">小米手机Max</h2>
                            <p class="desc">6.44" 黄金尺寸大屏，看什么都震撼
                                <br />4850mAh 大电量，享受赛事不断电</p>
                            <p class="price"><em>1499</em>元起</p>
                            <a href="//www.mi.com/mimax/" target="_blank" class="btn btn-mimax">立即购买</a>
                        </div>
                    </li>
                    <li class="item-02">
                        <div class="text">
                            <h2 class="title">小米平板 2</h2>
                            <p class="desc">7.9 英寸视网膜屏幕，画质明锐清晰
                                <br />全金属机身持握好手感，可选 Windows 版本</p>
                            <p class="price"><em>999</em>元起</p>
                            <a href="//www.mi.com/mipad2/" target="_blank" class="btn btn-mipad">立即购买</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-hezi">
            <div class="container">
                <div class="content">
                    <h2 class="title">有盒子精彩赛事不错过</h2>
                    <p class="desc">小米盒子3 直降 50 元，海量内容任你选</p>
                </div>
                <ul class="list clearfix">
                    <li class="item-01">
                        <i class="iconfont"></i>
                        <div class="text">
                            <h2 class="title">小米盒子3</h2>
                            <p class="desc">全新升级 64位 4K网络机顶盒
                                <br />追剧神器，热门电影在家也能看</p>
                            <p class="price"><em>249</em>元
                                <del>299元</del>
                            </p>
                            <a href="//www.mi.com/hezi3/" target="_blank" class="btn btn-hezi3">立即购买</a>
                        </div>
                    </li>
                    <li class="item-02">
                        <i class="iconfont"></i>
                        <a href="//www.mi.com/hezimini/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/hezi-mini.jpg?v=b780878" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米盒子mini版</h2>
                            <p class="desc">全高清网络机顶盒
                                <br />仅插座大小，家庭影院小帮手</p>
                            <p class="price"><em>179</em>元
                                <del>199元</del>
                            </p>
                            <a href="//www.mi.com/hezimini/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-03">
                        <a href="//www.mi.com/hezi3s/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/hezi3s.jpg?v=2ba2284" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米盒子3 增强版</h2>
                            <p class="desc">高端 4K 网络机顶盒
                                <br />超强6核处理器，玩游戏也没问题</p>
                            <p class="price"><em>399</em>元
                                <del></del>
                            </p>
                            <a href="//www.mi.com/hezi3s/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-radio">
            <div class="container">
                <div class="content">
                    <h2 class="title">激情与呐喊全都听的见</h2>
                    <p class="desc">家庭音响套装 899 元，小米圈铁耳机仅 99 元</p>
                </div>
                <ul class="list clearfix">
                    <li class="item-01">
                        <div class="text">
                            <h2 class="title">小米网络收音机</h2>
                            <p class="desc">WiFi 直连，精彩赛事直接听
                                <br />2 英寸扬声器，音场通透宽阔</p>
                            <p class="price"><em>129</em>元</p>
                            <a href="//www.mi.com/radio/" target="_blank" class="btn btn-radio">立即购买</a>
                        </div>
                    </li>
                    <li class="item-02">
                        <a href="//www.mi.com/quantie/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/erji.jpg?v=c472b1f" alt="">
                        </a>
                        <div class="text">
                            <h2 class="title">小米圈铁耳机</h2>
                            <p class="desc">双发声单元，还原音乐细节</p>
                            <p class="price"><em>99</em>元</p>
                            <a href="//www.mi.com/quantie/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-03">
                        <a href="//www.mi.com/pocketaudio/" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/yinxiang.jpg?v=9dbf70c">
                        </a>
                        <div class="text">
                            <h2 class="title">小米蓝牙音箱</h2>
                            <p class="desc">能装进口袋的好音箱</p>
                            <p class="price"><em>199</em>元</p>
                            <a href="//www.mi.com/pocketaudio/" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-04">
                        <a href="//item.mi.com/1160800073.html" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/taozhuang1.jpg?v=cca5154">
                        </a>
                        <div class="text">
                            <h2 class="title">小米家庭音响 金属版</h2>
                            <p class="desc">震撼好声音，全金属材质</p>
                            <p class="price"><em>899</em>元</p>
                            <a href="//item.mi.com/1160800073.html" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                    <li class="item-05">
                        <a href="//item.mi.com/1161200065.html" target="_blank" class="img">
                            <img data-src="../../public/img/hd_v05/taozhuang2.jpg?v=cd99c34">
                        </a>
                        <div class="text">
                            <h2 class="title">主机低音炮套装</h2>
                            <p class="desc">无需换屏，轻松升级你的电视</p>
                            <p class="price"><em>1398</em>元
                                <del>1598元</del>
                            </p>
                            <a href="//item.mi.com/1161200065.html" target="_blank" class="btn">立即购买</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-footer">
            <div class="container">
                <div class="content">
                    探索黑科技，小米为发烧而生
                    <br />京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v05/script.min.js?v=246ec98"></script>
</body>

</html>