<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>小米换新季，给你新惊喜 -- 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v17/style.min.css?v=39ad0a3">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body>
    <div class="section section-header">
        <div class="container">
            <div class="link">
                <a href="index.html" target="_blank">活动规则 &gt;</a>
                <a href="index.html" target="_blank">返回小米网 &gt;</a>
            </div>
            <div class="text">
                <p>神秘新品即将上线&nbsp;&nbsp;
                    <br>超值套装惊喜优惠</p>
            </div>
        </div>
        <div class="bg01"></div>
        <div class="bg02"></div>
    </div>
    <div class="section section-wrap1">
        <div class="container">
            <div class="description">
                春天来了，万象更新，一切又是一幅生机勃勃勃的样子
                <br />新的一年、新的学期、新的生活、新的开始、新的朋友...
                <br />小米换新季，给你新惊喜
            </div>
            <div class="content">
                <div class="img"></div>
                <div class="text">
                    <h2>神秘新品28日震撼发布</h2>
                    <p class="desc">围观发布会，互动赢新品购买资格</p>
                    <div class="btn-box">
                        <a href="javascript:void(0);" class="btn">立即参与</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-wrap2">
        <div class="container">
            <h2>换部新手机，迎接新机遇</h2>
            <div class="content-list">
                <div class="pic01"></div>
                <div class="pic02"></div>
                <div class="text01">
                    <h2>红米Note 4X</h2>
                    <p class="desc">多彩金属/4100mAh超长续航 / 骁龙
                        <br />625处理器</p>
                    <div class="price">
                        ￥<span>999</span>
                    </div>
                    <a href="javascript:void(0);" class="btn">立即购买</a>
                    <p class="msg">24日 28日 早10点开售</p>
                </div>
                <div class="text02">
                    <h2>红米 4</h2>
                    <p class="desc">长续航金属千元旗舰手机</p>
                    <div class="price">
                        ￥<span>799</span>起
                    </div>
                    <a href="javascript:void(0);" class="btn">立即购买</a>
                    <div class="msg">每日早10点开售</div>
                </div>
            </div>
            <div class="items-list" id="J_xmPhone">

            </div>
        </div>
    </div>
    <div class="section section-wrap3">
        <div class="container">
            <h2>新学期，重返校园你需要新装备</h2>
            <div class="infor">作为学霸的你，需要的不仅是一台轻盈高性能的笔记本
                <br /> 一盏好台灯帮助你保持专注的同时，还能保护你的眼睛
                <br /> 而一只好笔，更能帮你找回书写的快乐
            </div>
            <div class="content">
                <div class="items-list">
                    <ul class="clearfix">
                        <li class="items-1">
                            <div class="text">
                                <h3>学习工作必备套装</h3>
                                <p>米家LED台灯+小米插线板6位 + 米家签字笔</p>
                                <div class="price">
                                    领券价¥<span>229</span>
                                    <del>¥<span>262.9</span></del>
                                </div>
                                <div class="btn-box">
                                    <a href="javascript:void(0);" class="btn btn01">分享领券</a>
                                    <a href="javascript:void(0);" class="btn btn02">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="items-2">
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item04.jpg?v=1313727">
                                <div class="cite cite1"></div>
                                <h3>小米笔记本Air 13.3英寸</h3>
                                <div class="price">
                                    ￥<span>4999</span>
                                </div>
                            </a>
                        </li>
                        <li class="items-2">
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item05.jpg?v=78b7807">
                                <div class="cite cite2"></div>
                                <h3>小米笔记本Air 12.5英寸</h3>
                                <div class="price">
                                    ￥<span>3499</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="list" id="J_xiaoyuan">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-wrap4">
        <div class="container">
            <div class="infor">
                有没有过
                <br /> 赶上课、赶地铁时，总恨不得多长两条腿？
                <br /> 在路上手机没电，最怕空气突然安静？
                <br /> 这些尴尬不用怕，新装备助你出行酷人一步！
            </div>
            <div class="content">
                <div class="items-list">
                    <ul class="clearfix">
                        <li class="items-1">
                            <div class="text">
                                <h3>出行必备套装</h3>
                                <p>小米自拍杆+移动电源10000mAh高配版+胶囊耳机</p>
                                <div class="price">
                                    领券价¥<span>229</span>
                                    <del>¥<span>267</span></del>
                                </div>
                                <div class="btn-box">
                                    <a href="javascript:void(0);" class="btn btn01">分享领券</a>
                                    <a href="javascript:void(0);" class="btn btn02">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="items-2">
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item07.jpg?v=6a5a0b3">
                                <div class="cite cite1"></div>
                                <h3>九号平衡车</h3>
                                <div class="price">
                                    ￥<span>1999</span>
                                </div>
                            </a>
                        </li>
                        <li class="items-2">
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item08.jpg?v=90e9de9">
                                <div class="cite cite2"></div>
                                <h3>米家骑记电助力折叠自行车</h3>
                                <div class="price">
                                    ￥<span>2999</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-wrap5">
        <div class="container">
            <h2>新一年的健身计划，你需要这些好物</h2>
            <div class="infor">
                过年胖、过劳胖，喝口凉水都会胖
                <br /> 你是不是又给自己定下了新一年的健身计划？
                <br /> 你需要的不只是决心，这些好物也能帮到你
            </div>
            <div class="content">
                <div class="items-list">
                    <ul class="clearfix">
                        <li class="items-1">
                            <div class="text">
                                <h3>男神女神运动套装</h3>
                                <p>经典连帽休闲卫衣+多功能都市休闲胸包+圈铁耳机</p>
                                <div class="price">
                                    领券价¥<span>259</span>
                                    <del>¥<span>277</span></del>
                                </div>
                                <div class="btn-box">
                                    <a href="javascript:void(0);" class="btn btn01">分享领券</a>
                                    <a href="javascript:void(0);" class="btn btn02">立即购买</a>
                                </div>
                            </div>
                        </li>
                        <li class="items-2">
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item10.jpg?v=f4095e8">
                                <div class="cite cite1"></div>
                                <h3>米家骑记电助力折叠自行车</h3>
                                <div class="price">
                                    ￥<span>2999</span>
                                </div>
                            </a>
                        </li>
                        <li class="items-2">
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item11.jpg?v=c10d14e">
                                <div class="cite cite2"></div>
                                <h3>米家骑记电助力折叠自行车</h3>
                                <div class="price">
                                    ￥<span>2999</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-wrap6">
        <div class="container">
            <h2>更智能的家居，给生活新感受</h2>
            <div class="infor">
                看电视、吃饭、喝水乃至呼吸空气
                <br /> 小米智能家居可以改变你生活的方方面面
                <br /> 让家变的更智能，给生活一些新感受
                <br />
            </div>
            <div class="content">
                <div class="items-list">
                    <ul class="clearfix">
                        <li>
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item12.jpg?v=fdeb7a4">
                                <div class="cite cite1"></div>
                                <h3>小米电视3s 65英寸 影院版</h3>
                                <div class="price">
                                    ￥<span>6699</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <img data-src="/public/img/hd_v17/item13.jpg?v=b753e48">
                                <div class="cite cite2"></div>
                                <h3>小米空气净化器2</h3>
                                <div class="price">
                                    ￥<span>699</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="list" id="J_jiaju">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-wrap7">
        <div class="container">
            <h2>更智能的家居，给生活新感受</h2>
            <div class="content">
                <div class="items-list" id="J_gengduo">

                </div>
            </div>
        </div>
    </div>
    <div class="section section-footer">
        <div class="container">
            <p>
                京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号
                <br> 探索黑科技，小米为发烧而生
            </p>
        </div>
    </div>

    <script type="text/x-dot-template" id="J_productTemp">
        <ul>
            {{~it :value:index}}
            <li>
                <a href="{{=value.image_url}}" target="_blank">
                    <img src="{{=value.image}}">
                    <h3>{{=value.title}}</h3>
                    <p>{{=value.brief}}</p>
                    <div class="price">
                        &yen;<span>{{=value.price}}</span> {{? value.price_unit === '1'}}起{{? }}
                    </div>
                </a>
            </li>
            {{~}}
        </ul>
    </script>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v17/script.min.js?v=45d0f19"></script>
</body>

</html>