<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>绿色服务月 -- 小米商城</title>
    <link rel="shortcut icon" href="/common/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/hd_v03/style.min.css?v=5087040">
    <script>
        var UA = navigator.userAgent;
        var search = location.search;
        //移动端地址跳转
        if (UA.match(/Android/i) || (UA.indexOf('iPhone') != -1) || (UA.indexOf('iPod') != -1) || (UA.indexOf('iPad') != -1)) {
            window.location = 'index.html' + search;
        }
    </script>
</head>

<body class="bd">
    <div class="section section-items01">
        <div class="container">
            <div class="top-bar">
                <a href="javascript:void(0);" class="logo">小米商城</a>
                <a href="javascript:void(0);" class="return">返回小米商城 &gt;</a>
            </div>
            <h2>小米绿色服务月</h2>
            <div class="info-box">
                <p class="left-icon"></p>
                为你的绿色行动保驾护航
                <p class="right-icon"></p>
            </div>
            <div class="battery">
                <div class="mask"></div>
            </div>
            <p class="people-num">
                已有<span class="J_peopleNum" id="J_peopleNum"></span>人参与行动
            </p>
        </div>
    </div>
    <div class="section section-items02">
        <div class="container">
            <div class="content">
                <h3>我国每年约8000万部手机被淘汰，<br />定期护理能延长手机寿命，减少污染。</h3>
                <h2>护理手机来这里</h2>
                <p class="text">
                    服务月期间，到全国500家小米授权服务网点护理手机，
                    <br />送<span class="act-color">免费清洁</span>一次，送<span class="act-color">免费测血压</span>一次。
                </p>
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-primary">查询门店地址</a>
                    <a href="javascript:void(0);" class="btn btn-primary thumbs" data-likecode="lsxdhlsj">点赞行动</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-items03">
        <div class="container">
            <div class="content">
                <h3>一次5公里的路程，<br />骑车能消耗200大卡，节约碳排放1.3千克。</h3>
                <h2>绿色出行送福利</h2>
                <p class="text">
                    凭公交车票、自行车钥匙、共享单车支付截图，
                    <br /> 到全国500家小米授权服务网点进行维修或检测服务，
                    <br />
                    <span class="act-color">免手工费一次</span>。
                </p>
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-primary">查询门店地址</a>
                    <a href="javascript:void(0);" class="btn btn-primary thumbs" data-likecode="lsxdbacycle">点赞行动</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-items04">
        <div class="container">
            <div class="content">
                <h3>回收1万部手机，<br />能减少5万吨水污染、1万平方公里土地污染。</h3>
                <h2>回收旧手机</h2>
                <p class="text">
                    全国300家小米授权服务网点参与小米手机以旧换新服务，
                    <br />
                    <span class="act-color">以旧换新折价购新机</span>。
                </p>
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-primary">查询门店地址</a>
                    <a href="javascript:void(0);" class="btn btn-primary thumbs" data-likecode="lsxdoldphone">点赞行动</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-items05">
        <div class="container">
            <div class="content">
                <h3>1小时可以骑车10公里，步行4公里。<br />预约到店服务，能节约很多时间！</h3>
                <h2>预约到店免排队</h2>
                <p class="text">
                    全国300家小米授权服务网点开启1小时快修服务，
                    <br /> 活动期间参与
                    <span class="act-color">预约赠好礼</span>。
                </p>
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-primary">查询门店地址</a>
                    <a href="javascript:void(0);" class="btn btn-primary thumbs" data-likecode="lsxdother">点赞行动</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-items06">
        <div class="container">
            <div class="act-title">
                从纯白的北极熊到呆萌的胖哒，从朝圣圣地纳木措到纯净的大溪地，
                <br /> 从红海缤纷的珊瑚到加利福尼亚的巨型美洲杉...
                <br /> 地球如此珍贵，别在失去后才知道她的美。小行动，大不同。
            </div>
            <h2>开启你的绿色行动！</h2>
            <div class="act-photo-wall">
                <div class="content">
                    <ul class="list clearfix" id="J_list">
                        <li class="items-1 current" data-content="走路到地铁站" data-key="gosubway">走路到地铁站</li>
                        <li class="items-1" data-content="出行多骑车" data-key="morebacycle">出行多骑车</li>
                        <li data-content="旧手机回收" data-key="oldphone">旧手机回收</li>
                        <li data-content="旧衣服回收" data-key="usedclothes">旧衣服回收</li>
                        <li data-content="种一棵树" data-key="plantatree">种一棵树</li>
                        <li data-content="多看电子书" data-key="ebook">多看电子书</li>
                        <li data-content="自带购物袋" data-key="shopingbag">自带购物袋</li>
                        <li data-content="多维护手机" data-key="multimaintenancephone">多维护手机</li>
                    </ul>
                    <textarea class="custom" id="J_customerdefine" placeholder="选择行动，或写下更多你想做的事"></textarea>
                    <a href="javascript:void(0);" class="btn btn-share" id="J_share">分享行动，赢好礼</a>
                </div>
                <div class="photo-box">
                    <p>我的绿色行动</p>
                    <textarea class="custom-textarea" id="J_photos_text"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/hd_v03/script.min.js?v=0c48800"></script>

</body>

</html>